<div class="layout--content-primary">
  <div id="breadcrumb">
    <a href="/">{{ t('general_home') }}</a> &rarr;
    <a href="/games">{{ t('general_games') }}</a> &rarr;
    {{ link_to_game(game) }} &rarr;
    {{ type_name }} proofs

    {{ render_component_with("games/language-selection", {game_id: game.game_id}) }}
  </div>

  <h2>{{ type_name }} proofs for {{ link_to_game(game) }}</h2>

  {% if proof_type == 'v' %}
    <small><a href="{{ current_url_with_query({'type': 'p'}) }}">View image proofs</a></small>
  {% else %}
    <small><a href="{{ current_url_with_query({'type': 'v'}) }}">View video proofs</a></small>
  {% endif %}

  {% if records_by_user_id|length == 0 %}
    <p>{{ type_name }} proofs haven't been submitted to this game yet.</p>
  {% else %}
    {% for user_id, records in records_by_user_id %}
      <div class="proof_box">
        <a href="javascript:ToggleDivVisible('proofs{{ user_id }}');">
          <img src="/images/proof_box.png" alt="" />
          {{ user_avatar_image_tag(records[0], {'class': 'userpic', 'style': 'width: 50px'}) }}
          <span class="username">{{ records[0]['username'] }}</span>
          <span class="num_proofs">{{ records|length }}</span>
        </a>
      </div>
      <br />

      <div id="proofs{{ user_id }}" style="display:none;">
        <div style="display: flex; flex-wrap: wrap; gap: 20px;">
          {% for record in records %}
            <div style="display: flex; flex-direction: column">
              {{ record_proof(record) }}
              <div>
                {{ link_to_chart(record) }}
                &ndash;
                {{ link_to_record(record) }}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>
