<div class="layout--content-primary layout--content-primary-readable">
  {{ t('csmail_compose_intro')|raw }}

  <form class='labelled-form' action="/csmail-messages" method="post">
    <input type="hidden" name="reply_to_id" value="{{ reply_to_id }}" />
    <input type="hidden" name="forward" value="{{ is_forward ? "true" : "" }}" />
    <div class='labelled-form-label'><label for="to">{{ t('csmail_to') }}</label></div>
    <div class='labelled-form-value'><input id="to" type="text" name="to" value="{{ to_username }}" size="28" /></div>
    <div class='labelled-form-label'><label for="subject">{{ t('csmail_subject') }}</label></div>
    <div class='labelled-form-value'><input id="subject" type="text" name="subject" value="{{ subject }}" size="60" /></div>
    <div class='labelled-form-label'><label for="message">{{ t('general_message') }}</label></div>
    <div class='labelled-form-value'><textarea id="message" name="message" rows="15">{{ body }}</textarea></div>
    <div class='labelled-form-separator'>
      <input type="submit" value="{{ t('general_send_message') }}" />
    </div>
  </form>

  <p>{{ t('general_bbcode_explanation')|raw }}</p>

  <p>
    <strong>{{ t('csmail_monitor_note') }}</strong>
    {{ t('csmail_monitor_note_text') }}
  </p>
</div>
