<div class="layout--content-primary layout--content-primary-readable">
  <div id="breadcrumb" class="clearfix">
    <a href="/">{{ t('general_home') }}</a> &rarr;
    <a href="/csmails">{{ t('csmail_title') }}</a> &rarr;
    {{ t('csmail_read_title') }}
  </div>

  <h3>{{ message.subject }}</h3>
  <p><strong>{{ t('csmail_warning') }}</strong></p>

  <table class="csmailinfo">
    <tr>
      <td>
        <strong>{{ t('csmail_from') }}</strong>
        {{ message.from_username }}
        <br />
        <strong>{{ t('csmail_to') }}</strong>
        {{ message.to_username }}
        <br />
        <strong>{{ t('csmail_status') }}</strong>
        {{ print_status }}
      </td>

      {% if message.to_id == current_user.user_id %}
        <td style="text-align:right">
          <form action="/csmail-messages/new" method="get">
            <input type="hidden" name="to" value="{{ message.from_id }}" />
            <input type="hidden" name="reply_to" value="{{ message.csmail_id }}" />
            <input type="submit" name="go" value="{{ t('csmail_reply') }}" />
          </form>
          <form action="/csmail-messages/new" method="get">
            <input type="hidden" name="forward" value="true" />
            <input type="hidden" name="reply_to" value="{{ message.csmail_id }}" />
            <input type="submit" name="go" value="{{ t('csmail_forward') }}" />
          </form>
          <form action="/csmail-messages/{{ message.csmail_id }}/delete" method="post" onsubmit="return confirm('{{ t('csmail_delete_alert') }}')">
            <input type="hidden" name="folder" value="inbox" />
            <input type="hidden" name="action" value="delete" />
            <input type="submit" name="go" value="{{ t('general_delete') }}" />
          </form>
        </td>
      {% endif %}
    </tr>
  </table>

  <p>{{ prettify(message.message, t('csmail_quote')) }}</p>

  <p><b>{{ t('csmail_monitor_note') }}</b>
  <br />
  {{ t('csmail_monitor_note_text') }}
</div>
