{% if scoreboard|length > 0 %}
  <div class='sidebar-section small-scoreboard small-scoreboard--leader'>
    <h2 class="sidebar-title">
      {% if is_csp %}
      <a href="/game_scoreboard?game_id={{ game.game_id }}&board=csp">{{ t('game_scoreboard_leader') }}</a>
      {% else %}
      <a href="/game_scoreboard?game_id={{ game.game_id }}&board=trophy">{{ t('game_scoreboard_trophy') }}</a>
      {% endif %}
    </h2>
    <div class='sidebar-section-body'>
      {% for leader in scoreboard %}
        <div class='small-scoreboard-leader-entry small-scoreboard-leader-entry--{{ scoreboard|length }}'>
          <h3>
            {{ user_avatar_image_tag(leader, {'link': true}) }}
            {{ country_flag_image_tag(leader) }}
            {{ link_to_user(leader) }}
          </h3>

          {%- if leader.num_subs == 1 %}
            {{ t('general_submission_singular') }}
          {%- else %}
            {{ t('general_submission_plural', {'subs': leader.num_subs|number_format}) }}
          {%- endif %}
          {% if is_csp %}
          / {{ leader.total_csp|number_format(2) }} {{ t('general_csp') }}
          {% endif %}
          <br />

          <!-- Trophy case mini-display -->
          <div class='small-scoreboard-trophy-case'>
            {% for trophy in leader.trophy_case %}
              <img
                  src="/skins4/default/images/trophy_{{ trophy.number }}.png"
                  alt="{{ trophy.title|e('html_attr') }}"
                  title="{{ trophy.title|e('html_attr') }}" />
            {% endfor %}

            <!-- Trophy Points -->
            <img
              src="/skins4/default/images/trophy_points_trophy.png"
              alt="Trophy Points"
              title="Trophy Points" />

            <span class='small-scoreboard-trophy-points'>{{ leader.trophies.trophy_points }}</span>
          </div>
        </div>
      {% endfor %}

      <div class='small-scoreboard-more'>
        {% if is_csp %}
        <a href="/game_scoreboard?game_id={{ game.game_id }}&board=csp">{{ t('game_full_scoreboard') }}</a>
        <br>
        {% endif %}
        <a href="/game_scoreboard?game_id={{ game.game_id }}&board=trophy">{{ t('game_full_trophy_case') }}</a>
      </div>
    </div>
  </div>
{% endif %}
