<style>
.sortable-ghost {
  box-shadow: 0 0 10px yellow !important;
}

.sortable-drag {
  opacity: 0.1;
}

.dashboard-editor {
  max-width: 450px;
}
.dashboard-editor-entries {
}
.dashboard-editor-new {
  display: flex;
  padding: 10px 0px;
  gap: 5px;
}
.dashboard-editor-new select {
  flex: 1;
}
.dashboard-editor-entry {
  margin-bottom: 10px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.75);
  border: 1px solid #333;
}

.scoreboard-widget-header {
  cursor: grab;
  color: white;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.75);
  height: 20px;

  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 5px;
}

.scoreboard-widget-header :nth-child(1) { flex: 1; }

.dashboard-editor-entry.htmx-added { background-color: rgba(255,255,0,0.25); }
.dashboard-editor-entry            { transition: background-color 1s ease-out; }

.dashboard-editor-entry .scoreboard-widget-header::before {
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
  display: block;
  content: var(--content);
  filter: invert(var(--filter)) drop-shadow(1px 1px 2px rgba(0,0,0,0.75));
  background-image: var(--image);
}

.scoreboard-widget-edit {
  padding: 5px;
}

.dashboard-editor-entry-remove button {
  cursor: pointer;
  font-family: Ubuntu;
  font-size: 0.8em;
}

</style>
<div class='layout--content-primary'>
  <h1>Edit your dashboard (<a href='/dashboard'>Back to dashboard</a>)</h1>

  <div class='dashboard-editor'>
    <form class='dashboard-editor-new'
          hx-get='/dashboard-widgets/new'
          hx-target='next .dashboard-editor-entries'
          hx-swap='beforeend'>
      <select name='widget_id'>
        {% for widget in available_widgets %}
          <option value='{{ widget }}'>{{ t('widget_title_' ~ widget|replace({'-': '_'})) }}</option>
        {% endfor %}
      </select>
      <div><input type='submit' value='Add' /></div>
    </form>
    <div class='dashboard-editor-entries'>
      {% for widget in dashboard.config.widgets %}
        {{ render_partial('dashboard-widgets/new', { 'widget': widget }) }}
      {% endfor %}
    </div>
    <form class='dashboard-editor-save' id='dashboard-editor-save' method='post' action='/dashboard'>
      <input type='submit' value='Save' />
    </div>
  </div>
</div>
<script>
const el = document.querySelector('.dashboard-editor-entries');
const sortable = Sortable.create(el, {
  animation: 150,
  handle: '.scoreboard-widget-header',
});
</script>
