<div class='layout--content-primary'>
  <h1 style="margin-left:10px;">
    {{ user.username }}'s Dashboard
    {% if can_edit %}
      (<a href='/dashboard/edit'>Edit</a>)
    {% endif %}
  </h1>
  <div style="column-width: 450px; column-gap: 10px;">
    {% for widget in dashboard.config.widgets %}
      {{ render_component_with('widgets/' ~ widget.widget, widget.params) }}
    {% endfor %}
  </div>
</div>
