<style>
  table.zebra, table.zebra th, table.zebra td {
    border: 2px solid #0077b2;
    padding: 5px;
    text-align: center;
  }
</style>
<div class="layout--content-primary">
  <div id="breadcrumb" class="clearfix">
    <a href="/">Home</a>
  </div>

  <h1>Access Levels on Cyberscore</h1>
  <table class="zebra">
    <tr>
      <th></th>
      <th><img src="/images/Star_Pink16.png"></th>
      <th><img src="/images/Star_Red16.png"></th>
      <th><img src="/images/Star_Blue16.png"></th>
      <th><img src="/images/Star_Violet16.png"></th>
      <th><img src="/images/Star_LightGreen16.png"></th>
      <th><img src="/images/Star_Green16.png"></th>
      <th><img src="/images/Star_Black16.png"></th>
      <th><img src="/images/Star_Yellow16.png"></th>
      <th><img src="/images/Star_Orange16.png"></th>
    </tr>
    <tr>
      <th>User</th>
      {% for role in roles %}
        <th>{{ role.label }}</th>
      {% endfor %}
    </tr>
    {% for user in users %}
      <form action="/admin/access_management/{{ user.user_id }}" method="post">
        <tr>
          <th>{{ link_to_user(user) }}</th>
          {% for role in roles %}
            <td>
              <label class="slider_switch">
                <input
                  type="checkbox"
                  {% if user.roles[role.id] %}checked{% endif %}
                  name="user_group[]"
                  value="{{ role.value }}"
                />
                <span class="slider round"></span>
              </label>
            </td>
          {% endfor %}
          <td border="0">
            {% if has_access('Admin') %}
              <input type="submit" value="Change for this user" />
            {% endif %}
          </td>
        </tr>
      </form>
    {% endfor %}
  </table>
</div>

<div class="layout--sidebar-primary">
  {% if has_access('Admin') %}
    <div class='sidebar-section'>
      <h2 class='sidebar-title'>Add new user</h2>
      <div class='sidebar-section-body'>
        <form class='labelled-form' action="/admin/access_management" method="post">
          <div class='labelled-form-label'>
            <label for='user_id'>User ID:</label>
          </div>
          <div class='labelled-form-value'>
            <input type="text" id='user_id' name="user_id" />
          </div>
          <div class='labelled-form-label'>
          User group:
          </div>
          <div class='labelled-form-value'>
          <select name="user_group" />
            {% for role in roles %}
              <option value="{{ role.value }}">{{ role.label }}</option>
            {% endfor %}
          </select>
          </div>
          <div class='labelled-form-separator'>
            <input type="submit" value="Submit" />
          </div>
        </form>
      </div>
    </div>
  {% endif %}
</div>
