<div class="layout--content-primary">
  <div id="breadcrumb" class="clearfix">
    <a href="/">{{ t('general_home') }}</a> &rarr;
    {{ t('general_documentation') }}
  </div>

  <h1>Documentation</h1>
  <ul>
    <li><a href='/rules'>{{ t('general_site_rules') }}</a></li>
    <li><a href="/faq">{{ t('general_faq') }}</a></li>
    <li><a href="/mechanics">{{ t('documentation_mechanics_title') }}</a></li>
    <li><a href="/policies">{{ t('documentation_policies_title') }}</a></li>
    <li><a href="/staff">{{ t('documentation_staff_title') }}</a></li>
    <li><a href="/history">{{ t('general_history') }}</a></li>
    <li><a href="/changelog">{{ t('general_dev_changelog') }}</a></li>

    <li><a href="https://gitlab.com/cyberscore/cyberscore">{{ t('documentation_open_source') }}</a></li>
  </ul>
</div>
