Hello {{ username }}

According to your Cyberscore profile, it's your birthday today!
So on behalf of everyone here at Cyberscore, have a good one. Happy birthday!


{{ signature }}

---------------

{{ automated_warning }}
