<?php

Authorization::authorize(TODO);

${{ svar }} = {{ repository }}::get($_GET['id']);

if (!${{ svar }}) {
  $cs->PageNotFound();
}

{{ repository }}::delete(${{ svar }}['{{ svar }}_id']);

$cs->WriteNote(true, "The {{ svar }} has been deleted.");
redirect_to_back();
