<div class="layout--content-primary layout--content-primary-readable">
  <div id="breadcrumb">
    <a href="/">Home</a> &rarr;
    Platforms &rarr;
    Edit {{ platform.platform_name }}
  </div>

  <form class='labelled-form' action="/admin/platforms/{{ platform.platform_id }}" method="post">
    <div class='labelled-form-label'>
      <label>Manufacturer:</label>
    </div>
    <div class='labelled-form-value'>
      <input value="{{ platform.manufacturer }}" type="text" name="manufacturer" id="manufacturer" size="20" maxlength="20"/>
    </div>
    <div class='labelled-form-label'>
      <label for='platform_name'>Name:</label>
    </div>
    <div class='labelled-form-value'>
      <input value="{{ platform.platform_name }}" type="text" name="platform_name" id="platform_name" size="20" maxlength="50"/>
    </div>
    <div class='labelled-form-label'>
      <label for='short_name'>Short name:</label>
    </div>
    <div class='labelled-form-value'>
      <input value="{{ platform.short_name }}" type="text" name="short_name" id="short_name" size="20" maxlength="20"/>
    </div>
    <div class='labelled-form-separator'><input type="submit" value="Save" name="submit" /></div>
  </form>
</div>
