<style>
form.delete {
  display: inline;
}

form.delete input[type=submit] {
  background: none;
  color: var(--color-standard-light);
  font: normal 12px/16px Verdana, Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

.orphan-image { margin: 5px 0px; padding: 5px 0px; border-bottom: 1px solid black; }
.orphan-image img { display: block; }

</style>
<div class='layout--sidebar-primary'>
  <div class='sidebar-section'>
    <h3 class='sidebar-title'>Orphan platform images</h3>
    <div class='sidebar-section-body'>
      <p>These need to be deleted manually by developers.</p>

      {% for image in orphan_images %}
        <div class='orphan-image'>
          <img src="{{ image.url }}" />
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="layout--content-primary">
  <div id="breadcrumb" class="clearfix">
    <a href="/">Home</a> &rarr; Platforms
  </div>

  <h1>List of Platforms</h1>

  <p>Changes here cannot be undone. Only platforms which are not assigned to any game can be deleted.</p>

  <table class='zebra'>
    <tr>
      <th>ID</th>
      <th>Manufacturer</th>
      <th>Full Name</th>
      <th>Short Name</th>
      <th>Image</th>
      <th>Games</th>
      <th>Function</th>
    </tr>
    {% for platform in platforms %}
      <tr>
        <td>{{ platform.platform_id }}</td>
        <td>{{ platform.manufacturer }}</td>
        <td>{{ platform.platform_name }}</td>
        <td>{{ platform.short_name }}</td>
        <td><img class="platform_icon" src ="/uploads/platforms/{{ platform['platform_id'] }}.gif" alt="Missing icon: {{ platform['platform_name'] }}" title="{{ platform['platform_name'] }}" /></td>
        <td><a href="/games?platform_id={{ platform.platform_id }}">{{ platform.num_games }}</a></td>
        <td>
          <a href="/admin/platforms/{{ platform.platform_id }}/edit">Edit</a>
          {% if platform.num_games == 0 %}
            /
            <form
                class='delete'
                action="/admin/platforms/{{ platform.platform_id }}/delete"
                method="post">
              <input type="submit" value="Delete" />
            </form>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    <form action="/admin/platforms" method="post" enctype="multipart/form-data">
      <tr bgcolor="#eeeeee">
        <td></td>
        <td><input type="text" name="manufacturer" id="manufacturer" size="20" maxlength="20"/></td>
        <td><input required type="text" name="platform_name" id="platform_name" size="20" maxlength="20"/></td>
        <td><input required type="text" name="short_name" id="short_name" size="10" maxlength="20"/></td>
        <td><input type="file" name="icon" id="icon"</td>
        <td></td>
        <td><input type="submit" value="Add" /></td>
      </tr>
    </form>
  </table>
  <br />
</div>
