<div class="layout--content-primary">
  <div id="breadcrumb">
    <a href="/">Home</a> &rarr;
    Profile of {{ link_to_user(user) }} &rarr;
    Edit
  </div>

  <h1>User options</h1>
  <h2>Current user: {{ user.username }}</h2>

  <hr />

  <h3 class="middle">Edit profile</h3>
  <p>
    Update user's information <strong>responsibly</strong> and
    remove anything inappropriate/suspicious as you see necessary.
    If you edit this field, contact the user and let them know why.
  </p>

  <form action="/users/{{ user.user_id }}" method="post">
    <table style="width: auto">
      <tr>
        <td><strong>Username:</strong></td>
        <td>{{ text_field('username', user) }}</td>
      </tr>
      <tr>
        <td><strong>E-Mail address:</strong></td>
        <td>{{ email_field('email', user) }}</td>
      </tr>
      <tr>
        <th><label for="profile" style="padding-right: 5px;">Bio:</label></th>
        <td><textarea id='profile' name='profile' rows="6" style="width: 600px;">{{ user.profile }}</textarea></td>
      </tr>
      <tr>
        <th><label for="auth_verified" style="padding-right: 5px;">Email verified:</label></th>
        <td>{{ slider_field('auth_verified', user, 'y') }}</td>
      </tr>
      <tr>
        <th><label for="user_status" style="padding-right: 5px;">Account banned:</label></th>
        <td>{{ slider_field('user_status', user, 0) }}</td>
      </tr>
    </table>

    <input type="submit" name="submit" value="Save Changes" />
  </form>

  <p><strong>Register IP Address:</strong> {{ user.register_ip }}</p>
  <p><strong>Last Known IP Address:</strong> {{ user.last_ip }}</p>

  <hr>

  {% if has_avatar or has_banner %}
    <h3 class="middle">Avatar and banner</h3>
    <p>
      If the avatar or banner are in any way unsuitable for use on the site,
      please delete them accordingly.
    </p>

    <h4>Avatar</h4>
    {{ user_avatar_image_tag(user, {'alt': 'Profile picture'}) }}
    <form action="/user-avatars/{{ user.user_id }}/delete" method="post" onsubmit="return confirm('Are you absolutely sure you want to delete this user\'s avatar?')">
      <input type="submit" value="Delete avatar" />
    </form>

    <h4>Banner</h4>
    {{ user_banner_image_tag(user, {'alt': 'Profile banner'}) }}
    <form action="/user-banners/{{ user.user_id }}/delete" method="post" onsubmit="return confirm('Are you absolutely sure you want to delete this user\'s banner?')">
      <input type="submit" value="Delete banner" />
    </form>

    <hr>
  {% endif %}

  <h3 class="middle">Records</h3>
  <p>
    Select games from the list below in order to perform moderation functions on this user's records.
    Not selecting any games will load all records.
  </p>

  <form action="/user-records/{{ user.user_id }}" method="get">
    <p>
      <label for="HideUnproven" style="padding-right: 5px;">Unproven records only:</label>
      <label class="slider_switch"><input type="checkbox" name="unproven" id="HideUnproven" /><span class="slider round"></span></label>
    </p>

    <select name="game_ids[]" size="10" multiple="multiple">
      {% for game in user_games %}
        <option value="{{ game.game_id }}">
          {{ game.game_name }} ({{ game.num_subs }} submissions)
        </option>
      {% endfor %}
    </select>
    <br />
    <br />

    <select name="sort" id="sort">
      <option value="default">Default (Record status -&gt; Alphabetical by Game -&gt; Game's level order)</option>
      <option value="newest">Submission date (newest) -&gt; Record status -&gt; Alphabetical by Game -&gt; Game's level order</option>
      <option value="oldest">Submission date (oldest) -&gt; Record status -&gt; Alphabetical by Game -&gt; Game's level order</option>
    </select>
    <br />
    <br />

    <input type="submit" name="submit" value="Load records" />
  </form>
</div>

<div class='layout--sidebar-primary'>
  <div class='sidebar-section'>
    <h3 class='sidebar-title'>Moderator notes</h3>
    <div class='sidebar-section-body'>
      {% if user.mod_notes %}
        <p><i>{{ prettify(user.mod_notes) }}</i></p>

        {% if moderator %}
          <p>
            <strong>
              This mod note was last updated
              by {{ moderator.username }}
              on {{ format_datetime(user.mod_notes_date) }}
            </strong>
          </p>
        {% endif %}
      {% endif %}

      <form action="/users/{{ user.user_id }}" method="post">
        <textarea name="mod_notes" rows="5" style="width: 100%; box-sizing: border-box;">{{ user.mod_notes }}</textarea><br />
        <input type="submit" value="Edit mod notes" />
      </form>
    </div>
  </div>
  <div class='sidebar-section'>
    <h3 class='sidebar-title'>Account deletion</h3>
    <div class='sidebar-section-body'>
      {% if user_games|length == 0 %}
        <p>This user has no records so it's safe to delete their account. Click the button below to do so.</p>

        <form action="/users/{{ user.user_id }}/delete" method="post" onsubmit="return confirm('Are you absolutely sure you want to delete this user?')">
          <input type="submit" name="submit" value="Delete user" />
        </form>
      {% else %}
        <p>Before deleting a user you need to remove all their records using the form above.</p>
      {% endif %}
    </div>
  </div>
</div>
