<div class="layout--content-primary">
  <div id="breadcrumb" class="clearfix">
    <a href="/">{{ t('general_home') }}</a>
    &rarr;
    <a href="/users">{{ t('general_userlist_cyberscore') }}</a>
  </div>
  <div id="user_selection">
    <h1>{{ t('general_userlist_cyberscore') }}</h1>

    <p>{{ t('general_userlist_welcome') }}</p>

    <form action="" method="get">
      {% if letter %}
        {{ hidden_field('letter', {'letter': letter}) }}
      {% endif %}
      {{ hidden_field('sort', {'sort': sort}) }}

      <select class="btn-game btn-game--standard"  name="page" onchange="this.form.action=this.form.submit();">
        {% for i in range(1, num_pages) %}
          <option value="{{ i }}" {% if page == i %}selected{% endif %}>
            {{ t('general_userlist_page') }} {{ i }}
          </option>
        {% endfor %}
      </select>

      {{ select_field(
        'country',
        {'country': country_id},
        country_options,
        {'class': 'btn-game btn-game--standard', 'onchange': 'this.form.action=this.form.submit();'}
      ) }}

      <h3>{{ t('general_userlist_first_char') }}</h3>
      <a class="letter" href="/users?letter=0">0–9</a>
      {% for char in range('A', 'Z') %}
        <a class="letter" href="/users?letter={{ char }}">{{ char }}</a>
      {% endfor %}
    </div>

    <br />
    <input type="hidden" name="offset" value="0"/>

    <label for="user_search">{{ t('general_userlist_search') }}</label>
    {{ text_field('user_search', {'user_search': user_search}) }}

    <input type="submit"/>
  </form>

  {% if num_users == 0 %}
    <h3>{{ t('general_userlist_no_result') }}</h3>
  {% else %}
    <br />
    <br />
    <table class="zebra">
      <tr>
        <th style="width:3%;text-align:center">
          <a href="{{ sort_url(sort, 'country') }}">
            {{ t('general_userlist_country') }}
            {{ sort_arrow(sort, 'country') }}
          </a>
        </th>

        <th style="width:12%;text-align:center;white-space:nowrap">
          {{ t('general_userlist_user') }}
          (<a href="{{ sort_url(sort, 'userid') }}">
            {{ t('general_userlist_sort_userid') }}
            {{ sort_arrow(sort, 'userid') }}
          </a>
          /
          <a href="{{ sort_url(sort, 'username') }}">
            {{ t('general_userlist_sort_username') }}
            {{ sort_arrow(sort, 'username') }}
          </a>)
        </th>

        <th style="width:10%;text-align:center">
          <a href="{{ sort_url(sort, 'userrole', 'DESC') }}">
            {{ t('general_userlist_user_roles') }}
            {{ sort_arrow(sort, 'userrole') }}
          </a>
        </th>

        <th style="width:10%;text-align:center">
          <a href="{{ sort_url(sort, 'recordcount', 'DESC') }}">
            {{ t('general_userlist_total_records') }}
            {{ sort_arrow(sort, 'recordcount') }}
          </a>
        </th>

        {% if has_access('GlobalMod') %}
          <th style="width:10%;text-align:center">
            <a href="{{ sort_url(sort, 'email') }}">
              {{ t('general_userlist_email') }}
              {{ sort_arrow(sort, 'email') }}
            </a>
          </th>
        {% endif %}

        <th style="width:10%;text-align:center">
          <a href="{{ sort_url(sort, 'joindate', 'DESC') }}">
            {{ t('general_userlist_join_date') }}
            {{ sort_arrow(sort, 'joindate') }}
          </a>
        </th>

        <th style="width:10%;text-align:center">
          <a href="{{ sort_url(sort, 'lastseen', 'DESC') }}">
            {{ t('general_userlist_last_seen') }}
            {{ sort_arrow(sort, 'lastseen') }}
          </a>
        </th>

        {% if has_access('User') %}
          <th style="text-align:center">
            {{ t('general_userlist_options') }}
          </th>
        {% endif %}
      </tr>

      {% for user in users %}
        <tr>
          <td style="text-align:center">
            {{ country_flag_image_tag(user) }}
          </td>
          <td style="text-align:center">
            {{ link_to_user(user, true) }}
            {{ user_star_image_tags(user) }}
          </td>
          <td style="text-align:center">
            {{ user.user_roles }}
          </td>
          <td style="text-align:center">
            {{ user.num_records }}
          </td>
          {% if has_access('GlobalMod') %}
            <td style="text-align:center">
              {{ user.email }}
              {% if user.auth_verified == 'y' %}
                <img src="/images/accept.png" title="E-Mail verified" />
              {% else %}
                <form method='post' action='/users/resend-confirmation-email'>
                  <input type="hidden" name="user_id" value="{{ user.user_id }}" />
                  <input type='submit' value='Re-send confirmation email' />
                </form>
              {% endif %}
            </td>
          {% endif %}
          <td style="text-align:center">
            {{ format_datetime(user.date_joined) }}
          </td>
          <td style="text-align:center">
            {% if user.lastseen_hidden == 'n' %}
              {{ format_datetime(user.date_lastseen) }}
            {% endif %}
          </td>
          {% if has_access('User') %}
            <td style="text-align:center">
              <a href="/csmail-messages/new?to={{ user.user_id }}" style="text-decoration:none;">
                <img class="icon" src="{{ skin_image_url('inbox.png') }}" width="16" height="16" alt="{{ t('profile_send_csmail') }}" title="{{ t('profile_send_csmail') }}" />
              </a>

              {% if has_access('Admin') %}
                <a title="Change password" href="/passwords/{{ user.user_id }}/edit">
                  Change password
                </a>
              {% endif %}

              {% if has_access('GlobalMod') and user.num_records == 0 %}
                <a title="Delete user" href="/mod_scripts/delete_user_script.php?id={{ user.user_id }}"
                  onclick="return confirm('Are you absolutely sure you want to delete this user?')"><img src="/images/delete.png" width="11" height="11" alt="delete" /></a>
              {% endif %}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
  <br />

  <form action="" method="get">
    {% if letter %}
      {{ hidden_field('letter', {'letter': letter}) }}
    {% endif %}
    {{ hidden_field('sort', {'sort': sort}) }}
    {{ hidden_field('user_search', {'user_search': user_search}) }}

    <select class="btn-game btn-game--ranked"  name="page" onchange="this.form.action=this.form.submit();">
      {% for i in range(1, num_pages) %}
        <option value="{{ i }}" {% if page == i %}selected{% endif %}>
          {{ t('general_userlist_page') }} {{ i }}
        </option>
      {% endfor %}
    </select>
  </form>
</div>
