<style type="text/css">
  .user-settings {
    overflow: auto;
    padding: 10px;
    display: flex;
  }

  .user-settings-sidebar {
    display: flex;
    flex-direction: column;
    gap: 2px;
    border: solid #23538a;
    border-width: 2px 0px 2px 2px;
  }

  .user-settings-contents {
    overflow: auto;
    width: 100%;

    border-width: 2px 2px 2px 0px;
    border-style: solid;
    border-color: #23538a;
    padding: 15px;
  }

  a.user-settings-menu-item {
    display: block;
    padding: 8px;
    text-shadow: 1px 1px 2px #000000;
    text-align: center;
    line-height: 125%;
    color: #ffffff;
    background: #23538a;
    font-family: Ubuntu;
  }

  a.user-settings-menu-item.current {
    color: black;
    background-color: white;
    text-shadow: none;
  }
</style>

<div class="user-settings">
  <div class="user-settings-sidebar">
    {% for item, title in sidebar %}
      <a class='{{ classnames({'user-settings-menu-item': true, 'current': src == item}) }}' href="/settings/{{ item }}">{{ title }}</a>
    {% endfor %}
  </div>

  <div class="user-settings-contents">
    {{ render_component_with('settings/' ~ src, []) }}
  </div>
</div>
