.charts-index48-viewport {
  background-image: url('/images/debug-grid.png');
  background-size: 80px 80px;
  float: left;
  border: 1px solid black;
  margin-top: 10px;
  margin-right: 10px;
  width: 440px;
  height: 514px;
  padding: 10px;
  overflow: scroll;
}

.charts-show48-scoreboard-container {
  container-type: inline-size;
  container-name: chart-scoreboard;
}

.charts-show48-scoreboard {
  display: grid;
  min-width: 340px;
}

/*
 * viewports, good luck
 */

@container chart-scoreboard (width < 400px) {
  .charts-show48-scoreboard--single { grid-template-columns: auto 0px 50px 2fr 1fr 0px 0px; }
  .charts-show48-scoreboard--dual   { grid-template-columns: auto 0px  0px 2fr 1fr 1fr 0px; }
  .charts-show48-scoreboard--dual .charts-show-user-avatar { display: none; }
  .charts-show48-scoreboard .charts-show-user-preferred-icon { display: none; }
  .charts-show48-scoreboard .charts-show-awards { display: none; }
  .charts-show48-scoreboard .charts-show-header-awards { display: none; }
}

@container chart-scoreboard (400px <= width < 440px) {
  .charts-show48-scoreboard--single { grid-template-columns: auto 40px 50px 2fr 1fr 0px 0px; }
  .charts-show48-scoreboard--dual   { grid-template-columns: auto  0px 50px 2fr 1fr 1fr 0px; }
  .charts-show48-scoreboard--dual .charts-show-user-preferred-icon { display: none; }
  .charts-show48-scoreboard .charts-show-awards { display: none; }
  .charts-show48-scoreboard .charts-show-header-awards { display: none; }
}

@container chart-scoreboard (440px <= width) {
  .charts-show48-scoreboard--single { grid-template-columns: auto 40px 50px 2fr 1fr 1fr auto; }
  .charts-show48-scoreboard--dual   { grid-template-columns: auto 40px 50px 2fr 1fr 1fr 0px; }
  .charts-show48-scoreboard--dual .charts-show-awards { display: none; }
  .charts-show48-scoreboard--dual .charts-show-header-awards { display: none; }
}

.charts-show-entry .user-badge { max-width: 40px; max-height: 40px; }
.charts-show-user-preferred-icon { display: grid; align-items: center; justify-content: center; }

.charts-show-header {
  display: grid;
  gap: 0px;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  padding: 5px 0;
}

.charts-show-header-submission-1 { text-align: right; font-weight: bold; padding-right: 5px; }
.charts-show-header-submission-2 { text-align: right; font-weight: bold; padding-right: 5px; }
.charts-show-header-awards { text-align: right; font-weight: bold; padding-right: 5px; }

.charts-show-header-submission-1 { grid-column: -4; }
.charts-show-header-submission-2 { grid-column: -3; }
.charts-show-header-awards { grid-column: -2; }

.charts-show-entry {
  border: 0px solid white;
  padding: 5px 5px 5px 5px;
  display: grid;
  gap: 0px 5px;

  grid-template-columns: subgrid;
  grid-template-rows: subgrid;

  grid-column: 1 / -1;
  grid-row: span 3;
}

.charts-show-position { grid-column: 1; grid-row: 1 / 3; }
.charts-show-user-avatar { grid-column: 2; grid-row: 1 / 3; }
.charts-show-user-preferred-icon { grid-column: 3; grid-row: 1 / 3; }
.charts-show-user-identification { grid-column: 4; grid-row: 1; }
.charts-show-comment-text { grid-column: 3 / 6; grid-row: 3; }
.charts-show-details { grid-column: 4; grid-row: 2; }
.charts-show-submission-1 { grid-column: 5; grid-row: 1 / 3; }
.charts-show-submission-2 { grid-column: 6; grid-row: 1 / 3; }
.charts-show-awards { grid-column: 7; grid-row: 1 / -1; }

.charts-show-submission {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  align-items: center;
}

.charts-show-awards {
  text-align: right;
}

.charts-show-submission-value { grid-row: 1; }
.charts-show-submission-distance { grid-row: 2; }

.charts-show-comment-text { margin-top: 5px; margin-right: 5px; font-family: Ubuntu; font-size: 0.7rem !important; border: 1px solid rgba(0,0,0,0.3); border-radius: 5px; background-color: rgba(0,0,0,0.1); padding: 0 5px; }
.charts-show-comment-actual-text { font-style: oblique; }

.charts-show-comment-text { display: none; }
.charts-show-entry.show-comment .charts-show-comment-text { display: inline-block; font-family: Garamond, serif; font-size: 14px; padding-right: 7px; }

.charts-show-submission-1 { padding-left: 5px; text-align: right; padding-right: 5px; }
.charts-show-submission-2 { padding-left: 5px; text-align: right; padding-right: 5px; }

.charts-show-details { display: grid; align-items: center; grid-template-columns: auto auto auto auto; justify-content: start; gap: 7px; }
.charts-show-details img { max-height: 16px; display: block; }

.charts-show-entry .charts-show-user-avatar { width: 40px; height: 40px; }

.charts-show-position { display: flex; flex-direction: column; align-items: center; padding-top: 5px; }
.charts-show-position-award { display: block; height: 17px; image-rendering: pixelated; }
.charts-show-position-number { display: block; }

.charts-show-entry.medal-platinum { background-color: var(--color-platinum) !important; }
.charts-show-entry.medal-gold     { background-color: var(--color-gold-megalight) !important; }
.charts-show-entry.medal-silver   { background-color: var(--color-silver-megalight) !important; }
.charts-show-entry.medal-bronze   { background-color: var(--color-bronze-megalight) !important; }

.charts-show-user-identification {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 4px;
}

.charts-show-user-display-name { font-weight: bold; margin-top: 3px; }
.charts-show-user-identification img { display: block; }

/* display name class, with either --full or --short */
.user-display-name--short .user-display-name--forename { display: none; }
.user-display-name--short .user-display-name--surname  { display: none; }
.user-display-name--short .user-display-name--username  { font-family: monospace; }
.user-display-name--full .user-display-name--username:before { content: '“'; }
.user-display-name--full .user-display-name--username:after { content: '”'; }

.charts-show-submission .bigger { font-size: 1.1em; color: var(--color-standard-dark); }
.charts-show-submission-distance { font-size: 0.8em; }
.charts-show-submission-distance { font-size: 0.8em; }

.charts-show48-scoreboard :nth-child(2n + 1 of .chart-standard)    { background-color: var(--color-standard-megalight); }
.charts-show48-scoreboard :nth-child(2n + 1 of .chart-speedrun)    { background-color: var(--color-speedrun-megalight); }
.charts-show48-scoreboard :nth-child(2n + 1 of .chart-solution)    { background-color: var(--color-solution-megalight); }
.charts-show48-scoreboard :nth-child(2n + 1 of .chart-arcade)      { background-color: var(--color-arcade-megalight); }
.charts-show48-scoreboard :nth-child(2n + 1 of .chart-challenge)   { background-color: var(--color-challenge-megalight); }
.charts-show48-scoreboard :nth-child(2n + 1 of .chart-incremental) { background-color: var(--color-incremental-megalight); }
.charts-show48-scoreboard :nth-child(2n + 1 of .chart-collectible) { background-color: var(--color-collectible-megalight); }
.charts-show48-scoreboard :nth-child(2n + 1 of .chart-unranked)    { background-color: var(--color-unranked-megalight); }
.charts-show-header { background-color: white; }
.charts-show48-scoreboard :nth-child(2n of .charts-show-entry) { background-color: white; }
.charts-show48-scoreboard .medal-platinum { background-color: var(--color-platinum) !important; }
.charts-show48-scoreboard .medal-gold     { background-color: var(--color-gold-megalight) !important; }
.charts-show48-scoreboard .medal-silver   { background-color: var(--color-silver-megalight) !important; }
.charts-show48-scoreboard .medal-bronze   { background-color: var(--color-bronze-megalight) !important; }
.charts-show48-scoreboard .has-award + .has-award { border-top: 2px solid white; }
.charts-show48-scoreboard .has-award + :not(.has-award) { border-top: 1px solid black; }
