:root {
  --color-standard:      #23538A;
  --color-speedrun:      #199600;
  --color-arcade:        #DE7406;
  --color-solution:      #B20000;
  --color-challenge:     #9700DB;
  --color-incremental:   #ceba05;
  --color-collectible:   #1fbe96;
  --color-unranked:      #555555;


  --color-platinum: #F7F5F3;
  --color-gold:     #FFD666;
  --color-silver:   #DDDDDD;
  --color-bronze:   #f5a656;

  --color-white: #FFFFFF;
  --color-black: #333333;
  --color-superblack: #000000;

  --color-standard-dark: #1e4776;
  --color-speedrun-dark: #147a00;
  --color-arcade-dark: #ae5c04;
  --color-solution-dark: #990000;
  --color-challenge-dark: #5e0685;
  --color-incremental-dark: #a59612;
  --color-collectible-dark: #258b7e;
  --color-unranked-dark: #000000;

  --color-standard-light: #4499cc;
  --color-arcade-light      : #f1983d;
  --color-collectible-light : #3df1ca;
  --color-incremental-light : #f1e53d;
  --color-speedrun-light    : #4cb038;
  --color-standard-light    : #79ade0;
  --color-challenge-light   : #db90ff;
  --color-solution-light    : #ff7474;
  --color-unranked-light    : #929292;

  --color-standard-megalight: #dcebff;
  --color-speedrun-megalight: #d8edd4; /* 93% */
  --color-solution-megalight: #ffe5e5; /* 95% */
  --color-arcade-megalight: #feebd7;   /* 92% */
  --color-challenge-megalight: #f4dcff;
  --color-incremental-megalight: #f8ed7a;
  --color-collectible-megalight: #aefce4;
  --color-unranked-megalight: #eaeaea;
  --color-bronze-megalight: #eed4b9;
  --color-silver-megalight: #e3e3e3;
  --color-gold-megalight: #fff2a8;

  --color-gold-dark:     #ffd700;
  --color-bronze-dark:   #CD7F32;
  --color-platinum-dark: #D0D0D0;
  --color-silver-dark:   #AAAAAA;

  --color-modifier-gameplay-regular: #fedc26;
  --color-modifier-gameplay-light: #fff7cb;

  --color-modifier-premium-regular: #d47f7f;
  --color-modifier-premium-light: #f0d1d1;

  --color-modifier-accessibility-regular: #db90ff;
  --color-modifier-accessibility-light: #f7e4ff;

  --color-modifier-secondary-regular: #4bb555;
  --color-modifier-secondary-light: #c7e8ca;
}

/*
bronze2:      #CC9966;
silver2:      #CCCCCC;
gold2:        #CCCC99;
platinum2:    #E6E6E6;

standard2:    #1A6C96;
standard3:    #B4C8FA;
standard4:    #4499CC;

arcade2:      #E57400;
arcade3:      #F1983D;
arcade4:      #FF8100;

speedrun2:    #087114;
speedrun3:    #4CB038;
speedrun4:    #199600;

solution2:    #FF0000;
solution3:    #FF7474;
solution4:    #B61D1D;

  --color-gold:     #FEBB00;

*/
