.page-home-changelog .blogPostTitle {
  margin-top: 2em;
  background: repeating-linear-gradient(-45deg, #e6e6ff, #e6e6ff 5px, white 8px, white 15px);
  border-width: 2px;
  border-style: solid;
  border-color: #b5d8ff;
  height: 70px;
  text-align: center;
  border-radius: 7px;
}

.page-home-index .tags {
  opacity: 0.75;
  cursor: default;
  display: inline-block;
  margin: 0px 2px 0px 2px;
  font-size: 9px;
  font-weight: 800;
  color: #ffffff;
  line-height: 1.2em;

  /* Some CSS3 goodness */
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.page-home-index .index-dashboard {
  display: grid;
  gap: 10px;
  margin: 0px;
  align-content: start;
  overflow-x: scroll;
}

@media (max-width: 670px) {
  .home-index-introduction {
    display: none !important;
  }

  .page-home-index .index-dashboard {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "main-scoreboard"
    "medals-scoreboard"
    "speedrun-scoreboard"
    "arcade-scoreboard"
    "solution-scoreboard"
    "challenge-scoreboard"
    "collectible-scoreboard"
    "incremental-scoreboard"
    "trophy-scoreboard"
    "rainbow-scoreboard"
    "site-news"
    "latest-games"
    "user-news"
    "latest-submissions"
    "recentactivity-forum";
    margin: 10px;
  }
}

@media (max-width: 670px) {
  .mobile-hidden {
    display: none;
  }
}

@media (min-width: 661px) and (max-width: 1000px) {
  .page-home-index .index-dashboard {
    margin: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "main-scoreboard medals-scoreboard"
      "trophy-scoreboard rainbow-scoreboard"
      "speedrun-scoreboard arcade-scoreboard"
      "solution-scoreboard challenge-scoreboard"
      "collectible-scoreboard incremental-scoreboard"
      "latest-submissions latest-submissions"
      "site-news latest-games"
      "user-news recentactivity-forum";
  }
}

@media (min-width: 1001px) and (max-width: 1330px) {
  .page-home-index .index-dashboard {
    margin: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "main-scoreboard medals-scoreboard site-news"
      "trophy-scoreboard rainbow-scoreboard user-news"
      "speedrun-scoreboard arcade-scoreboard  solution-scoreboard"
      "challenge-scoreboard collectible-scoreboard incremental-scoreboard"
      "latest-submissions latest-submissions latest-games";
  }
}

@media (min-width: 1331px) {
  .page-home-index .index-dashboard {
    margin: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "main-scoreboard    medals-scoreboard   trophy-scoreboard      rainbow-scoreboard"
    "speedrun-scoreboard arcade-scoreboard  solution-scoreboard    site-news"
    "challenge-scoreboard collectible-scoreboard incremental-scoreboard  user-news"
    "latest-submissions latest-submissions  latest-games             recentactivity-forum";
  }
}

.page-home-index .index-main-scoreboard { grid-area: main-scoreboard; }
.page-home-index .index-medals-scoreboard { grid-area: medals-scoreboard; }
.page-home-index .index-trophy-scoreboard { grid-area: trophy-scoreboard; }
.page-home-index .index-speedrun-scoreboard { grid-area: speedrun-scoreboard; }
.page-home-index .index-arcade-scoreboard { grid-area: arcade-scoreboard; }
.page-home-index .index-solution-scoreboard { grid-area: solution-scoreboard; }
.page-home-index .index-challenge-scoreboard { grid-area: challenge-scoreboard; }
.page-home-index .index-collectible-scoreboard { grid-area: collectible-scoreboard; }
.page-home-index .index-incremental-scoreboard { grid-area: incremental-scoreboard; }
.page-home-index .index-rainbow-scoreboard { grid-area: rainbow-scoreboard; }
.page-home-index .index-user-news { grid-area: user-news; }
.page-home-index .index-latest-games { grid-area: latest-games; }
.page-home-index .index-latest-submissions { grid-area: latest-submissions; }

.scoreboard-widget-latest-submissions-awards { text-align: right; }
.scoreboard-widget-latest-submissions-position { text-align: right; }
.scoreboard-widget-latest-submissions-record { text-align: right; }
.scoreboard-widget-latest-submissions tbody:hover tr.highlight { background-color: #ccc; }
.scoreboard-widget-latest-submissions tbody:hover tr { background-color: #ddd; }
.scoreboard-widget-latest-submissions .flag { height: 16px; margin-right: 5px; }
.scoreboard-widget-latest-submissions-user { display: flex; }

.scoreboard-widget-latest-submissions .mobile { display: none; }
.scoreboard-widget-latest-submissions .wide { display: table-row; }

@media (max-width: 450px) {
  .scoreboard-widget-latest-submissions .mobile { display: table-row; }
  .scoreboard-widget-latest-submissions .wide { display: none; }
  .scoreboard-widget-latest-submissions-game { display: none; }
}

.loginbox {
  height: auto;
  width: auto;
  padding: 0.25rem;
  border-radius: 0;

  background-image: none;
  color: #ffffff;
  background-color: black;
  border-radius: 5px;
  margin-inline-start: auto;
}

.loginbox-loggedin {
  display: grid;
  grid-template-areas: "avatar info" "avatar actions";
  gap: 0px 10px;
}

.loginbox-avatar {
  --dimensions: clamp(2rem, 10vw, 2.5rem);
  display: block;
  width:  var(--dimensions);
  height: var(--dimensions);
  border-radius: 2px;
}

@media (max-width: 670px) {
  .loginbox { gap: 0; }
  .loginbox .loginbox__actions { display: none; }
  .loginbox .loginbox__info { display: none; }
  .loginbox-loggedout.loginbox-loggedout--expanded { display: none; }
  .loginbox-avatar {
  }
}

@media (max-width: 50ch) {
  .loginbox--loggedout :last-child { display: none; }
}

.loginbox--loggedout {
  background-color: transparent;
  display: flex;
  gap: 1rem;
}
.loginbox--loggedout a {
  background-color: white;
  font-weight: bold;
  font-family: Ubuntu;
  padding: 0.5rem clamp(0.25rem, (100vw - 15rem)/7.5 + 0.25rem, 1rem);
  border-radius: 5px;
  box-shadow: 1px 1px 5px black;
  --color-link: #333;
}

.loginbox__user-link {
  display: block;
  grid-area: avatar;
}

.loginbox__info {
  grid-area: info;
  display: flex;
  justify-content: space-between;
}

.loginbox__actions {
  grid-area: actions;
  display: flex;
}

.loginbox__actions img {
  height: 20px;
}

.loginbox__actions .lbnotice {
  font-size: 0.75em;
  position: relative;
  top: -0.5em;
}

.loginbox__info__username {
  color: white;
}

.loginbox input {
  border: 1px solid black;
}

.loginbox-loggedout {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.loginbox-loggedout form {
  display: flex;
}

.loginbox-loggedout form input[type=submit] {
  background-color: #199600;
  margin-left: 5px;
}

.loginbox-loggedout p {
  margin: 0px;
}

.loginbox__user-link--has-notifications {
  position: relative;
}


.loginbox .queued-records-indicator {
  animation-name: queued-records-indicator-spin;
  animation-duration: 2500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes queued-records-indicator-spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(359deg);}
}

@media (max-width: 670px) {
  .loginbox__user-link--has-notifications::before {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: var(--color-solution);
    border: 1px solid var(--color-white);
    border-radius: 50%;
    box-shadow: black 0px 0px 3px;
  }
}

.loginbox__drawer {
  display: none;
  position: absolute;
  top: calc(1rem + clamp(2rem, 10vw, 2.5rem));
  background-color: rgba(0,0,0,0.75);
  color: white;
  z-index: 4;
  padding: 0;
  width: 100vw;
  border-top: 2px solid var(--color-standard-light);
  border-bottom: 2px solid var(--color-standard-light);
}

.loginbox__drawer > * {
  background-color: #333;
  margin: 0;
  padding: 1em;
  line-height: 1em;
}

.loginbox__drawer a {
  color: white;
  font-weight: bold;
}
.loginbox__drawer a:hover {
  color: black !important;
  font-weight: bold;
}
.loginbox__drawer a:focus-visible {
  position: relative;
}
.loginbox__drawer > *:hover {
  background-color: var(--color-standard-megalight);
}

.loginbox__drawer--visible {
  display: grid;
  right: 0px;
}

.loginbox__drawer__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  background-color: white;
  flex: 1;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-home-index main#contentcontainer { padding: 0px; }

.home-index-introduction {
  background-color: #23538a; /* Used to be #5085BB */
  color: white;
  font-family: Ubuntu, sans-serif;
  display: flex;
  gap: 0px;
}

.home-index-introduction h1 {
  font-size: 2em;
  padding: 0px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.75);
  color: white;
  line-height: 1em;
  letter-spacing: normal;
}

.home-index-introduction p {
  padding: 0px;
}

.home-index-introduction-picture {
  max-width: 125px;
  max-height: 188px;
  padding: 5px;
  margin-right: 0px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
}

.home-index-introduction-picture img {
  max-width: 100%;
  max-height: 100%;
}

.scoreboard-widget .position {
  padding-right: .5em;
  width: 3.0em;
  text-align: right;
}

.scoreboard-widget .medal {
  width: 6.0em;
}

.scoreboard-widget-header {
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  padding-left: 5px;
  padding-right: 5px;
  font-family: Ubuntu;
  box-sizing: border-box;
  height: 20px;
  width: 100%;
  display: flex;
  align-items: center;
}

.scoreboard-widget-header a {
  color: white;
  display: flex;
  gap: 5px;
  align-items: center;
}

.scoreboard-widget-header .icon {
  display: block;
  height: 16px;
  width: 16px;
  filter: invert(1);
}

.scoreboard-widget tbody tr:hover { background-color: #ddd; }
.scoreboard-widget tbody tr.highlight:hover { background-color: #ccc; }

.scoreboard-widget * { font-family: Ubuntu; }

.scoreboard-widget table {
  margin-bottom: 5px;
}
.scoreboard-widget th {
  font-size: 1em !important;
  padding-top: 5px;
}

.scoreboard-widget th img {
  display: block;
  width: 16px;
  height: 16px;
  margin: auto;
  padding: 0px;
}

.scoreboard-widget table tr .date {
  width: 80px;
}
.scoreboard-widget .author {
  width: 130px;
}

.scoreboard-widget .highlight { background-color: #eee; }
.scoreboard-widget .highlight .username { font-weight: bold; }

.scoreboard-widget-header {
  text-shadow: 1px 1px 2px rgba(0,0,0,0.75);
}

.scoreboard-widget { overflow: auto; }

.scoreboard-widget-header { background-color: var(--color-flavor); }
.scoreboard-widget .username a { color: var(--color-standard-dark); }

.scoreboard-widget-standard { --color-flavor: var(--color-standard); }
.scoreboard-widget-arcade { --color-flavor: var(--color-arcade); }
.scoreboard-widget-speedrun { --color-flavor: var(--color-speedrun); }
.scoreboard-widget-solution { --color-flavor: var(--color-solution); }
.scoreboard-widget-challenge { --color-flavor: var(--color-challenge); }
.scoreboard-widget-collectible { --color-flavor: var(--color-collectible); }
.scoreboard-widget-incremental { --color-flavor: var(--color-incremental); }

.games-edit-rules table.games-edit-rules input[type=text] { width: 50px; }
.games-edit-rules tr.group.collapsed ~ tr { display: none; }
.games-edit-rules tr.standard { background-color: var(--color-standard); }
.games-edit-rules tr.arcade { background-color: var(--color-arcade); }
.games-edit-rules tr.speedrun { background-color: var(--color-speedrun); }
.games-edit-rules tr.solution { background-color: var(--color-solution); }
.games-edit-rules tr.challenge { background-color: var(--color-challenge); }
.games-edit-rules tr.incremental { background-color: var(--color-incremental); }
.games-edit-rules tr.collectible { background-color: var(--color-collectible); }
.games-edit-rules tr.unranked { background-color: var(--color-unranked); }
.games-edit-rules tr.group {
  color: white;
  font-weight: bold;
  padding-left: 5px;
  font-family: Ubuntu;
  font-size: 1.2em;
  line-height: 1.5em;
}
.games-edit-rules tr.group td:first-child {
  cursor: pointer;
}

.games-edit-modifiers table.games-edit-modifiers input[type=text] { width: 50px; }
.games-edit-modifiers thead {
  position: sticky;
  top: 0;
}
.games-edit-modifiers th { background-color: white; }
.games-edit-modifiers tr.group.collapsed ~ tr { display: none; }
.games-edit-modifiers tr.standard { background-color: var(--color-standard); }
.games-edit-modifiers tr.arcade { background-color: var(--color-arcade); }
.games-edit-modifiers tr.speedrun { background-color: var(--color-speedrun); }
.games-edit-modifiers tr.solution { background-color: var(--color-solution); }
.games-edit-modifiers tr.challenge { background-color: var(--color-challenge); }
.games-edit-modifiers tr.incremental { background-color: var(--color-incremental); }
.games-edit-modifiers tr.collectible { background-color: var(--color-collectible); }
.games-edit-modifiers tr.unranked { background-color: var(--color-unranked); }
.games-edit-modifiers tr.group {
  color: white;
  font-weight: bold;
  padding-left: 5px;
  font-family: Ubuntu;
  line-height: 1.5em;
  white-space: nowrap;
}
.games-edit-modifiers tr.group td:first-child { cursor: pointer; }
.games-edit-modifiers td, .games-edit-modifiers th { text-align: center; }
.games-edit-modifiers .modifier-icon { max-height: 30px; display: block; margin: 0px auto; }
.games-edit-modifiers .modifier-type { color: var(--color-white); text-align: center; }
.games-edit-modifiers .modifier-type--chart { background-color: var(--color-standard); }
.games-edit-modifiers .modifier-type--type { background-color: var(--color-standard); }
.games-edit-modifiers .modifier-type--modifier { background-color: var(--color-challenge); }
.games-edit-modifiers .modifier-type--flag { background-color: var(--color-speedrun); }
.games-edit-modifiers .modifier-category:nth-child(2n) { background-color: #ccc; }


.notification-index {
  overflow: auto;
  padding: 10px;
  display: flex;
  gap: 10px;
}

@media (max-width: 550px) {
  .notification-index { flex-direction: column; }
}

.notification-index-sidebar {
  margin: 0px;
  flex-shrink: 0;
}

.notification-index-contents {
  overflow: auto;
  width: calc(100% - 4px);
  align-self: flex-start;

  border-width: 2px;
  border-style: solid;
  border-color: var(--color-standard);
  padding: 0px;
}

.notification-filter {
  border: 2px solid #23538a;
  text-align: center;
  overflow: auto;
}

.notification-filter + .notification-filter {
  margin-top: 10px;
}

.notification-filter h3 {
  margin: 0.5em;
}

.notification-filter .notification-filter-item {
  display: block;
  padding: 8px;
  text-align: center;
  line-height: 125%;
  color: black;
  font-family: Ubuntu;
}

.notification-filter-item.notification-filter-item--selected {
  text-shadow: 1px 1px 2px #000000;
  color: #ffffff;
  background: var(--color-standard);
}

.notification-item {
  min-height: 30px;
  min-width: 50px;
  border-top: 1px solid var(--color-standard);

  font-family: Ubuntu;
  display: flex;
  padding-left: 10px;
}

.notification-target {
  display: flex;
  gap: 10px;
  margin-left: 10px;
  padding: 5px 10px;
  width: 100%;
}

.notification-item__icon {
  align-self: center;
}

.notification-item__message {
  flex-grow: 1;
}

.notification-item--state_unread {
  background-color: #E6E6E6;
}

.notification-item .xxx { font-size: 20px; }
.notification-item--type_rec_deleted        .xxx { color: var(--color-solution); }
.notification-item--type_reported_rec       .xxx { color: var(--color-arcade); }
.notification-item--type_rec_approved       .xxx { color: var(--color-speedrun); }
.notification-item--type_proof_refused      .xxx { color: var(--color-solution); }
.notification-item--type_followed_posted    .xxx { color: var(--color-standard); }
.notification-item--type_pstring_edited     .xxx { color: var(--color-arcade); }
.notification-item--type_rec_reported       .xxx { color: var(--color-solution); }
.notification-item--type_ygb                .xxx { color: var(--color-solution); }
.notification-item--type_referral_rejected  .xxx { color: var(--color-solution); }
.notification-item--type_referral_created   .xxx { color: var(--color-arcade); }
.notification-item--type_referral_confirmed .xxx { color: var(--color-speedrun); }

.notification-target:link, .notification-target:visited, .notification-target:hover {
  color: currentColor;
  text-decoration: none;
}

.notification-target:hover {
  background-color: #B4C8FA;
}

.notification-actions {
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.notification-empty {
  padding: 10px 20px;
}

.page-charts-show .charts-show-title-badge img {
  height: 30px;
  margin-right: 10px;
  display: block;
}

.page-charts-show .charts-show-title-header {
  margin-bottom: 10px;
}

.page-charts-show #contentcontainer {
  display: grid;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

@media (max-width: 640px) {
  .page-charts-show #contentcontainer {
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header" "sidebar" "main";
    align-content: start;
  }

  .page-charts-show .charts-show-title-header { margin-bottom: 0px; }
}

@media (min-width: 641px) {
  .page-charts-show #contentcontainer {
    grid-template-columns: auto 300px;
    grid-template-rows: auto 1fr;
    grid-template-areas: "header sidebar" "main sidebar";
    align-content: start;
  }
}

main#contentcontainer {
  padding: 10px;
  display: grid;
  align-content: start;
  box-sizing: border-box;
  grid-template-rows: auto 1fr;
  overflow: auto;
}

.layout--content-primary.layout--content-primary-readable {
  max-width: 700px;
  margin: 0 auto;
}

.layout--content-primary   { grid-area: content-primary; width: 100%; }
.layout--sidebar-primary   { grid-area: sidebar-primary; }
.layout--sidebar-secondary { grid-area: sidebar-secondary; }

/* three column layout */
@media (min-width: 1200px) {
  main#contentcontainer:has(.layout--content-primary):has(.layout--sidebar-primary):has(.layout--sidebar-secondary) {
    gap: 0 20px;
    grid-template-columns: 300px auto 300px;
    grid-template-areas: "sidebar-primary content-primary sidebar-secondary";
  }
}
@media (max-width: 1199px) {
  main#contentcontainer:has(.layout--content-primary):has(.layout--sidebar-primary):has(.layout--sidebar-secondary) {
    gap: 0 20px;
    grid-template-columns: auto 300px;
    grid-template-areas: "content-primary sidebar-primary" "content-primary sidebar-secondary";
  }
}
@media (max-width: 799px) {
  main#contentcontainer:has(.layout--content-primary):has(.layout--sidebar-primary):has(.layout--sidebar-secondary) {
    gap: 0 20px;
    grid-template-columns: auto;
    grid-template-areas: "sidebar-primary" "sidebar-secondary" "content-primary";
  }
}

/* two column layout */
@media (min-width: 800px) {
  main#contentcontainer:has(.layout--content-primary):has(.layout--sidebar-primary):not(:has(.layout--sidebar-secondary)) {
    gap: 0 20px;
    grid-template-columns: auto 300px;
    grid-template-areas: "content-primary sidebar-primary";
  }
}
@media (max-width: 799px) {
  main#contentcontainer:has(.layout--content-primary):has(.layout--sidebar-primary):not(:has(.layout--sidebar-secondary)) {
    gap: 0 20px;
    grid-template-columns: auto;
    grid-template-areas: "sidebar-primary" "content-primary";
  }
}

/* single column layout */
main#contentcontainer:has(.layout--content-primary):not(:has(.layout--sidebar-primary)):not(:has(.layout--sidebar-secondary)) {
  gap: 0 20px;
  grid-template-columns: auto;
  grid-template-areas: "content-primary";
}

.sidebar-title {
  color: #ffffff;
  font-family: Ubuntu;
  font-size: 13.2px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.75);
  line-height: 22px;
  cursor: pointer;
  margin: 0;
  padding: 0 8px;
  box-sizing: border-box;
}

.sidebar-title a {
  color: white;
  display: flex;
  align-items: center;
}


/*
.sidebar-section { margin-bottom: 10px; }
.sidebar-section { margin-bottom: 10px; box-shadow: 0 0 8px #666; border-radius: 3px; overflow: auto; }
*/

.sidebar-section-body { padding: 10px; }

.sidebar-section img.boxart {
  max-width: 100%;
  max-height: 300px;
  margin: 0px auto;
  display: block;
}

.platforms {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
}
.platform-image {
  width: 81px;
  height: 33px;
  display: block;
}

.sidebar-section ul {
  margin: 0;
}

.page-charts-show .charts-show-title-header { grid-area: header; }

.charts-show-scoreboard a { color: var(--color-standard); }

.charts-show-scoreboard.filter-approved .unproven { display: none; }
.charts-show-scoreboard.filter-friends .not-friend { display: none; }
.charts-show-scoreboard.filter-top10 .not-friend:not(.top10) { display: none; }

.charts-show-scoreboard.score-unit-primary .chart-score-unit-secondary { display: none; }
.charts-show-scoreboard.score-unit-secondary .chart-score-unit-primary { display: none; }

.charts-show-scoreboard .chart-standard:nth-child(2n + 1)    { background-color: var(--color-standard-megalight); }
.charts-show-scoreboard .chart-speedrun:nth-child(2n + 1)    { background-color: var(--color-speedrun-megalight); }
.charts-show-scoreboard .chart-solution:nth-child(2n + 1)    { background-color: var(--color-solution-megalight); }
.charts-show-scoreboard .chart-arcade:nth-child(2n + 1)      { background-color: var(--color-arcade-megalight); }
.charts-show-scoreboard .chart-challenge:nth-child(2n + 1)   { background-color: var(--color-challenge-megalight); }
.charts-show-scoreboard .chart-incremental:nth-child(2n + 1) { background-color: var(--color-incremental-megalight); }
.charts-show-scoreboard .chart-collectible:nth-child(2n + 1) { background-color: var(--color-collectible-megalight); }
.charts-show-scoreboard .chart-unranked:nth-child(2n + 1)    { background-color: var(--color-unranked-megalight); }
.charts-show-scoreboard .medal-platinum { background-color: var(--color-platinum) !important; }
.charts-show-scoreboard .medal-gold     { background-color: var(--color-gold-megalight) !important; }
.charts-show-scoreboard .medal-silver   { background-color: var(--color-silver-megalight) !important; }
.charts-show-scoreboard .medal-bronze   { background-color: var(--color-bronze-megalight) !important; }

.trophy-csp { text-align: center; }
.trophy-standard { text-align: center; background-color: var(--color-standard-megalight); }
.trophy-arcade { text-align: center; background-color: var(--color-arcade-megalight); }
.trophy-speedrun { text-align: center; background-color: var(--color-speedrun-megalight); }
.trophy-solution { text-align: center; background-color: var(--color-solution-megalight); }
.trophy-challenge { text-align: center; background-color: var(--color-challenge-megalight); }
.trophy-incremental { text-align: center; background-color: var(--color-incremental-megalight); }
.trophy-collectible { text-align: center; background-color: var(--color-collectible-megalight); }
.trophy-locked { text-align: center; filter: grayscale(25%); background-color: #eee; }

.trophy-csp a { color: black; }
.trophy-standard a { color: var(--color-standard-dark); }
.trophy-arcade a { color: var(--color-arcade-dark); }
.trophy-speedrun a { color: var(--color-speedrun-dark); }
.trophy-solution a { color: var(--color-solution-dark); }
.trophy-challenge a { color: var(--color-challenge-dark); }
.trophy-incremental a { color: var(--color-incremental-dark); }
.trophy-collectible a { color: var(--color-collectible-dark); }

.charts-show-scoreboard .has-award + .has-award { border-top: 2px solid white; }
.charts-show-scoreboard .has-award + :not(.has-award) { border-top: 1px solid black; }


/*
.page-charts-show .charts-show-scoreboard .is-friend { background-color: #ffe5cc !important; }
.page-charts-show .charts-show-scoreboard .is-me { background-color: #ccccff !important; }
*/

.charts-show-scoreboard .is-friend { border-left: 3px solid black; }
.charts-show-scoreboard .is-me { border-left: 3px solid black; }

.charts-show-scoreboard .name {
  display: grid;
  grid-template-areas: "avatar badge identification" "avatar badge details";
  grid-template-columns: auto auto 1fr;
  padding: 5px;
  align-items: center;
}
.charts-show-scoreboard .name .user-avatar { grid-area: avatar; }
.charts-show-scoreboard .name .user-identification { grid-area: identification; display: flex; gap: 5px; align-items: center; }
.charts-show-scoreboard .name .details { grid-area: details; }

.charts-show-scoreboard .name .country-flag img { display: block; }

.charts-show-scoreboard .user-avatar { height: 40px; margin-right: 7px; }
.charts-show-scoreboard .user-badge { grid-area: badge; height: 40px; width: 40px; margin-right: 7px; object-fit: contain; }
.charts-show-scoreboard .user-badge--none { width: 40px; height: 40px; margin-right: 7px; }

.charts-show-scoreboard .data { text-align: right; }
.charts-show-scoreboard .data2 { text-align: right; }
.charts-show-scoreboard .points { text-align: right; }
.charts-show-scoreboard .extras { text-align: right; }

.charts-show-scoreboard .entity { text-align: center; width: 50px; }
.charts-show-scoreboard .entity img { max-height: 42px; }

.page-charts-show .charts-show-navigation { margin-right: auto; }
.page-charts-show .charts-show-comment-text { display: none; }
.page-charts-show .show-comment .charts-show-comment-text { display: inline-block; font-family: Garamond, serif; font-size: 14px; padding-right: 7px; }

.page-charts-show .charts-show-modifier-table { margin: 0px 10px; width: calc(100% - 20px); }
.page-charts-show .charts-show-modifier-table td:nth-child(2) { text-align: left; }
.page-charts-show .charts-show-modifier-table td:nth-child(3) { padding-left: 20px; text-align: right; }
.page-charts-show .charts-show-modifier-table tfoot tr { border-top: 1px solid black; }

.charts-show-scoreboards { padding-left: 10px; }
.charts-show-scoreboards-item { display: flex; gap: 5px; align-items: center; }
.charts-show-scoreboards-item::before { content: ""; width: 18px; height: 18px; background-size: 18px; }
.charts-show-scoreboards-item--arcade::before { background-image: url("/images/scoreboards/arcade.svg"); }
.charts-show-scoreboards-item--challenge::before { background-image: url("/images/scoreboards/challenge.svg"); }
.charts-show-scoreboards-item--collectible::before { background-image: url("/images/scoreboards/collectible.svg"); }
.charts-show-scoreboards-item--incremental::before { background-image: url("/images/scoreboards/incremental.svg"); }
.charts-show-scoreboards-item--solution::before { background-image: url("/images/scoreboards/solution.svg"); }
.charts-show-scoreboards-item--speedrun::before { background-image: url("/images/scoreboards/speedrun.svg"); }
.charts-show-scoreboards-item--starboard::before { background-image: url("/images/scoreboards/standard.svg"); }

/*.charts-show-scoreboards-item--arcade a { color: var(--color-arcade); }
.charts-show-scoreboards-item--challenge a { color: var(--color-challenge); }
.charts-show-scoreboards-item--starboard a { color: var(--color-standard); }*/

.page-charts-show .charts-show-modifier-icon { max-height: 25px; display: block; }

.page-charts-show .charts-show-rules { padding-left: 10px; }
.page-charts-show .charts-show-rules li { padding-bottom: 3px; }
.page-charts-show .charts-show-rank {
  font-weight: bold;
}

.page-charts-show .charts-show-rank--standard { color: var(--color-standard); }
.page-charts-show .charts-show-rank--speedrun { color: var(--color-speedrun); }
.page-charts-show .charts-show-rank--arcade { color: var(--color-arcade); }
.page-charts-show .charts-show-rank--solution { color: var(--color-solution); }
.page-charts-show .charts-show-rank--challenge { color: var(--color-challenge); }
.page-charts-show .charts-show-rank--incremental { color: var(--color-incremental); }
.page-charts-show .charts-show-rank--collectible { color: var(--color-collectible); }
.page-charts-show .charts-show-rank--unranked { color: var(--color-unranked); }

/*
 * Widget styles specific to the dashboard.
 * Widgets are used on the mainpage but with slightly different styling.
 */
.page-dashboard-index .scoreboard-widget { border: 1px solid black; }
.page-dashboard-index .scoreboard-widget + .scoreboard-widget { margin-top: 10px; }
.page-dashboard-index .scoreboard-widget table { font-size: 10px; }
.page-dashboard-index .scoreboard-widget-header { font-size: 13px; }
.page-dashboard-edit .scoreboard-widget-header { font-size: 13px; }
.page-dashboard-index .scoreboard-widget tbody tr:nth-child(2n + 1) { background-color: #eee; }
.page-dashboard-index .scoreboard-widget tbody tr:nth-child(2n + 1):hover { background-color: #ccc; }

.scoreboard-widget-favourites-form { display: none; }
.scoreboard-widget-favourites-form select { width: 100%; }
.scoreboard-widget-favourites--editing .scoreboard-widget-favourites-form { display: block; }
.scoreboard-widget-favourites--editing .scoreboard-widget-favourites-list { display: none; }

.page-articles-show .comments {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.comments-comment {
  display: flex;
  text-align: center;
}

.comments-comment textarea {
  border: 2px solid var(--color-standard);
  border-radius: 7px;
}

.comments-comment .comments_userpic {
  border-width: 2px 1px 2px 2px;
  border-style: solid;
  border-color: var(--color-standard);
  padding: 10px;
}

.comments-comment .comments_content {
  border-width: 2px 2px 2px 1px;
  border-style: solid;
  border-color: var(--color-standard);
  padding: 20px;
  width: 100%;
}

.comments-comment .comments_functions {
  border-width: 2px 1px 2px 1px;
  border-style: solid;
  border-color: var(--color-standard);

  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 5px;
  background: repeating-linear-gradient(-45deg, #e6e6ff, #e6e6ff 5px, white 8px, white 15px);
}

.comments-comment .comments_functions img { cursor: pointer; }

.comments-comment .comments_content { display: none; }
.comments-comment.display .comments_message { display: block; }
.comments-comment.edit    .comments_edit    { display: block; }
.comments-comment.reply   .comments_reply   { display: block; }

.article .article--byline { font-weight: bold; }
.article .article-follow-author { display: inline; }

.page-game_requests-index .comments {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.page-proofs-pending .header-divider { margin: 20px 0px; }
.page-proofs-pending .pending-proofs .record--status-6 { background-color: darkred; }
.page-proofs-pending .pending-proofs .record--status-5 { background-color: yellow; }
.page-proofs-pending .pending-proofs td { padding: 10px; }
.page-proofs-pending .pending-proofs td:first-child { width: 500px; }
.page-proofs-pending .proof-preview--not-available {
  display: block;
  width: 500px;
  height: 375px;
  background-color: #ccc;
  text-align: center;
  line-height: 375px;
  font-size: 20px;
}

.page-games-show .collapsed tr.chart { display: none; }
.page-games-show .group { background-image: linear-gradient(to bottom, var(--regular), var(--dark)); }
.page-games-show .group.default { --regular: var(--color-standard); --dark: var(--color-standard-dark); }
.page-games-show .group.standard { --regular: var(--color-standard); --dark: var(--color-standard-dark); }
.page-games-show .group.speedrun { --regular: var(--color-speedrun); --dark: var(--color-speedrun-dark); }
.page-games-show .group.arcade { --regular: var(--color-arcade); --dark: var(--color-arcade-dark); }
.page-games-show .group.solution { --regular: var(--color-solution); --dark: var(--color-solution-dark); }
.page-games-show .group.challenge { --regular: var(--color-challenge); --dark: var(--color-challenge-dark); }
.page-games-show .group.incremental { --regular: var(--color-incremental); --dark: var(--color-incremental-dark); }
.page-games-show .group.collectible { --regular: var(--color-collectible); --dark: var(--color-collectible-dark); }
.page-games-show .group.unranked { --regular: var(--color-unranked); --dark: var(--color-unranked-dark); }

.sidebar-title { --sidebar-background: var(--color-solution); background: var(--sidebar-background); }
.sidebar-title.sidebar-title--standard { --sidebar-background: var(--color-standard); }
.sidebar-title.sidebar-title--arcade   { --sidebar-background: var(--color-arcade); }
.sidebar-title.sidebar-title--speedrun { --sidebar-background: var(--color-speedrun); }
.sidebar-title.sidebar-title--solution { --sidebar-background: var(--color-solution); }
.sidebar-title.sidebar-title--challenge { --sidebar-background: var(--color-challenge); }
.sidebar-title.sidebar-title--incremental { --sidebar-background: var(--color-incremental); }
.sidebar-title.sidebar-title--collectible { --sidebar-background: var(--color-collectible); }
.sidebar-title.sidebar-title--unranked { --sidebar-background: var(--color-unranked); }

.page-games-show .chartname.standard a { color: var(--color-standard); }
.page-games-show .chartname.speedrun a { color: var(--color-speedrun); }
.page-games-show .chartname.arcade a { color: var(--color-arcade); }
.page-games-show .chartname.solution a { color: var(--color-solution); }
.page-games-show .chartname.challenge a { color: var(--color-challenge); }
.page-games-show .chartname.incremental a { color: var(--color-incremental); }
.page-games-show .chartname.collectible a { color: var(--color-collectible); }
.page-games-show .chartname.unranked a { color: var(--color-unranked); }

.page-games-edit_groups .group { background-image: linear-gradient(to bottom, var(--regular), var(--dark)); }
.page-games-edit_groups .group.default { --regular: var(--color-standard); --dark: var(--color-standard-dark); }
.page-games-edit_groups .group.standard { --regular: var(--color-standard); --dark: var(--color-standard-dark); }
.page-games-edit_groups .group.speedrun { --regular: var(--color-speedrun); --dark: var(--color-speedrun-dark); }
.page-games-edit_groups .group.arcade { --regular: var(--color-arcade); --dark: var(--color-arcade-dark); }
.page-games-edit_groups .group.solution { --regular: var(--color-solution); --dark: var(--color-solution-dark); }
.page-games-edit_groups .group.challenge { --regular: var(--color-challenge); --dark: var(--color-challenge-dark); }
.page-games-edit_groups .group.incremental { --regular: var(--color-incremental); --dark: var(--color-incremental-dark); }
.page-games-edit_groups .group.collectible { --regular: var(--color-collectible); --dark: var(--color-collectible-dark); }
.page-games-edit_groups .group.unranked { --regular: var(--color-unranked); --dark: var(--color-unranked-dark); }

.page-sessions-new .login {
  padding: 20px;
  margin: 0px auto;
  display: grid;
  max-width: 400px;
  grid-template-areas: "ulabel username" "plabel password" "- submit" "- other-actions";
  gap: 5px;
  align-items: center;
}

.page-sessions-new .ulabel { grid-area: ulabel; }
.page-sessions-new .username { grid-area: username; }
.page-sessions-new .plabel { grid-area: plabel; }
.page-sessions-new .password { grid-area: password; }
.page-sessions-new .submit { grid-area: submit; }
.page-sessions-new .other-actions { grid-area: other-actions; }

.page-passwords-recover .recover,
.page-passwords-recover_step2 .recover,
.page-passwords-recover_step3 .recover {
  padding: 20px;
  margin: 0px auto;
  max-width: 400px;
}

.page-accounts-new .register {
  padding: 20px;
  margin: 0px auto;
  max-width: 600px;
}

.page-accounts-new .register-form {
  display: grid;
  gap: 5px;
  grid-template-areas: "ulabel username" "- urules" "elabel email" "plabel password" "pclabel password_confirmation" "rlabel referrer" "-- terms" "--- recaptcha" "---- submit";
  align-items: center;
}

@media (max-width: 670px) {
  .page-accounts-new .register-form {
    grid-template-areas: "ulabel" "username" "urules" "elabel" "email" "plabel" "password" "pclabel" "password_confirmation" "rlabel" "referrer" "terms" "recaptcha" "submit";
  }
}

.page-accounts-new label[for=username] { grid-area: ulabel; }
.page-accounts-new .urules { grid-area: urules; }
.page-accounts-new #username { grid-area: username; }

.page-accounts-new label[for=email] { grid-area: elabel; }
.page-accounts-new #email { grid-area: email; }

.page-accounts-new label[for=password] { grid-area: plabel; }
.page-accounts-new #password { grid-area: password; }

.page-accounts-new label[for=password_confirmation] { grid-area: pclabel; }
.page-accounts-new #password_confirmation { grid-area: password_confirmation; }

.page-accounts-new label[for=referrer] { grid-area: rlabel; }
.page-accounts-new #referrer { grid-area: referrer; }

.page-accounts-new .terms { grid-area: terms; }
.page-accounts-new .g-recaptcha { grid-area: recaptcha; }
.page-accounts-new #submit { grid-area: submit; }

.page-accounts-create .registered { max-width: 400px; padding: 20px; margin: 0px auto; }


.btn-game {
  margin-bottom: 0.5em;
  font-size: 1em;
  border-radius: 4px;
  background-color: black;
  border: 0;
  color: white !important;
  padding: 0.5em;
  cursor: pointer;
}

.btn-game:hover {
  box-shadow: 0px 2px 4px 0px black;
  background-color: black;
}

.btn-game.btn-game--standard {
  box-shadow:inset 0px -3px 7px 0px #003b57;
  background:linear-gradient(to bottom, #23538a 5%, #2b6599 100%);
  background-color: #23538a;
}

.btn-game.btn-game--standard:hover {
  background: linear-gradient(to bottom, #23538a 5%, #4ca2d4 100%);
  background-color: #23538a;
}

.btn-game.btn-game--speedrun {
  background: linear-gradient(to bottom, #199600 5%, #199600 100%);
  background-color: #199600;
}

.btn-game.btn-game--speedrun:hover {
  background: linear-gradient(to bottom, #199600 5%, #26e300 100%);
  background-color: #199600;
}

.btn-game.btn-game--arcade {
  background: linear-gradient(to bottom, #ff8100 5%, #ff8100 100%);
  background-color: #ff8100;
}

.btn-game.btn-game--arcade:hover {
  background: linear-gradient(to bottom, #ff8100 5%, #ffa74d 100%);
  background-color: #ff8100;
}

.btn-game.btn-game--unranked {
  background: linear-gradient(to bottom, #000000 5%, #000000 100%);
  background-color: black;
}

.btn-game.btn-game--unranked:hover {
  background: linear-gradient(to bottom, #000000 5%, #4c4c4c 100%);
  background-color: #23538a;
}

.btn-game.btn-game--challenge {
  background: linear-gradient(to bottom, #9700db 5%, #9700db 100%);
  background-color: #9700db;
}

.btn-game.btn-game--challenge:hover {
  background: linear-gradient(to bottom, #9700db 5%, #bc29ff 100%);
  background-color: #9700db;
}

.btn-game.btn-game--solution {
  background: linear-gradient(to bottom, #b20000 5%, #b20000 100%);
  background-color: #b20000;
}

.btn-game.btn-game--solution:hover {
  background: linear-gradient(to bottom, #b20000 5%, #b61d1d 100%);
  background-color: #b20000;
}

.btn-game.btn-game--incremental {
  background: linear-gradient(to bottom, #ecdc48 5%, #ecdc48 100%);
  background-color: #ecdc48;
}

.btn-game.btn-game--incremental:hover {
  background: linear-gradient(to bottom, #ecdc48 5%, #c2b437 100%);
  background-color: #ecdc48;
}

.btn-game.btn-game--collectible {
  background: linear-gradient(to bottom, #48e092 5%, #48e092 100%);
  background-color: #48e092;
}

.btn-game.btn-game--collectible:hover {
  background: linear-gradient(to bottom, #48e092 5%, #36ca7e 100%);
  background-color: #48e092;
}

@media (max-width: 670px) {
  #footer {
    flex-direction: column;
    gap: 20px;
  }
  #footerleft, #footerright, #footerlinks {
    text-align: left;
  }
}

.page-articles-new .preview-window,
.page-articles-edit .preview-window {
  max-width: 600px;
  margin: 0px auto;
}

.page-articles-new #rendered-preview,
.page-articles-edit #rendered-preview {
  border: 1px solid black;
  padding: 20px;
}

.page-articles-new .new-article-form,
.page-articles-edit .edit-article-form {
  max-width: 960px;
  margin: 0px auto;
}

.page-articles-new #news_text,
.page-articles-edit #news_text {
  width: 100%;
}

.page-articles-new #rendered-preview.loading,
.page-articles-edit #rendered-preview.loading {
  background-color: black;
}

.page-games-index .games-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.page-games-index .games-filter > div label {
  display: block;
}

.page-csmails-show .csmail { display: flex; flex-wrap: wrap; gap: 40px; }
.page-csmails-show .messages tr:nth-child(2n + 1) { background-color: #eeeeee; }
.page-csmails-show .folders .folder { padding-left: 40px; min-height: 32px; display: flex; align-items: center; }
.page-csmails-show .folders .folder { background: url(/images/icon-folder.gif) no-repeat; }
.page-csmails-show .folders .folder:hover { background: url(/images/icon-folderopen.gif) no-repeat; }


.page-admin-staff_logs-index ul.log-list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0px;
  gap: 20px;
}

.page-admin-staff_logs-index ul.log-list li {
  border: 1px solid #ccc;
  margin: 4px;
  width: 200px;
  overflow-wrap: break-word;
  text-align: center;
  padding: 20px;
}

.page-admin-staff_logs-index ul.log-list li:hover {
  border: 1px solid var(--color-standard);
  border-width: 5px;
  margin: 0px;
}

.page-admin-staff_logs-index ul.log-list li form { margin-top: 1em; }

.page-scoreboards-index .standard { color: var(--color-standard); }
.page-scoreboards-index .arcade { color: var(--color-arcade); }
.page-scoreboards-index .speedrun { color: var(--color-speedrun); }
.page-scoreboards-index .solution { color: var(--color-solution); }
.page-scoreboards-index .challenge { color: var(--color-challenge); }
.page-scoreboards-index .incremental { color: var(--color-incremental); }
.page-scoreboards-index .collectible { color: var(--color-collectible); }
.page-scoreboards-index .incremental { color: var(--color-incremental); }
.page-scoreboards-index .unranked { color: var(--color-unranked); }

.page-scoreboards-index .scoreboards img { max-width: 90px; max-height: 90px; display: block; margin: 0px auto; }
.page-scoreboards-index .scoreboard-icon { width: 90px; height: 90px; display: flex; margin: 0px auto; align-items: center; margin-bottom: 1em; }
.page-scoreboards-index .scoreboards a { font-size: 1rem; }
.page-scoreboards-index .scoreboards { display: flex; flex-wrap: wrap; gap: 4em 2em; justify-content: space-around; }

.page-scoreboards-staff .scoreboard .entry:nth-child(even) { background-color: #eef7f7; }
.page-scoreboards-staff .scoreboard .entry td { padding-right: 10px; }
.page-scoreboards-staff .scoreboard th { text-align: right; padding-right: 10px; }
.page-scoreboards-staff .scoreboard td { text-align: right; padding-right: 10px; }
.page-scoreboards-staff .scoreboard .user { text-align: left; }

.page-scoreboards-staff .scoreboard .entry.gold { background-color: var(--color-gold-megalight); }
.page-scoreboards-staff .scoreboard .entry.silver { background-color: var(--color-silver-megalight); }
.page-scoreboards-staff .scoreboard .entry.bronze { background-color: var(--color-bronze-megalight); }

@media (max-width: 560px) {
  .page-scoreboards-staff .scoreboard tr > *:nth-child(n + 4) { display: none; }
}

@media (min-width: 561px) and (max-width: 1000px) {
  .page-scoreboards-staff .scoreboard tr > *:nth-child(n + 5) { display: none; }
}

.page-scoreboards-country .scoreboard .entry:nth-child(even) { background-color: #eef7f7; }
.page-scoreboards-country .scoreboard .entry td { padding-right: 10px; }
.page-scoreboards-country .scoreboard th { text-align: right; padding-right: 10px; }
.page-scoreboards-country .scoreboard td { text-align: right; padding-right: 10px; height: 40px; }
.page-scoreboards-country .scoreboard .user { text-align: left; }

.page-scoreboards-country .scoreboard .entry.gold { background-color: var(--color-gold-megalight); }
.page-scoreboards-country .scoreboard .entry.silver { background-color: var(--color-silver-megalight); }
.page-scoreboards-country .scoreboard .entry.bronze { background-color: var(--color-bronze-megalight); }



.page-with-sidebar {
  display: grid;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

@media (max-width: 640px) {
  .page-with-sidebar {
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header" "sidebar" "main";
    align-content: start;
  }

  .page-with-sidebar .title-header { margin-bottom: 0px; }
}

@media (min-width: 641px) {
  .page-with-sidebar {
    grid-template-columns: auto 300px;
    grid-template-rows: auto 1fr;
    grid-template-areas: "header sidebar" "main sidebar";
    align-content: start;
  }
}

.page-with-sidebar .title-header { grid-area: header; }
.page-with-sidebar .sidebar { grid-area: sidebar; }
.page-with-sidebar .main-content { grid-area: main; }


.page-records-multiple-edit .editrecordtable td {
  padding-left: 5px;
  text-align: left;
}

@media (max-width: 1000px) {
  .page-records-multiple-edit .editrecordtable td {
    display: block;
  }
}

@media (min-width: 1001px) {
  .page-records-multiple-edit .editrecordtable .table-label {
    display: none;
  }
}

.page-records-multiple-edit .group { background-image: linear-gradient(to bottom, var(--regular), var(--dark)); }
.page-records-multiple-edit .group.default { --regular: var(--color-standard); --dark: var(--color-standard-dark); }
.page-records-multiple-edit .group.standard { --regular: var(--color-standard); --dark: var(--color-standard-dark); }
.page-records-multiple-edit .group.speedrun { --regular: var(--color-speedrun); --dark: var(--color-speedrun-dark); }
.page-records-multiple-edit .group.arcade { --regular: var(--color-arcade); --dark: var(--color-arcade-dark); }
.page-records-multiple-edit .group.solution { --regular: var(--color-solution); --dark: var(--color-solution-dark); }
.page-records-multiple-edit .group.challenge { --regular: var(--color-challenge); --dark: var(--color-challenge-dark); }
.page-records-multiple-edit .group.incremental { --regular: var(--color-incremental); --dark: var(--color-incremental-dark); }
.page-records-multiple-edit .group.collectible { --regular: var(--color-collectible); --dark: var(--color-collectible-dark); }
.page-records-multiple-edit .group.unranked { --regular: var(--color-unranked); --dark: var(--color-unranked-dark); }

.page-users-settings .flair-list { display: flex; gap: 10px; }
.page-users-settings .flair { display: flex; flex-direction: column; align-items: center; gap: 5px; cursor: pointer; padding: 5px; }
.page-users-settings .flair img { max-height: 50px; }
.page-users-settings .flair.selected { border: 2px solid var(--color-standard); }
.page-users-settings .flair.locked { filter: grayscale(80%); background-color: #eee; }

.page-users-show .flair img { max-height: 50px; }

.tabbed-modules {
  overflow: auto;
  padding: 10px;
  display: flex;
  gap: 10px;
}

.tabbed-modules-contents {
  overflow: auto;
  width: 100%;

  border-width: 2px;
  border-style: solid;
  border-color: #23538a;
  padding: 15px;
}

@media (max-width: 670px) {
  .tabbed-modules { display: block; }
  .tabbed-modules-contents { width: auto; }
}

.tabbed-modules-sidebar .sidebar-navigation h3 {
  margin: 0.5em;
}

div.sidebar-navigation {
  border: 2px solid #23538a;
  text-align: center;
  overflow: auto;
}

.tabbed-modules a.menu {
  display: block;
  padding: 8px;
  text-shadow: 1px 1px 2px #000000;
  text-align: center;
  line-height: 125%;
  color: #ffffff;
  background: #23538a;
  font-family: Ubuntu;
}

.tabbed-modules div.menu + div.menu {
  margin-top: 2px;
}

.submissions-table.default-color-arcade .submissions-table-row-bar { background-color: var(--color-arcade-light); }
.submissions-table.default-color-standard .submissions-table-row-bar { background-color: var(--color-standard-light); }
.submissions-table.default-color-speedrun .submissions-table-row-bar { background-color: var(--color-speedrun-light); }
.submissions-table.default-color-solution .submissions-table-row-bar { background-color: var(--color-solution-light); }
.submissions-table.default-color-challenge .submissions-table-row-bar { background-color: var(--color-challenge-light); }
.submissions-table.default-color-incremental .submissions-table-row-bar { background-color: var(--color-incremental-light); }
.submissions-table.default-color-collectible .submissions-table-row-bar { background-color: var(--color-collectible-light); }

.submissions-table.default-color-arcade .submissions-table-row-bar--secondary { background-color: var(--color-arcade-megalight); }
.submissions-table.default-color-standard .submissions-table-row-bar--secondary { background-color: var(--color-standard-megalight); }
.submissions-table.default-color-speedrun .submissions-table-row-bar--secondary { background-color: var(--color-speedrun-megalight); }
.submissions-table.default-color-solution .submissions-table-row-bar--secondary { background-color: var(--color-solution-megalight); }
.submissions-table.default-color-challenge .submissions-table-row-bar--secondary { background-color: var(--color-challenge-megalight); }
.submissions-table.default-color-incremental .submissions-table-row-bar--secondary { background-color: var(--color-incremental-megalight); }
.submissions-table.default-color-collectible .submissions-table-row-bar--secondary { background-color: var(--color-collectible-megalight); }

.submissions-table.default-color-standard .subs_bar_other { background-color: var(--color-standard-megalight); }
.submissions-table.default-color-standard .subs_bar_gold { background-color: var(--color-gold); }
.submissions-table.default-color-standard .subs_bar_silver { background-color: var(--color-silver); }
.submissions-table.default-color-standard .subs_bar_bronze { background-color: var(--color-bronze); }
.submissions-table.default-color-standard .subs_bar_plat { background-color: var(--color-platinum); }

.page-record-improvements-show table tr:hover { background-color: #ccc; }

.scoreboard-selector { margin-bottom: 10px; }


.labelled-form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px;
}

.labelled-form-separator {
  grid-column: 1 / 3;
}

.labelled-form-label {
  grid-column: 1;
  margin-top: 5px;
}

.labelled-form-value {
  grid-column: 2;
}

.labelled-form-value select               { box-sizing: border-box; width: 100%; }
.labelled-form-value input[type=number]   { box-sizing: border-box; width: 100%; }
.labelled-form-value input[type=text]     { box-sizing: border-box; width: 100%; }
.labelled-form-value input[type=file]     { box-sizing: border-box; width: 100%; }
.labelled-form-value input[type=password] { box-sizing: border-box; width: 100%; }
.labelled-form-value input[type=email]    { box-sizing: border-box; width: 100%; }
.labelled-form-value textarea             { box-sizing: border-box; width: 100%; }

.sidebar-section select {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #ccc;
  padding: 3px 8px;
  background-color: white;
  max-width: none;
  font-size: 13px;
}

.chart-submission-fields {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 5px 0;
  align-items: center;
}

.chart-submission-prefix { grid-column: 1; padding-right: 5px; }
.chart-submission-field { grid-column: 2; }
.chart-submission-suffix { grid-column: 3; padding-left: 5px; }

.two-panel-multiselect { display: grid; grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 400px)); align-items: stretch; gap: 10px;}
.two-panel-multiselect__actions { display: flex; flex-wrap: wrap; flex-direction: column; justify-content: center; gap: 5px; }
.two-panel-multiselect__source-filter { display: block; }
.two-panel-multiselect__source { width: 100%; height: 300px; }
.two-panel-multiselect__target { width: 100%; height: 300px; }
.two-panel-multiselect__source :not(.-match) { display: none; }
.two-panel-multiselect__source-panel,
.two-panel-multiselect__target-panel { display: grid; align-content: end; gap: 5px; }
