:root {
  --color-link: var(--color-standard);
}

body {
	margin: 0;
	padding: 0;
	font: normal 12px/16px Verdana, Arial, Helvetica, sans-serif;
	background-color: #23538a;
}

form {
	margin: 0;
}

input[type=submit] {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	display: inline-block;
	border: none;
	padding: 2px 5px;
	cursor: pointer;
	background-color: #111144;
	color: #ffffff;
}

input[type=submit]:hover {
	color: #aaaaff;
}

a img {
	border: 0;
}

a:link, a:visited {
  color: #4499cc;
  color: var(--color-link);
  /* TODO: improve contrast, probably by setting color: var(--color-standard); */
  text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

table {
	width: 100%;
	border-collapse: collapse;
}

#badge table{
  width: 150px;
}

th {
	text-align: left;
}

td {
	vertical-align: middle;
}

input {
	font-family: sans-serif;
}

h1, h2, h3, h4, h5 {
  color: #23538a;
  font-family: Ubuntu;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

h1 {
  font-size: 1.7em;
  letter-spacing: 1px;
}

h2 {
  font-size: 1.4em;
}
/*Someone removed this recently, causing the scoreboard scores to lose their bolding. Feel free to put this in a better place but please do not delete it unless something else is doing its job.*/
.scoreboardCSR {
  font-size: 1.4em;
  color: #23538a;
  font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
}

h3 {
  font-size: 1.3em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0.5rem;
  gap: clamp(0.25rem, (100vw - 15rem)/7.5 + 0.25rem, 1rem);
}

.skiplink {
  position: absolute;
  z-index: calc(var(--layer-menu) + 1);
  left: -500vw;
  --color-link: black;
  padding: 0.5rem;
  font-weight: bold;
  background-color: var(--color-standard-megalight);
  border: 1px solid var(--color-standard-dark);
}

.skiplink:focus-visible {
  left: 1rem;
  top: 1rem;
}

.header small {
  display: flex;
}

.header > * {
  flex-shrink: 0;
}

.header .logo {
  flex-shrink: 1;
  --color-link: white;
  font-family: Ubuntu;
  text-shadow: 1px 1px 4px black;
  /* 360px = 22.5rem, 240px = 15.0rem */
  font-size: clamp(1rem, (100vw - 15.0rem)/7.5 + 1rem, 2rem);
  line-height: 1.2em;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.header .logo::after {
  content: "";
  background-image: url(/images/scoreboards/default.svg);
  background-size: 100%;
  width: 1.5em; /* relative to .logo font-size */
  aspect-ratio: 1;
  filter: invert(1) drop-shadow(1px 1px 5px black);
}

.hamburger {
  display: none;
}

.header img {
  max-width: 100%;
  max-height: 3rem;
  display: block;
  padding: 0;
}

@media (max-width: 670px) {
  .header .hamburger {
    display: block;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    flex-shrink: 0;
    background-image: url(/images/scoreboards/hamburger.svg);
    background-size: 100%;
    filter: invert(1);
    width: 1.5em;
    aspect-ratio: 1;
    filter: invert(1) drop-shadow(1px 1px 5px black);
  }
}

/***************
 * BREADCRUMB
 ***************/
#breadcrumb {
	border-bottom: 1px solid #000000;
	font-size: 0.8em;
	padding: 3px 0;
}

#breadcrumb a:link, #breadcrumb a:visited {
	color: #000000;
}

/***************
 * TOPNAV
 ***************/
.topnav {
  background-color: transparent;
  --color-highlight: #a9d1e0;
  --color-foreground: white;
  --color-background: #333;
}

.topnav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.topnav .menu_scoreboards a {
  grid-template-columns: auto 1fr;
  padding: 0.5em 1em;
}

.topnav .menu_scoreboards a::before {
  background-image: var(--scoreboard-icon-url, var(--scoreboard-default-icon-url));
  background-size: 100%;
  width: 1.5em;
  height: 1.5em;
  content: "";
  display: block;
  filter: var(--scoreboard-icon-filter, var(--scoreboard-default-icon-filter));
}

.topnav a {
  display: grid;
  --color-link: var(--color-foreground);
  font-family: Ubuntu;
  text-decoration: none;
  padding: 1.0em;
  align-items: center;
  gap: 0.5rem;
  line-height: 1.0em;
}
.topnav :not(.searchform) a:hover {
  color: var(--color-background);
  background-color: var(--color-highlight);
}

.topnav .topnav-entries {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  padding: 0.25rem;
  padding-top: 0;
}

.topnav-entry {
  background-color: var(--color-background);
}

.topnav-entry button {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  color: white;
  padding: 1em;
  line-height: 1em;
  font-family: Ubuntu;
  font-size: 1em;
  width: 100%;
  text-align: start;
}
.topnav-entry button:hover {
  text-transform: underline;
  color: var(--color-background);
  background-color: var(--color-highlight);
}

.topnav-entry button:focus-visible {
  position: relative;
}

@media (width > 670px) {
  .topnav-entry:not(:hover) ul:not(.-visible) {
    display: none;
  }
}

.topnav-entry ul {
  display: grid;
  position: absolute;
  z-index: 2;
  min-width: 30ch;
  background-color: #111111;
}

.topnav-entry ul li {
  display: grid;
  min-height: 3em;
}

/* stacking contexts */
:root {
  --layer-menu: 10;
}

@media (max-width: 670px) {
  .topnav {
    transform: translateX(-200vw);
    background-image: none;
    backdrop-filter: blur(0.25rem);
    position: absolute;
    /* this matches with header avatar image plus whatever paddings are added */
    inset: calc(1rem + clamp(2rem, 10vw, 2.5rem)) 0 0 0;
    z-index: var(--layer-menu);
    overflow-y: scroll;
  }

  .topnav .topnav-entries {
    display: grid;
    width: 100%;
    border-top: 2px solid var(--color-standard-light);
    border-bottom: 2px solid var(--color-standard-light);
    max-height: 100vh;
    padding: 0;
    gap: 0;
  }

  .topnav-entries ul {
    display: grid;
  }

  .topnav-entry {
    background-color: #333;
    background-image: none;
    font-weight: bold;
  }

  .topnav-entry ul:not(.-visible) {
    display: none;
  }

  .topnav-entry + .topnav-entry {
    border-left: 0;
  }

  .hamburger[aria-expanded="true"] {
    background-image: url(/images/scoreboards/heart.svg);
  }

  body:has(.hamburger[aria-expanded="true"]) .topnav-entry ul {
    position: static;
    padding-left: 1rem;
  }

  body:has(.hamburger[aria-expanded="true"]) {
    overflow: hidden;
    height: 100vh;
  }

  body:has(.hamburger[aria-expanded="true"]) .topnav {
    transform: translateX(0%);
  }
}


/* search form in the nav bar */
.searchform {
  padding: 0.5em 1em;
  margin: 0;
  display: grid;
  align-items: stretch;
  flex-grow: 1;
}

.searchform form {
  display: flex;
}

.searchform label {
  display: flex;
  align-items: center;
}

.searchform #topsearchtext {
  width: 150px;
  height: 16px;
  border: 0;
}

.livesearch-results {
  background-color: white;
  border: 3px solid var(--color-standard-dark);
  white-space: nowrap;
  min-width: 15rem;
  display: none;
}


@media (width > 670px) {
  .searchform:focus-within .livesearch-results:has(.autocomplete-suggestion) {
    position: absolute;
    display: block;
    z-index: 1;
  }
}

.livesearch-results-section {
  background-color: var(--color-standard);
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  height: 24px;
  padding: 0px 4px;
}

.livesearch-no-matches {
  color: black;
  display: flex;
  align-items: center;
  line-height: 24px;
  padding: 0px 4px;
}

.livesearch-more {
  color: black !important;
}

.game-search { position: relative; }
.game-search input[type=search] { width: 100%; }
.game-search .game-search-results {
  background-color: white;
  border: 3px solid var(--color-standard-dark);
  display: none;
  min-width: 100%;
}
.game-search:focus-within .game-search-results:has(.autocomplete-suggestion) {
  display: block;
  position: absolute; top: 100%;
  z-index: 1;
}

.autocomplete-suggestion {
  display: flex !important;
  gap: 5px;
  border: 0;
  line-height: 24px;
  padding: 4px !important;
  color: black !important;
}

.autocomplete-suggestion:hover, .autocomplete-suggestion:focus {
  background-color: var(--color-standard-megalight);
}

.autocomplete-suggestion img {
  width: 24px;
  height: 24px;
}

.game_medal {
	width: 100px;
	height: 15px;
	position: relative;
	border: 1px solid;
	border-color: #000000;
	margin: 1px 0 1px 0;
}

	.game_medal div.score_bar {
		height: 15px;
		top: 0px;
		position: absolute;
		background-color: #000000;
		z-index: 1;
	}


	.game_medal div.subs_bar_plat, .game_medal div.subs_bar_silver, .game_medal div.subs_bar_gold, .game_medal div.subs_bar_bronze, .game_medal div.subs_bar_other {
		width: 100px;
		height: 15px;
		top: 16px;
		position: absolute;
		z-index: 1;
	}

	.game_medal div.game_medal_text {
		width: 520px;
		top: -3px;
		position: absolute;
		z-index: 1000;
	}


/***************
 * FOOTER
 ***************/
#footer {
  clear: both;
  padding: 20px;
  background-color: #23538a;
  color: #ffffff;
  box-shadow: 0 0px 5px 0 black;
  display: flex;
}

#footer a:link, #footer a:visited {
  color: #ffffff;
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}

#footerleft {
  flex: 1;
}

#footerlinks {
  flex: 1;
  text-align: center;
}

#footerright {
  flex: 1;
  text-align: right;
}

/***************
 * HACKS
 * Clearance fix
 ***************/
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
