#scoreboard-tabs.ui-tabs {
  padding: 0;
}

#scoreboard-tabs.ui-tabs .ui-tabs-nav {
  display: flex;

  padding: 0;
  border: none;
}

#scoreboard-tabs.ui-tabs .ui-tabs-tab {
  flex-grow: 1;
  display: flex;

  margin: 0;
  border: none;
  border-radius: 0;
}

#scoreboard-tabs.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  color: black;
  width: 100%;
  text-align: center;
  font-size: 200%;
}

#scoreboard-tabs.ui-tabs .ui-tabs-panel {
  border: none;
  padding: 0;
}


.scoreboard-container {
  display: flex;
}

.scoreboard-aside {
  width: 120px;
  height: 150px;
  font-size: 500%;

  text-align: center;

  color: black;
  padding-top: 20px;
}

.scoreboard-content {
  flex-grow: 5;

  color: black;
}

.scoreboard-header {
  height: 20px;
}

.scoreboard-body {
  padding: 10px;
  height: 130px;
}

#scoreboard-tabs ul li:nth-of-type(1),
#scoreboard-tabs>.ui-tabs-panel:nth-of-type(1) .scoreboard-aside,
#scoreboard-tabs>.ui-tabs-panel:nth-of-type(1) .scoreboard-header {
  background-color: rgb(35, 83, 138);
}

#scoreboard-tabs>.ui-tabs-panel:nth-of-type(1) .scoreboard-body {
  background-color: rgb(35, 83, 138, .5);
}

#scoreboard-tabs ul li:nth-of-type(2),
#scoreboard-tabs>.ui-tabs-panel:nth-of-type(2) .scoreboard-aside,
#scoreboard-tabs>.ui-tabs-panel:nth-of-type(2) .scoreboard-header {
  background-color: rgb(80, 133, 187);
}

#scoreboard-tabs>.ui-tabs-panel:nth-of-type(2) .scoreboard-body {
  background-color: rgb(80, 133, 187, .5);
}

#scoreboard-tabs ul li:nth-of-type(3),
#scoreboard-tabs>.ui-tabs-panel:nth-of-type(3) .scoreboard-aside,
#scoreboard-tabs>.ui-tabs-panel:nth-of-type(3) .scoreboard-header {
  background-color: rgb(255, 129, 0);
}

#scoreboard-tabs>.ui-tabs-panel:nth-of-type(3) .scoreboard-body {
  background-color: rgb(255, 129, 0, .5);
}

#scoreboard-tabs ul li:nth-of-type(4),
#scoreboard-tabs>.ui-tabs-panel:nth-of-type(4) .scoreboard-aside,
#scoreboard-tabs>.ui-tabs-panel:nth-of-type(4) .scoreboard-header {
  background-color: rgb(25, 150, 0);
}

#scoreboard-tabs>.ui-tabs-panel:nth-of-type(4) .scoreboard-body {
  background-color: rgb(25, 150, 0, .5);
}

#scoreboard-tabs ul li:nth-of-type(5),
#scoreboard-tabs>.ui-tabs-panel:nth-of-type(5) .scoreboard-aside,
#scoreboard-tabs>.ui-tabs-panel:nth-of-type(5) .scoreboard-header {
  background-color: rgb(178, 0, 0);
}

#scoreboard-tabs>.ui-tabs-panel:nth-of-type(5) .scoreboard-body {
  background-color: rgb(178, 0, 0, .5);
}

#scoreboard-tabs ul li:nth-of-type(6),
#scoreboard-tabs>.ui-tabs-panel:nth-of-type(6) .scoreboard-aside,
#scoreboard-tabs>.ui-tabs-panel:nth-of-type(6) .scoreboard-header {
  background-color: rgb(151, 0, 219);
}

#scoreboard-tabs>.ui-tabs-panel:nth-of-type(6) .scoreboard-body {
  background-color: rgb(151, 0, 219, .5);
}
