<script type="text/javascript">
function showSpoiler(obj) {
    var inner = obj.parentNode.getElementsByTagName("div")[0];
    if (inner.style.display == "none")
        inner.style.display = "";
    else
        inner.style.display = "none";
    }
</script>

<div class="layout--content-primary">
  <div id="breadcrumb" class="clearfix">
    <a href="/">Home</a> &rarr; Record Notes
  </div>

  <h1>Record Notes</h1>

  <h3>This table is sorted by ascending Record ID.</h3>

  <table class="zebra" border="1" cellpadding="5">
    <tr>
      <th>User</th>
      <th>Chart Name</th>
      <th>Record</th>
      <th>Record Note</th>
      <th>Edit Record Note</th>
    </tr>
    {% for record in records %}
      <tr>
        <td>{{ link_to_user(record) }}</td>
        <td>{{ link_to_chart(record) }}</td>
        <td>{{ link_to_record(record) }}</td>
        <td>
          {{ prettify(record.record_note) }}
          {% if record.record_note_date %}
            <br />
            <br />
            <strong>
              This record note was last updated
              by {{ record.moderator_username }}
              on {{ format_datetime(record.record_note_date) }}.
            </strong>
            {% if record.last_update > record.record_note_date %}
              <strong>
                IMPORTANT: This user has updated their record after this note was made.
              </strong>
            {% endif %}
          {% endif %}
        </td>

        <td style="width:25%">
          <div class="spoiler">
            <input type="button" onclick="showSpoiler(this);" value="Edit record note" />
            <div class="inner" style="display:none;">
              <form action="/record-moderation-notes/{{ record.record_id }}" method="post">
                <br />
                <textarea name="record_note" rows="5" cols="50">{{ record.record_note }}</textarea>
                <br />
                <input type="submit" value="Edit record note" />
              </form>
            </div>
          </div>
        </td>
      </tr>
    {% endfor %}
  </table>
</div>
