<h3>Best days per user</h3>
<table class="smalltable zebra">
  {% for user in best_user_days %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ user.date }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.num_approved }}</td>
    </tr>
  {% endfor %}
</table>

