<h3>Monthly history</h3>
<table class="smalltable zebra">
  {% for month in months %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ month.month }}</td>
      <td>{{ month.num_approved }}</td>
    </tr>
  {% endfor %}
</table>
