<h3>All users {{ moderator.username }} has approved</h3>
<table class="smalltable zebra">
  {% for game in approved_games %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ link_to_game(game) }}</td>
      <td>{{ game.num }}</td>
    </tr>
  {% else %}
    <tr><td colspan='3'>You haven't approved any proofs yet!</td></tr>
  {% endfor %}
</table>
