<h3>All users {{ moderator.username }} has approved</h3>
<table class="smalltable zebra">
  {% for user in approved_users %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ link_to_user(user) }}</td>
      <td>{{ user.num }}</td>
    </tr>
  {% else %}
    <tr><td colspan='3'>You haven't approved any proofs yet!</td></tr>
  {% endfor %}
</table>
