<div class="layout--content-primary">
  <div id="breadcrumb" class="clearfix">
    <a href="/">{{ t('general_home') }}</a> 
    &rarr; {{ link_to_game(game) }} 
    &rarr; <a href="/mod_scripts/edit_game_groups.php?game_id={{ game.game_id }}">Edit game charts and groups</a> 
    &rarr; <a href="/game-chart-details/{{ game.game_id }}">Edit chart details</a>
  </div>

  <table class="recordtable zebra">
    <tr>
      <th width="20px"></th>
      <th style="text-align: center;">Chart count</th>
      <th style="text-align: center;">Players</th>
      <th style="text-align: center;">DLC</th>
      <th>Other</th>
      <th>Chart Location</th>
    </tr>

    {% for chart_info in chart_infos %}
      <tr>
        <td>
          <a href="/game-chart-details/{{ game['game_id'] }}?edit={{ chart_info.level_id }}">
            <img src="/skins4/default/images/edit.png">
          </a>
        </td>
        <td style="text-align: center;">
          {{ chart_info.num_levels }} charts
        </td>
        <td style="text-align: center;">{{ chart_info.players }}</td>
        <td style="text-align: center;">
          {% if chart_info.dlc == 0 %}
            No
          {% else %}
            Yes
          {% endif %}
        </td>
        <td>
          <strong>
            {% if chart_info.name_pri != '' %}
              {{ chart_info.name_pri }}:
            {% else %}
              Submission 1 (no label):
            {% endif %}
          </strong>
          {{ chart_types[chart_info.chart_type] }},
          Decimals: {{ chart_info.num_decimals }}
          {% if chart_info.score_prefix != '' %}
            | Prefix: '{{ chart_info.score_prefix }}'
          {% endif %}
          {% if chart_info.score_suffix != '' %}
            | Suffix: '{{ chart_info.score_suffix }}'
          {% endif %}
          <br />

          {% if chart_info.chart_type2 != 0 %}
            <strong>
              {% if chart_info.name_sec != '' %}
                {{ chart_info.name_sec }}:
              {% else %}
                Submission 2 (no label):
              {% endif %}
            </strong>
            {{ chart_types[chart_info.chart_type2] }},
            Decimals: {{ chart_info.num_decimals2 }}
            {% if chart_info.score_prefix2 != '' %}
              | Prefix: '{{ chart_info.score_prefix2 }}'
            {% endif %}
            {% if chart_info.score_suffix2 != '' %}
              | Suffix: '{{ chart_info.score_suffix2 }}'
            {% endif %}
            <br />
          {% endif %}

          {% if chart_info.conversion_factor != 0 %}
            Conversion factor: {{ chart_info.conversion_factor }}
            <br />
          {% endif %}

          {% for i in range(1, 3) %}
            {% if chart_info['names' ~ i] != '' %}
              Extra {{ i }}: {{ chart_info['name' ~ i] }}
              <br />
            {% endif %}
          {% endfor %}
        </td>

        <td>
          <strong>
            {% if chart_info['d0'] %}0 decimals: {{ chart_info['d0'] }} charts<br />{% endif %}
            {% if chart_info['d1'] %}1 decimals: {{ chart_info['d1'] }} charts<br />{% endif %}
            {% if chart_info['d2'] %}2 decimals: {{ chart_info['d2'] }} charts<br />{% endif %}
            {% if chart_info['d3'] %}3 decimals: {{ chart_info['d3'] }} charts<br />{% endif %}
          </strong>
          {% for group in chart_info.groups %}
            {{ group.group_name }}
            ({{ group.num_charts }}/{{ group.total_charts }})
            <br />
          {% endfor %}
        </td>
      </tr>
    {% endfor %}
  </table>
</div>

<div class="layout--sidebar-primary">
  <div class='sidebar-section'>
    <form class='labelled-form' action="/game-chart-details/{{ game.game_id }}" method="post">
      <h2 class="labelled-form-separator">Charts</h2>
      <select class="labelled-form-separator" multiple="multiple" size="20" name="gc_ids[]">
        {% for group in game_groups %}
          <option style="font-weight:bold;" value="g{{ group.group_id }}">{{ group.group_name }}</option>
          {% for chart in group.charts %}
            <option value="c{{ chart.level_id }}" {{ option_selected(chart.level_id, chart_ids) }}>
              &nbsp;&nbsp;&nbsp;&nbsp;{{ chart.level_name }}
            </option>
          {% endfor %}
        {% endfor %}

        {% for chart in other_charts %}
          <option value="c{{ chart.level_id }}" {{ option_selected(chart.level_id, chart_ids) }}>
            {{ chart.level_name }}
          </option>
        {% endfor %}
      </select>

      <h2 class="labelled-form-separator">Chart details</h2>

      <div class='labelled-form-label'>
        <strong>DLC:</strong>
      </div>
      <div class='labelled-form-value'>
        <input type="checkbox" name="dlc" value="1" {% if sample_chart.dlc == 1 %}checked{% endif %}>
      </div>

      <div class='labelled-form-label'>
        <strong>Players:</strong>
      </div>
      <div class='labelled-form-value'>
        <select name="players">
          {% for i in range(1, 9) %}
            <option value="{{ i }}" {{ option_selected(sample_chart.players, i) }}>{{ i }}</option>
          {% endfor %}
        </select>
      </div>

      <div class='labelled-form-label'>
        <strong>Conversion:</strong>
      </div>
      <div class='labelled-form-value'>
        <input type="checkbox" name="use_conversion" {% if sample_chart.conversion_factor != 0 %}checked="checked"{% endif %} />
      </div>

        <div class='labelled-form-label'>
      <i>Conversion factor:</i>
        </div>
        <div class='labelled-form-value'>
      <input type="text" name="conversion_factor" value="{{ sample_chart.conversion_factor }}" size="12" />
        </div>

      <h2 class="labelled-form-separator">Submission details</h2>

        <div class='labelled-form-label'>
          <strong>Submission 1:</strong>
        </div>
        <div class='labelled-form-value'>
          <select name="chart_type">
            {% for i in range(1, 5) %}
              <option value="{{ i }}" {{ option_selected(i, sample_chart.chart_type) }}>
                {{ chart_types[i] }}
              </option>
            {% endfor %}
          </select>
        </div>

        <div class='labelled-form-label'>
          Decimal places:
        </div>
        <div class='labelled-form-value'>
      <select name="num_decimals">
        {% for i in range(-1, 3) %}
          <option value="{{ i }}" {{ option_selected(i, sample_chart.num_decimals) }}>
            {{ i }}
          </option>
        {% endfor %}
      </select>
      </div>

        <div class='labelled-form-label'>
      Label:
        </div>
        <div class='labelled-form-value'>
      <input type="text" name="name_pri" value="{{ sample_chart.name_pri }}" size="10" />
      </div>
        <div class='labelled-form-label'>
      Prefix:
        </div>
        <div class='labelled-form-value'>
      <input type="text" name="score_prefix" value="{{ sample_chart.score_prefix }}" size="5" />
      </div>

      <div class='labelled-form-label'>
        Suffix:
      </div>
      <div class='labelled-form-value'>
        <input type="text" name="score_suffix" value="{{ sample_chart.score_suffix }}" size="5" />
      </div>

      <div class='labelled-form-label'>
        <strong>Submission 2:</strong>
      </div>
      <div class='labelled-form-value'>
        <select name="chart_type2">
          {% for i in range(0, 5) %}
            <option value="{{ i }}" {{ option_selected(i, sample_chart.chart_type2) }}>
              {{ chart_types[i] }}
            </option>
          {% endfor %}
        </select>
      </div>

      <div class='labelled-form-label'>
        Decimal places:
      </div>
      <div class='labelled-form-value'>
        <select name="num_decimals2">
          {% for i in range(-1, 3) %}
            <option value="{{ i }}" {{ option_selected(i, sample_chart.num_decimals2) }}>
              {{ i }}
            </option>
          {% endfor %}
        </select>
      </div>

      <div class='labelled-form-label'>
        Label:
      </div>
      <div class='labelled-form-value'>
        <input type="text" name="name_sec" value="{{ sample_chart.name_sec }}" size="10" />
      </div>

      <div class='labelled-form-label'>
        Prefix:
      </div>
      <div class='labelled-form-value'>
        <input type="text" name="score_prefix2" value="{{ sample_chart.score_prefix2 }}" size="5" />
      </div>

      <div class='labelled-form-label'>
        Suffix:
      </div>
      <div class='labelled-form-value'>
        <input type="text" name="score_suffix2" value="{{ sample_chart.score_suffix2 }}" size="5" />
      </div>

      <div class='labelled-form-label'>
        <label for="name1">Extra Box 1:</label>
      </div>
      <div class='labelled-form-value'>
        <input type="text" id="name1" name="name1" value="{{ sample_chart.name1 }}" size="10" />
      </div>

      <div class='labelled-form-label'>
        <label for="name2">Extra Box 2:</label>
      </div>
      <div class='labelled-form-value'>
        <input type="text" id="name2" name="name2" value="{{ sample_chart.name2 }}" size="10" />
      </div>

      <div class='labelled-form-label'>
        <label for="name3">Extra Box 3:</label>
      </div>
      <div class='labelled-form-value'>
        <input type="text" id="name3" name="name3" value="{{ sample_chart.name3 }}" size="10" />
      </div>

      <div class='labelled-form-separator'>
        <input type="submit" value="Edit selected charts" />
      </div>
    </form>
  </div>
</div>
