<div draggable class='dashboard-editor-entry scoreboard-widget-{{ widget.widget }}'>
  <div class='scoreboard-widget-header'>
    <div>{{ t('widget_title_' ~ widget.widget|replace({'-': '_'})) }}</div>
    <div class='dashboard-editor-entry-remove'>
      <button onclick='this.closest(".dashboard-editor-entry").remove(); return false;'>Remove</button>
    </div>
  </div>
  <div class='scoreboard-widget-edit'>
    <input
        form='dashboard-editor-save'
        name='widgets[{{ widget.uuid }}][widget]'
        type='hidden'
        value='{{ widget.widget }}'
        />

    {% if widget.widget == 'favourite-games' %}
      {% embed 'games/search.html.twig' %}
        {% block on_autocomplete_result %}
           hx-get='/dashboard-widgets/game?widget_id={{ widget.uuid }}'
           hx-vals='js:{"game_id": event.detail.id}'
           hx-target='closest .scoreboard-widget-edit'
           hx-swap='beforeend'
        {% endblock %}
      {% endembed %}

      {% for game_id in widget.params.game_ids %}
        {{ render_component_with('dashboard-widgets/game', { 'widget': widget, 'game_id': game_id }) }}
      {% endfor %}
    {% else %}
      No options available for this widget.
    {% endif %}
  </div>
</div>
