<div class="layout--content-primary">
  <div id="breadcrumb" class="clearfix">
    <a href="/">{{ t('general_home') }}</a> &rarr;
    {{ link_to_game(game) }} &rarr;
    <a href="/records/multiple/new?game_id={{ game.game_id }}">Edit multiple records</a>
  </div>

  <h1>Edit your records - Step 2 of 2</h1>
  <h2>Edit records</h2>

  <p>Make your changes below and then click Save Changes at the end of the form to save them.</p>
  <p>Records which are currently pending / under investigation will not be shown below.</p>

  <form action="/records/multiple/{{ id }}" method="post" name="recordform">
    <table class="editrecordtable">
      <tr>
        <td>Group / Chart</td>
        <td>Score 1</td>
        {% if score2 %}<td>Score 2</td>{% endif %}
        {% if name1 %}<td>Extra 1</td>{% endif %}
        {% if name2 %}<td>Extra 2</td>{% endif %}
        {% if name3 %}<td>Extra 3</td>{% endif %}
        <td>Platform</td>
        {% if patches %}
          <td>Game version</td>
          {% endif %}
        {% if game_entities %}
          {% for i in range(1, max_entities) %}
            <td>Entity {{ i }}</td>
          {% endfor %}
        {% endif %}
        <td>Comment</td>
      </tr>
      <tr>
        <td>set ALL to:</td>
        <td></td>
        {% if score2 %}<td></td>{% endif %}
        {% if name1 %}<td></td>{% endif %}
        {% if name2 %}<td></td>{% endif %}
        {% if name3 %}<td></td>{% endif %}
        <td>
        {% if game_platforms|length > 1 %}
          <select name="all-pid" onchange="change_all_boxes('platform_id',this.value);">
            <option value="-1">{{ t('chart_select_platform') }}</option>
            {% for platform in game_platforms %}
              <option value="{{ platform.platform_id }}">{{ platform.platform_name }}</option>
            {% endfor %}
          </select>
          {% endif %}
        </td>
       {% if patches %}
        <td>
            <select name="all-patch" onchange="change_all_boxes('patch',this.value);">
              <option value="">{{ t('chart_select_patch') }}</option>
              {% for patch in patches %}
                <option value="{{ patch }}">{{ patch }}</option>
              {% endfor %}
            </select>
        </td>
        {% endif %}
        {% if game_entities %}
          {% for i in range(1, max_entities) %}
            <td>
              <select name="all-eid" onchange="change_all_boxes('entity_id{{ i }}', this.value);">
                <option value="-1">{{ t('chart_select_entity') }}</option>
                {% for entity in game_entities[i] %}
                  <option value="{{ entity.game_entity_id }}">{{ entity.name }}</option>
                {% endfor %}
              </select>
            </td>
          {% endfor %}
        {% endif %}
        <td></td>
      </tr>

      {% for group_id, charts in charts_by_group_id %}
        <tr class='group {{ charts[0].group.color }}'>
          <td colspan="100">{{ link_to_game_group(charts[0].group) }}</td>
        </tr>
        <tbody>
          {% for chart in charts %}
            <tr>
              <td class='chart_name'>
                {% if chart.players > 1 %}[{{ chart.players }}P]{% endif %}
                {{ link_to_chart(chart) }}
              </td>
              <td>
                {% if chart.name_pri %}
                  <span style="display: inline-block;">{{ chart.name_pri }}</span>
                {% endif %}
                {{ chart_submit_submission_tags(chart, true, chart.inputs[0], ranks, true) }}
                {% if chart.conversion_factor %}
                  <div>or</div>
                  {{ chart_submit_submission_tags(chart, false, chart.inputs[1], ranks, true) }}
                {% endif %}
              </td>

              {% if score2 %}
                <td>
                  {% if chart.chart_type2 %}
                    {% if chart.name_sec %}
                      <span style="display: inline-block;">{{ chart.name_sec }}</span>
                    {% endif %}
                    {{ chart_submit_submission_tags(chart, false, chart.inputs[1], ranks, true) }}
                  {% endif %}
                </td>
              {% endif %}

              {% if name1 %}
                <td>
                  {% if chart.name1 %}
                    {{ chart.name1 }}
                    <input type="text" name="records[{{ chart.level_id }}][extra1]" value="{{ chart.record.extra1 }}" size="15" />
                  {% endif %}
                </td>
              {% endif %}

              {% if name2 %}
                <td>
                  {% if chart.name2 %}
                    {{ chart.name2 }}
                    <input type="text" name="records[{{ chart.level_id }}][extra2]" value="{{ chart.record.extra2 }}" size="15" />
                  {% endif %}
                </td>
              {% endif %}

              {% if name3 %}
                <td>
                  {% if chart.name3 %}
                    {{ chart.name3 }}
                    <input type="text" name="records[{{ chart.level_id }}][extra3]" value="{{ chart.record.extra3 }}" size="15" />
                  {% endif %}
                </td>
              {% endif %}

              <td>
                <span class="table-label">{{ t('general_platform') }}</span>
                {% if game_platforms|length > 1 %}
                  <select name="records[{{ chart.level_id }}][platform_id]">
                    <option value="-1">{{ t('chart_select_platform') }}</option>
                    {% for platform in game_platforms %}
                      <option {{ option_selected(chart.record.platform_id, platform.platform_id) }} value="{{ platform.platform_id }}">
                      {{ platform.platform_name }}
                      </option>
                    {% endfor %}
                  </select>
                {% else %}
                  <input type="hidden" name="records[{{ chart.level_id }}][platform_id]" value="{{ game_platforms[0].platform_id }}">
                  {{ game_platforms[0].platform_name }}
                {% endif %}
              </td>
              {% if patches %}
              <td>
                  <select name="records[{{ chart.level_id }}][patch]">
                    <option value="">{{ t('chart_select_patch') }}</option>
                    {% for patch in patches %}
                      <option {{ option_selected(patch, chosen_patch) }} value="{{ patch }}">{{ patch }}</option>
                    {% endfor %}
                  </select>
              </td>
              {% endif %}
              {% if game_entities %}
                {% for i in range(1, max_entities) %}
                  <td>
                    {% if i <= chart.max_entities %}
                      <span class='table-label'>Entity {{ i }}:</span>
                      <select name="records[{{ chart.level_id }}][entity_id{{ i }}]">
                        {% if chart.entities[i]|length > 1 %}
                          <option value="-1">{{ t('chart_select_entity') }}</option>
                        {% endif %}

                        {% if chart.min_entities < i %}
                          <option {{ option_selected(null, chart.record['entity' ~ i]) }} value=""></option>
                        {% endif %}

                        {% for entity in chart.entities[i] %}
                          <option {{ option_selected(entity.game_entity_id, def_entity_ids[i]) }} value="{{ entity.game_entity_id }}">
                          {{ entity.name }}
                          </option>
                        {% endfor %}
                      </select>
                    {% endif %}
                  </td>
                {% endfor %}
              {% endif %}
              </td>
              <td>
              <textarea name="records[{{ chart.level_id }}][comment]" id="comment" columns="14" rows="2" maxlength="300">{{ prettify(chart.record.comment ?? "") }}</textarea>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      {% endfor %}
    </table>
    <input type="submit" value="Save Changes" />
  </form>
</div>

<style>
.editrecordtable td { padding: 5px; }
.editrecordtable .group { font-weight: bold; background-color: #666 !important; }
.editrecordtable .group a { color: white; }
.editrecordtable .chart_name { padding-left: 15px; }
.editrecordtable tbody tr + tr { border-top: 1px solid #aaa; }
</style>
<script type="text/javascript">
function change_all_boxes(form_boxes,new_value) {
  for (elem = 0; elem < document.recordform.elements.length; elem++) {
    let form_element = document.recordform.elements[elem];

    if (form_element.name.indexOf(form_boxes) != -1) {
      form_element.value = new_value;
    }
  }
}

let submitting = false;
window.addEventListener('beforeunload', (event) => {
  if (!submitting) {
    event.returnValue = "Are you sure you want to leave this page?";
  }
});

document.querySelector('form[name=recordform]').addEventListener('submit', () => {
  submitting = true;
});

$(document).ready(function() {
 // Disable scroll functionality when focused on a number input so the user doesn't change their input accidentally
 $('form').on('focus', 'input[type=number]', function(e) {
   $(this).on('wheel', function(e) {
     e.preventDefault();
   });
 });

 // Restore scroll on hovering over number inputs for normal behavior
 $('form').on('blur', 'input[type=number]', function(e) {
   $(this).off('wheel');
 });

 // Disable up and down keys so the user doesn't increment/decrement their inputs accidentally
 $('form').on('keydown', 'input[type=number]', function(e) {
   if (e.which == 38 || e.which == 40)
     e.preventDefault();
 });
});
</script>
