<div class="layout--content-primary layout--content-primary-readable">
  <div id="breadcrumb">
    <a href="/">Home</a>
  </div>

  <h1>Proof Guideline editor</h1>

  <a href="/proof-rules">Back to Proof Guideline overview</a>
  <br />
  <br />

  <p>Rule #{{ rule.rule_id }} is used in {{ level_info.num_levels }} charts</p>

  <p>
  {% for game in games %}
    {{ game.num_levels }} in {{ link_to_game(game) }}
    <br />
  {% endfor %}
  </p>

  <form method="post" action="/proof-rules/{{ rule.rule_id }}">
    <textarea name="rule_text" cols="100" rows="5">{{ rule.rule_text }}</textarea>
    <br />
    <input type="submit" value="Change proof-rule text" />
  </form>

  <br />
  <br />

  <form method="post" action="/proof-rules/{{ rule.rule_id }}/delete">
    <input type="submit" value="Delete rule" />
  </form>
</div>
