<div class="layout--content-primary">
  <div id="breadcrumb">
    <a href="/">Home</a>
  </div>

  <h1>Proof Guideline editor</h1>

  <a href="/proof-rules/new">Add a rule</a>
  <br/>
  <br />

  <form method="GET">
    <label for="rule_filter">Search filter:</label>
    <input type="text" name="rule_filter" value="{{ rule_filter }}" size="30" />
    <input type="submit" value="Search" />
  </form>

  <h3>IMPORTANT PROOF GUIDELINES</h3>
  <p>
    <strong>
      Below are some general rules you should use where necessary. Try not to add
      new rules with similar meaning; use these to avoid rule redundancy and
      duplication.
    </strong>
  </p>
  <p>
    <strong>
      Also, please make use of the new ability to add multiple guideline IDs to a
      chart as much as possible.
    </strong>
  </p>

  {% for rule in sample_rules %}
    <p>
      <a href="/proof-rules/{{ rule.rule_id }}/edit">Rule {{ rule.rule_id }}</a>:
      {{ prettify(rule.rule_text) }}
    </p>
  {% endfor %}

  <h3>Full list of proof guidelines</h3>

  {{ rules|length }} proof guidelines found.
  <br />
  <br />

  <table class="zebra" cellpadding="4" border="1">
    <tr>
      <td>ID</td>
      <td>Text</td>
    </tr>
    {% for rule in rules %}
      <tr>
        <td><a href="/proof-rules/{{ rule.rule_id }}/edit">{{ rule.rule_id }}</a></td>
        <td>{{ prettify(rule.rule_text) }}</td>
      </tr>
    {% endfor %}
  </table>
</div>
