<div class="layout--content-primary">
  <div id="breadcrumb" class="clearfix">
    <a href="/">{{ t('general_home') }}</a> &rarr;
    Upload boxart
  </div>

  <h1>Upload boxart</h1>
  <h2>If you’ve got a boxart for a game, then upload it here</h2>

  <p>The boxart uploader only accepts JPEG or PNG images.</p>
  <p>The boxart can have a size of up to 165 pixels in width and 220 pixels in height, if your image is larger than that it will be “rerolfed” automatically.</p>
  <p>To remove an existing boxart use buttons on the sidebar.</p>

  <br />

  <form action="/boxarts/new" enctype=multipart/form-data method="get">
    <label for="game_id">Game:</label>
    <select name="game_id" id="game_id" onchange="this.form.submit()">
      <!--
        Exclude iPhone and iPodTouch from uploads, those can be uploaded for iPad,
        same for Android and WP7 if needed
        $platform_name == 'iPhone' ||
        $platform_name == 'iPod Touch' ||
        $platform_name == 'Android' ||
        $platform_name == 'Windows Phone 7'
      -->
      {% for g in games %}
        <option value="{{ g.game_id }}" {{ option_selected(g.game_id, game.game_id) }}>
          {{ g.name }}
        </option>
      {% endfor %}
    </select>
  </form>

  <a href="https://www.gamefaqs.com/search/index.html?game={{ game_name|escape('url') }}" target="_blank">Search boxart on GameFAQs</a><br />
  <a href="https://en.wikipedia.org/wiki/{{ game_name|escape('url') }}" target="_blank">Search boxart on Wikipedia</a><br />
  <a href="https://www.google.de/search?tbm=isch&q={{ game_name|escape('url') }}" target="_blank">Search boxart on Google</a><br />
  <br />

  <form action="/boxarts" method="post" enctype="multipart/form-data">
    <input type="hidden" name="game_id" value="{{ game.game_id }}" />
    <table class="zebra">
      <tr>
        <td>Platform</td>
        <td>Current boxarts</td>
        <td>Upload boxart</td>
      </tr>
      {% for id, name in game_platforms %}
        <tr>
          <td>
            <input type="hidden" name="platform_ids[{{ id }}]" value="{{ id }}" />
            {{ name }}
          </td>
          <td>
            {% for boxart in game_boxarts[id] %}
              {{ boxart_image_tag(boxart, {'thumbnail': true}) }}
            {% endfor %}
          </td>
          <td><input type="file" name="boxarts[{{ id }}]" /></td>
        </tr>
      {% endfor %}
    </table>
    <tr>
      <td class="input"><input type="submit" value="Upload all" /></td>
    </tr>
  </form>
</div>

<div class="layout--sidebar-primary">
  <div class='sidebar-section'>
    <h3 class='sidebar-title'>Latest games without boxarts</h3>
    {% for g in latest_games_without_boxart %}
      <p>{{ link_to_game(g) }}</p>
    {% endfor %}
  </div>

  <div class='sidebar-section'>
    <h3 class='sidebar-title'>Existing boxarts for this game</h3>

    {% if not game_boxarts %}
      <p>No boxarts found</p>
    {% else %}
      {% for platform_id, boxarts in game_boxarts %}
        <p>{{ game_platforms[platform_id] }}:</p>
        {% for boxart in boxarts %}
          {{ boxart_image_tag(boxart) }}
          <form method='post' action='/boxarts/{{ boxart.boxart_id }}/delete'>
            <input type='submit' value='Delete boxart' />
          </form>
        {% endfor %}
      {% endfor %}
    {% endif %}
  </div>
</div>
