<div class="layout--content-primary">
  <div id="breadcrumb" class="clearfix">
    <a href="/">{{ t('general_home') }}</a>
    &rarr;
    {{ t('general_site_tools') }}
  </div>

  <h1>{{ t('general_site_tools') }}</h1>
  <table>
    <tr>
      {% for section in links %}
        <td style="vertical-align:top; text-align:center">
          <img src="{{ section.icon }}">
          <h2>{{ section.title }}</h2>

          {% for link in section.links %}
            <p><a href="{{ link[0] }}">{{ t(link[1]) }}</a></p>
          {% endfor %}
        </td>
      {% endfor %}
    </tr>
  </table>

  {% if has_access('GameMod') %}
    <hr>
    <table class='zebra'>
      <tr>
        <td><strong>Game name</strong></td>
        <td><strong>Charts</strong></td>
      </tr>
      {% for g in workshop_games %}
        <tr>
          <td>
            {{ link_to_game(g) }}
            <a title="Edit Game" href="/mod_scripts/edit_game.php?id={{ g.game_id }}">
              <img src="{{ skin_image_url("edit.png") }}" width="11" height="11" alt="Edit" />
            </a>
          </td>
          <td>{{ g.total_charts|number_format(0) }}</td>
        </tr>
      {% endfor %}
    </table>
    <br />

    <form action="/games" method="post">
      <input type="text" name="game_name" size="40">
      <input type="submit" value="Add new game">
    </form>
  {% endif %}
</div>
