<div class="layout--content-primary layout--content-primary-readable">
  <div id="breadcrumb" class="clearfix">
    <a href="/">Home</a> &rarr; Support requests archive
  </div>

  <h2>Support requests archive</h2>

  <h3>
    Sort by:
    <a href="/support_requests/archived?sort=archive_date">Archive date</a>
    <a href="/support_requests/archived?sort=message_date">Message date</a>
  </h3>

  <h3><a href="/support_requests">Back to open requests</a></h3>

  <form action="/support_requests" method="get">
    Find user by e-mail address: <input type="text" name="mail" />
    <input type="submit" value="Search" />
  </form>

  <br />
  <hr />
  <br />

  {% for request in requests %}
    {% if request.user_id %}
      {{ link_to_user(request) }}
    {% else %}
      Anonymous
    {% endif %}
    sent {{ format_datetime(request.message_date) }}
    <br />

    <p>{{ prettify(request.message) }}</p>

    <i>
      Archived by {{ request.mod_name }},
      {{ format_datetime(request.mod_date) }}
    </i>

    {% if request.mod_comment %}
      <p>{{ prettify(request.mod_comment) }}</p>
    {% else %}
      <br />
      <br />
    {% endif %}

    <form action="/support_requests/{{ request.support_id }}" method="post">
      <input type="submit" name="unarchive" value="Unarchive request" />
    </form>
    <br />
    <hr />
    <br />
  {% endfor %}
</div>
