<div class="layout--content-primary">
  <div id="breadcrumb">
    <a href="/">Home</a>
  </div>

  <h1>The latest 100 CSMails</h1>

  <table border="1" cellpadding="5">
    <tr>
      <td><b><h3>From:</h3></b></td>
      <td><b><h3>To:</h3></b></td>
      <td><b><h3>Subject:</h3></b></td>
    </tr>
    {% for csmail in csmails %}
      <tr>
        <td>{{ csmail.from_name }}</td>
        <td>{{ csmail.to_name }}</td>
        <td>{{ csmail.subject }}</td>
      </tr>
    {% endfor %}
  </table>
</div>
