<div class="layout--content-primary layout--content-primary-readable">
  <div id="breadcrumb">
    <a href="/">Home</a> &rarr;
    <span>Forgot password</span>
  </div>

  <h1>Help and Support</h1>

  {% if error %}
    <div class="warning">
      <strong>An error occurred:</strong>
      {% if error == 'wrong' %}
        You supplied an incorrect answer.
      {% elseif error == 'username-not-found' %}
        Username/email combination not found.
      {% elseif error == 'recaptcha-failed' %}
        Captcha failed.
      {% endif %}
    </div>
  {% endif %}

  <div style="border: 1px solid black; background-color: lightyellow; padding: 10px;">
    If you're having trouble recovering your password,
    join our <a href="https://discord.gg/0ltq5mHzEqHnRc6N" style="background-color: white;">Discord</a> server.
  </div>

  <p>
    If you have forgotten or need to reset your password, we can change it for you.
    To begin this process, type your username below and click "Next".
  </p>

  <form class='labelled-form' action="/passwords/recover/step2" method="post">
    <div class='labelled-form-label'>
      <label>Username:</label>
    </div>
    <div class='labelled-form-value'>
      <input type="text" name="username" autofocus required />
    </div>

    <div class='labelled-form-label'>
      <label>Email:</label>
    </div>
    <div class='labelled-form-value'>
        <input type="email" name="email" required />
    </div>

    <div class='labelled-form-value'>
      <div class="g-recaptcha" data-sitekey="{{ config.recaptcha.sitekey }}"></div>
    </div>
    <div class='labelled-form-value'>
      <input type="submit" value="Next" />
    </div>
  </form>
</div>

<script src='https://www.google.com/recaptcha/api.js'></script>
