<div class="layout--content-primary layout--content-primary-readable">
  <div id="breadcrumb">
    <a href="/">home</a> &rarr;
    <span>Forgot password</span>
  </div>

  <h1>Help and Support</h1>

  <p>Password Reset - Step 2</p>

  <p>
    In order to verify your identity a secret code has been sent to your registered e-mail address.
    Please check your mail and then enter this code into the box below.
  </p>

  <form class='labelled-form' action="/passwords/recover/step3" method="post">
    <div class='labelled-form-label'>
      <label>Verification code:</label>
    </div>
    <div class='labelled-form-value'>
      <input type="text" name="verification" value="" /></p>
    </div>
    <div class='labelled-form-value'>
      <input type="submit" name="submit" value="Verify" />
    </div>
  </form>
</div>
