<div class="layout--content-primary">
  <div id="breadcrumb" class="clearfix">
    <a href="/">{{ t('general_home') }}</a> &rarr;
    Homepics
  </div>

  <p><a href="/homepics/new">Upload a new homepic</a></p>

  <h2>Small(127 * 190)</h2>

  {% for file in small_files %}
    <img src="{{ file.url }}" />
  {% endfor %}

  <h2>Big(209 * 200)</h2>

  {% for file in big_files %}
    <img src="{{ file.url }}" />
  {% endfor %}
</div>
