<div class="layout--content-primary">
  <div id="breadcrumb" class="clearfix">
    <a href="/">Home</a> &rarr;
    <a href="/translations">Translation Home</a> &rarr;
    Translate news
  </div>

  <h1>Translation</h1>
  <h2>Translate news into {{ language_name }}</h2>

  {% if news_article %}
    <h2>{{ news_article['headline'] }}</h2>

    <textarea readonly="true" style="width: 95%; height: 150px;">{{ news_article['news_text'] }}</textarea>
    <br />
    <br />
    <hr />

    {% if news_article['translated_headline'] != '' or news_article['translated_text'] != '' %}
      <h1>Existing translation</h1>
      <h2>{{ news_article['translated_headline'] }}</h2>

      <textarea readonly="true" style="width: 95%; height: 150px;">{{ news_article['translated_text'] }}</textarea>
      <br />
      <hr />
    {% endif %}

    {% if news_article['headline_suggestions']|length or news_article['news_text_suggestions']|length %}
      <h1>Existing suggestion(s)</h1>

      {% for suggestion in news_article['headline_suggestions'] %}
        <h3>Suggestion by {{ suggestion['username'] }} on {{ format_datetime(suggestion['suggestion_date']) }}:</h3>

        <form action="/translations/news/suggestions/{{ suggestion['id'] }}" style="display:inline;" method="post">
          <input type="text" name="text" value="{{ suggestion['translation'] }}" size="75" /><br />
          <input type="submit" value="Edit suggestion" />
        </form>

        <form action="/translations/news/active-suggestions" style="display:inline;" method="post">
          <input type="hidden" name="suggestion_id" value="{{ suggestion['id'] }}" />
          <input type="submit" value="Activate suggestion" />
        </form>

        <form action="/translations/news/suggestions/{{ suggestion['id'] }}/delete" style="display:inline;" method="post">
          <input type="submit" value="Delete suggestion" />
        </form>
        <br />
      {% endfor %}

      {% for suggestion in news_article['news_text_suggestions'] %}
        <h3>Suggestion by {{ suggestion['username'] }} on {{ format_datetime(suggestion['suggestion_date']) }}:</h3>

        <form action="/translations/news/suggestions/{{ suggestion['id'] }}" style="display:inline;" method="post">
          <textarea name="text" style="width: 95%; height: 150px;">{{ suggestion['translation'] }}</textarea><br />
          <input type="submit" value="Edit suggestion" />
        </form>

        <form action="/translations/news/active-suggestions" style="display:inline;" method="post">
          <input type="hidden" name="suggestion_id" value="{{ suggestion['id'] }}" />
          <input type="submit" value="Activate suggestion" />
        </form>

        <form action="/translations/news/suggestions/{{ suggestion['id'] }}/delete" style="display:inline;" method="post">
          <input type="submit" value="Delete suggestion" />
        </form>
        <br />
      {% endfor %}
      <hr />
    {% endif %}

    <h1>New suggestion</h1>

    <form action="/translations/news/suggestions" method="post">
      <input type="hidden" name="language_id" value="{{ translate_lang_id }}" />
      <input type="hidden" name="news_id" value="{{ news_article['news_id'] }}" />
      <table>
        <tr>
          <td>Headline:</td>
          <td><input type="headline" name="headline" value="" size="75" /></td>
        </tr>
        <tr>
          <td>News Text:</td>
          <td><textarea name="text" style="width:95%; height: 150px;"></textarea></td>
        </tr>
      </table>
      <input type="submit" value="Add new suggestion" />
    </form>
    <br />
  {% endif %}

  <p>What would you like to translate?</p>

  <form action="/translations/news" method="get">
    <select name="news_id" onchange="this.form.submit();">
      <option value="0">(Translated / Suggestions) -------- SELECT A NEWS ARTICLE --------</option>
      {% for news in all_news %}
        <option value="{{ news['news_id'] }}">
          ({{ news['count_t'] }} / {{ news['count_s'] }}) &ndash; {{ news['headline'] }}
        </option>
      {% endfor %}
    </select>
  </form>
</div>

<div class="layout--sidebar-primary">
  {{ render_component_with("translations/menu", []) }}
</div>
