<div class="layout--content-primary">
  <div id="breadcrumb">
    <a href="/">Home</a>
    &rarr;
    Referral Management
  </div>

  <h1>Referral Management</h1>

  <p>The two tables utilise separate forms; so you shouldn't try and make edits to
  unconfirmed and confirmed referrals at the same time.</p>

  <h3>Unconfirmed</h3>
  <form action="/referrals" method="post" name="New_referrals">
    <table border="1" cellpadding="5">
      <tr>
        <th>Referrer:</th>
        <th>User:</th>
        <th>Confirm:</th>
      </tr>
      {% for referral in pending_referrals %}
        <tr>
          <td>
            <a href="/user/{{ referral.referrer_id }}"/>{{ referral.referrer_username }}</a>
            (ID {{ referral.referrer_id }})
          </td>
          <td>
            <a href="/user/{{ referral.user_id }}"/>{{ referral.user_username }}</a>
            (ID {{ referral.user_id }})
          </td>
          <td>
            <input type="checkbox" name="confirm_ids[{{ referral.referral_id }}]" value="{{ referral.referral_id }}" /> Confirm referral
            <input type="checkbox" name="remove_ids[{{ referral.referral_id }}]" value="{{ referral.referral_id }}" /> Remove referral
          </td>
        </tr>
      {% endfor %}
    </table>
    <br />
    <input type="submit" id="submit" value="{{ t('general_save_changes') }}" />
    <br />
  </form>

  <h3>Confirmed</h3>
  <form action="/referrals" method="post" name="Old_referrals">
    <table border="1" cellpadding="5">
      <tr>
        <th>Referrer:</th>
        <th>User:</th>
        <th>Confirm:</th>
      </tr>
      {% for referral in confirmed_referrals %}
        <tr>
          <td>
            <a href="/user/{{ referral.referrer_id }}"/>{{ referral.referrer_username }}</a>
            (ID {{ referral.referrer_id }})
          </td>
          <td>
            <a href="/user/{{ referral.user_id }}"/>{{ referral.user_username }}</a>
            (ID {{ referral.user_id }})
          </td>
          <td>
            <input type="checkbox" name="unconfirm_ids[{{ referral.referral_id }}]" value="{{ referral.referral_id }}" /> Reset referral confirmation
            <input type="checkbox" name="remove_ids[{{ referral.referral_id }}]" value="{{ referral.referral_id }}" /> Remove referral
          </td>
        </tr>
      {% endfor %}
    </table>
    <br />
    <input type="submit" id="submit" value="{{ t('general_save_changes') }}" />
    <br />
  </form>
</div>
