<script type="text/javascript" src="/js/popup.js"></script>
<style>
#popUpBBC {
  font-family: 'Open Sans', serif;
}

.popup {
  position: absolute;
  z-index: 9002;
  padding: 40px;

  width: 800px;
  left: calc(50vw - 400px - 40px);
  height: 400px;
  top: calc(50vh - 200px - 40px);

  border-radius: 22px 22px 22px 22px;
  border: 5px solid #23538a;
  box-shadow: 10px 10px 29px 0px rgba(0,0,0,0.69);

  background: #ffffff;
  overflow-y: scroll;
}
.popup-close {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 3;
}
.popup--closed {
  display: none;
}

</style>

<div id="popUpBB" class='popup popup--closed'>
  <a class='popup-close' href="#" onclick="closePopup('popUpBB')" ><img src="/images/x.png" height="12" width="12" alt="{{ t('tools_close') }}"></a>

  <div id="popUpBBC">
    <h1>Available BB-Code</h1>
    Don't input the { and }, they are there to show you where your input would go.
    <table>
      <tr><td colspan="2"><b>Text decoration</b></td></tr>
      <tr><td>[u]{Text}[/u]</td><td><u>Underlined text</u></td></tr>
      <tr><td>[b]{Text}[/b]</td><td><b>Bold text</b></td></tr>
      <tr><td>[i]{Text}[/i]</td><td><i>Italic text</i></td></tr>
      <tr><td>[s]{Text}[/s]</td><td><s>Struckthrough text</s></td></tr>
      <tr><td>[c]{Text}[/c]</td><td><span style="background-color: #e6e6ff; color: #000;"><code>In-line code fragment</code></span></td></tr>
      <tr><td>[color={color}]{Text}[/c]</td><td rowspan="2"><span style="color: red;"><code>Text colour</code></span></td></tr>
      <tr><td>[colour={colour}]{Text}[/c]</td></tr>
      <tr><td>[size={size}]{Text}[/c]</td><td><span style="font-size: 20px;"><code>Text size</code></span></td></tr>
    </table>

    <br /><br />
    <table>
      <tr><td colspan="2"><b>Media</b></td></tr>
      <tr><td>[url]{link}[/url]</td><td>Hyperlinked URL<br /><a href="https://cyberscore.me.uk">https://cyberscore.me.uk</a><br /></td></tr>
      <tr><td>[url={link}]{Text}[/url]</td><td>Hyperlinked text<br /><a href="https://cyberscore.me.uk">Cyberscore index page</a><br /></td></tr>
      <tr><td>[img]{Link}[/img]</td><td>Embedded image</td></tr>
      <tr><td>[youtube]{ID}[/youtube]</td><td>Embedded youtube video</td></tr>
    </table>

    <br /><br />
    <table>
      <tr><td colspan="2"><b>Organisational</b></td></tr>
      <tr><td>[ol]</td><td>Ordered list</td></tr>
      <tr><td style="padding-left: 25px;">[li]{Text}[/li]<br />[li]{Text}[/li]</td><td><ol><li>Ordered list</li><li>Ordered list</li></ol></td></tr>
      <tr><td>[/ol]</td></tr>
      <tr><td>[ul]</td><td>Unordered list</td></tr>
      <tr><td style="padding-left: 25px;">[li]{Text}[/li]<br />[li]{Text}[/li]</td><td><ul><li>Unordered list</li><li>Unordered list</li></ul></td></tr>
      <tr><td>[/ul]</td></tr>
      <tr><td>[code]{Text}[/code]</td><td><b>Code fragment</b></td></tr>
      <tr><td>[quote="{Author}"]{Text}[/quote]</td><td>Embedded quote</td></tr>
    </table>

    <br /><br />
    <table>
      <tr><td colspan="2"><b>Cyberscore</b></td></tr>
      <tr><td>[user={User ID}]</td><td>{{ prettify("[user=10]") }}</td></tr>
      <tr><td>[game={Game ID}]</td><td>{{ prettify("[game=1501]") }}</td></tr>
      <tr><td>[gameinfo={Game ID}]</td><td>{{ prettify("[gameinfo=1501]") }}</td></tr>
      <tr><td>[gameinfo_rb={Game ID}]</td><td>{{ prettify("[gameinfo_rb=1501]") }}</td></tr>
      <tr><td>[gameinfo_boxart={Game ID}]</td><td>{{ prettify("[gameinfo_boxart=1501]") }}</td></tr>
    </table>
  </div>
</div>

