{% if current_user %}
  <div class="loginbox loginbox-loggedin">
    <a
        class='{{ classnames({'loginbox__user-link': true, 'loginbox__user-link--has-notifications': has_notifications }) }}'
        href="{{ url_for({'user': current_user }) }}"
        title="{{ t('loginbox_charts_stats')|e('html_attr') }}"
    >
      {{ user_avatar_image_tag(current_user, {
        'class': 'loginbox-avatar',
        'alt': current_user['username'],
        'title': t('loginbox_charts_stats'),
      }) }}
    </a>

    <div class="loginbox__info">
      <strong class="loginbox__info__username">
        {{ current_user['username'] }}

        {% if is_impersonator %}
        <form method='post' action="/impersonations/delete">
          <button>[X]</button>
        </form>
        {% endif %}

      </strong>

    {% if queued_records %}
      <span title="{{ queued_records }} queued records" class="queued-records" style="text-align: right;">
        <i class="fa-solid fa-rotate queued-records-indicator"></i>
        <span class="queued-records-label">{{ queued_records }}</span>
      </span>
    {% endif %}
    </div>

    <nav class="loginbox__actions">
      <a href="/csmails" title="{{ t('loginbox_csmail')|e('html_attr') }}">
        <img
          src="{{ skin_image_url(unread_csmails > 0 ? "inbox_new" : "inbox_larger") }}.png"
          height="24"
          style="padding-top: 2px; padding-right: 3px;"
          alt="{{ t('loginbox_csmail')|e('html_attr') }}"
          title="{{ t('loginbox_csmail')|e('html_attr') }}"
        />
      </a>
      {% if unread_csmails > 0 %}
        <span class="lbnotice">{{ unread_csmails }}</span>
      {% endif %}

              <a href="/records/new?id={{ current_user['user_id'] }}" title="{{ t('loginbox_viewrecords') }}">
        <img
          src="{{ skin_image_url('records_view.png') }}"
          height="24"
          style="padding-top: 2px; padding-left: 10px;"
          alt="{{ t('loginbox_viewrecords') }}"
          title="{{ t('loginbox_viewrecords') }}"
        />
      </a>

      <a href="/dashboard.php?id={{ current_user['user_id'] }}" title="{{ t('profile_view_dashboard') }}">
        <img
          src="{{ skin_image_url('dashboard_white.png') }}"
          height="24"
          style="padding-top: 2px; padding-left: 10px;"
          alt="{{ t('profile_view_dashboard') }}"
          title="{{ t('profile_view_dashboard') }}"
        />
      </a>
      <a href="/notifications.php" title="{{ t('loginbox_notifications') }}">
        <img
          src="{{ skin_image_url(unread_notifications > 0 ? 'noti_new' : 'noti_larger') }}.png"
          height="24"
          style="padding-top: 2px; padding-left: 10px;"
          alt="{{ t('loginbox_notifications') }}"
          title="{{ t('loginbox_notifications') }}"
        />
      </a>
      {% if unread_notifications > 0 %}
        <span class="lbnotice">{{ unread_notifications }}</span>
      {% endif %}
      <form action='/sessions/{{ current_user.user_id }}/delete' method='post'>
        <input
          type='image'
          src="{{ skin_image_url('logout.png') }}"
          height="20"
          style="padding-top: 0; padding-left: 10px; display: block;"
          alt="{{ t('loginbox_logout1') }}"
          title="{{ t('loginbox_logout') }}"
        />
      </form>
    </nav>
  </div>

  <div class='loginbox__drawer'>
    <p title="{{ queued_records }} queued records" class='queued-records'>
      <i class="fa-solid fa-rotate queued-records-indicator"></i>
      <span class="queued-records-label">{{ queued_records }}</span> queued records
    </p>
    <a href="{{ url_for({ 'user': current_user }) }}">Profile</a>
    <a href="/csmails">{{ t('loginbox_csmail')|e('html_attr') }} ({{ unread_csmails }})</a>
    <a href="/records/new?id={{ current_user['user_id'] }}">{{ t('loginbox_viewrecords') }}</a>
    <a href="/dashboard.php?id={{ current_user['user_id'] }}">{{ t('profile_view_dashboard') }}</a>
    <a href="/notifications.php">{{ t('loginbox_notifications') }} ({{ unread_notifications }})</a>
    <form action='/sessions/{{ current_user.user_id }}/delete' method='post'>
      <input type='submit' value='Log out' />
    </form>
  </div>

  <script type='text/javascript'>
    document.querySelector('.loginbox__user-link').addEventListener('click', (e) => {
      if (window.matchMedia('(max-width: 660px)').matches) {
        e.preventDefault();
        document.querySelector('.loginbox__drawer').classList.toggle('loginbox__drawer--visible');
        return false;
      }
    });

    async function refreshQueuedRecords() {
      let response = await fetch("/queued-records-count");
      response = await response.json();

      if (response.queued_records_count > 0) {
        document.querySelectorAll('.queued-records-label').forEach(e => { e.innerHTML = response.queued_records_count; });
        document.querySelectorAll('.queued-records-indicator').forEach(e => { e.setAttribute('title', `${response.queued_records_count} queued records`); });
        setTimeout(refreshQueuedRecords, 5000);
      } else {
        document.querySelectorAll('.queued-records').forEach(e => { e.remove(); });
      }
    }

    {% if queued_records %}
      setTimeout(refreshQueuedRecords, 5000);
    {% endif %}
  </script>
{% else %}
  <div class="loginbox loginbox--loggedout">
    <a href='/login'>{{ t('loginbox_login') }}</a>
    <a href='/register'>{{ t('loginbox_register') }}</a>
  </div>
{% endif %}
