<nav id="topnav" class="topnav" aria-label="Primary">
  <ul class='topnav-entries'>
    <li class='topnav-entry' onmouseleave='collapse('button', this)'>
      <button aria-expanded='false' aria-controls='topnav-games' onclick='toggleControls(this)'>{{ t('general_games') }}</button>
      <ul id='topnav-games'>
        <li><a href="/games">{{ t('games_full_list') }}</a></li>
        <li><a href="/game_requests">{{ t('general_view_game_requests') }}</a></li>
        <li><a href="/game_requests/new">{{ t('gamerequests_gr') }}</a></li>
      </ul>
    </li>

    <li class='topnav-entry' onmouseleave='collapse('button', this)'>
      <button aria-expanded='false' aria-controls='topnav-scoreboards' onclick='toggleControls(this)'>{{ t('general_scoreboards') }}</button>
      <ul class='menu_scoreboards' id='topnav-scoreboards'>
        <li class='-sb-starboard'><a href="/scoreboards/starboard">{{ t('general_mainboard')         }}</a></li>
        <li class='-sb-standard'><a href="/scoreboards/medal">{{ t('general_medal_table')       }}</a></li>
        <li class='-sb-arcade'><a href="/scoreboards/arcade">{{ t('general_arcade_table')      }}</a></li>
        <li class='-sb-speedrun'><a href="/scoreboards/speedrun">{{ t('general_awards_table')      }}</a></li>
        <li class='-sb-challenge'><a href="/scoreboards/challenge">{{ t('general_challenge_table')   }}</a></li>
        <li class='-sb-solution'><a href="/scoreboards/solution">{{ t('general_solution_hub')      }}</a></li>
        <li class='-sb-collectible'><a href="/scoreboards/collectible">{{ t('general_collectors_cache')  }}</a></li>
        <li class='-sb-incremental'><a href="/scoreboards/incremental">{{ t('general_incremental')       }}</a></li>
        <li class='-sb-trophy'><a href="/scoreboards/trophy">{{ t('general_trophy_table')      }}</a></li>
        <li class='-sb-rainbow'><a href="/scoreboards/rainbow">{{ t('scoreboards_ultimate') }}</a></li>
        <li class='more-scoreboards'><a href="/scoreboards">More scoreboards...</a></li>
      </ul>
    </li>

    <li class='topnav-entry' onmouseleave='collapse('button', this)'>
      <button aria-expanded='false' aria-controls='topnav-documentation' onclick='toggleControls(this)'>{{ t('general_documentation') }}</button>
      <ul id='topnav-documentation'>
        <li><a href="/site_rules">{{ t('general_site_rules') }}</a></li>
        <li><a href="/faq">{{ t('general_faq') }}</a></li>
        <li><a href="/mechanics">{{ t('documentation_mechanics_title') }}</a></li>
        <li><a href="/policies">{{ t('documentation_policies_title') }}</a></li>
        <li><a href="/staff">{{ t('documentation_staff_title') }}</a></li>
        <li><a href="https://gitlab.com/cyberscore/cyberscore">{{ t('documentation_open_source') }}</a></li>
      </ul>
    </li>
    <li class='topnav-entry' onmouseleave='collapse('button', this)'>
      <button aria-expanded='false' aria-controls='topnav-community' onclick='toggleControls(this)'>{{ t('general_community') }}</button>
      <ul id='topnav-community'>
        <li><a href="/news">{{ t('general_news') }}</a></li>
        <li><a href="/support.php">{{ t('general_support') }}</a></li>
        <li><a href="/scoreboards/ambassador">{{ t('general_ambassador_table') }}</a></li>
        <li><a href="/users">{{ t('general_userlist') }}</a></li>
        <li><a href="/site_stats">{{ t('general_statistics') }}</a></li>
        <li><a href="https://discord.gg/0ltq5mHzEqHnRc6N">{{ t('general_discord_server') }}</a></li>
        <li><a href="/team">{{ t('general_footer_team') }}</a></li>
        <li><a href="/history">{{ t('general_history') }}</a></li>
        <li><a href="/changelog">{{ t('general_dev_changelog') }}</a></li>
      </ul>
    </li>

    {% if has_access(['GameMod', 'ProofMod', 'Translator', 'Designer']) %}
      <li class='topnav-entry' onmouseleave='collapse('button', this)'>
        <button aria-expanded='false' aria-controls='topnav-admin' onclick='toggleControls(this)'>{{ t('general_site_tools') }}</button>
        <ul id='topnav-admin'>
          <li><a href="/admin">{{ t('general_site_tools') }}</a></li>
          <li><a href="/staff">{{ t('documentation_staff_title') }}</a></li>

          {% if has_access('ProofMod') %}
            <li><a href="/proofs/pending">{{ t('tools_pendingproofs') }}</a></li>
          {% endif %}

          {% if has_access(['ProofMod', 'GameMod']) %}
            <li><a href="/proof-rules/index">{{ t('tools_proof_guideline_editor') }}</a></li>
          {% endif %}

          {% if has_access('Admin') %}
            <li><a href="/records/deleted">{{ t('tools_deletedrecords') }}</a></li>
          {% endif %}

          {% if has_access('GlobalMod') %}
            <li><a href="/reported-records">{{ t('tools_reportedrecords') }}</a></li>
            <li><a href="/support_requests">{{ t('tools_support') }}</a></li>
          {% endif %}

          {% if has_access('GameMod') %}
            <li><a href="/boxarts/new">{{ t('tools_boxartupload') }}</a></li>
            <li><a href="/rules/index">{{ t('tools_rule_editor') }}</a></li>
            <li><a href="/admin/rebuild_center">{{ t('tools_rebuild_centre') }}</a></li>
            <li><a href="/handled-game-requests">{{ t('gamerequests_complete_tool') }}</a></li>
          {% endif %}

          {% if has_access('Designer') %}
            <li><a href="/rankbuttons/new">{{ t('tools_rankbuttonupload') }}</a></li>
          {% endif %}

          {% if has_access('Translator') %}
            <li><a href="/translations">{{ t('general_translation') }}</a></li>
          {% endif %}
        </ul>
      </li>
    {% endif %}

    <li class="topnav-entry searchform" aria-label="Search">
      <form action="/search.php" method="get" autocomplete="off">
        <label>
          <img src="{{ skin_image_url('search.png') }}" style="height: 16px; vertical-align: middle; padding-right: 5px; padding-bottom: 3px;" alt="{{ t('general_search') }}">

          <div>
            <input
                type="search"
                name="q"
                onkeyup="LiveSearch(this.value);"
                onkeydown='rove(event, ".searchform")'
                data-rove
                placeholder="{{ t('general_search') }}" />
            <div class="livesearch-results">
            </div>
          </div>
        </label>
      </form>
    </li>
  </ul>
</nav>
<script>
  function toggleControls(element) {
    element.ariaExpanded = element.ariaExpanded !== "true";
    const target = document.getElementById(element.getAttribute('aria-controls'));
    console.log(target);
    target.classList.toggle('-visible');
  }

  function collapse(selector, element) {
    element.querySelector(selector).ariaExpanded = element.ariaExpanded !== "true";
  }
</script>
