<div class="scoreboard-widget scoreboard-widget-latest-submissions">
  <div class="scoreboard-widget-header">
    <a href="/latest-submissions">{{ t('general_latest_subs') }}</a>
  </div>

  <table>
    <thead>
      <tr>
        <th>{{ t('general_user') }}</th>
        <th class="scoreboard-widget-latest-submissions-game">{{ t('general_game_group_and_chart') }}</th>
        <th class="scoreboard-widget-latest-submissions-record">{{ t('general_record') }}</th>
        <th class="scoreboard-widget-latest-submissions-position">{{ t('general_position') }}</th>
        <th colspan="2"></th>
        <th class="scoreboard-widget-latest-submissions-awards">{{ t('general_award') }}</th>
      </tr>
    </thead>
    <tbody>
      {% for latest in entries %}
        <tbody>
          <tr class="{{ classnames({
            'highlight': widget_user and latest.user_id == widget_user.user_id,
            'wide': true,
          }) }}">
            <td class="scoreboard-widget-latest-submissions-user">
              {{ country_flag_image_tag(latest, {'class': 'flag'}) }}
              {{ link_to_user(latest) }}
            </td>

            <td>
              <strong>{{ link_to_game(latest) }}</strong>
            </td>

            <td class="scoreboard-widget-latest-submissions-record">
              <span class="chartname_{{ latest.colour }}">
                {{ link_to_record(latest) }}
              </span>
            </td>

            <td class="scoreboard-widget-latest-submissions-position">
              {{ latest.chart_pos }}/{{ latest.chart_subs }}
            </td>

            <td>
              {% if latest.awards.medals %}
                {% if latest.chart_pos == 1 and latest.platinum == 1 %}
                  <img src="/images/icon-platinumstar.png" title="Platinum" />
                {% elseif latest.chart_pos == 1 %}
                  <img src="/images/icon-goldstar-v2.png" title="Gold" />
                {% elseif latest.chart_pos == 2 %}
                  <img src="/images/icon-silverstar-v2.png" title="Silver" />
                {% elseif latest.chart_pos == 3 %}
                  <img src="/images/icon-bronzestar-v2.png" title="Bronze" />
                {% endif %}
              {% endif %}
            </td>

            <td>
              {% if latest.comment != '' %}
                <img
                  src="/images/comment.png"
                  style="margin-left: 5px;"
                  alt="{{ latest.comment|e('html_attr') }}"
                  title="{{ latest.comment|e('html_attr') }}"
                />
              {% endif %}
            </td>

            <td class="scoreboard-widget-latest-submissions-awards" rowspan="2">
              <!-- CSP & CSR -->
              {% if latest.awards.csp %}
                <span class="chartname_standard"><strong>{{ latest.csr|number_format(2) }} CSR</strong> - {{ latest.csp|number_format(2) }} CSP</span><br />
              {% endif %}

              <!-- Chart-flag awards -->
              {% if latest.awards.arcade_points %}
                <span class="chartname_arcade"><a href="/record/{{ latest.record_id }}">{{ latest.arcade_points|number_format(0) }} Tokens</a></span>
                <br />
              {% endif %}

              {% if latest.awards.brain_power %}
                <span class="chartname_solution"><a href="/record/{{ latest.record_id }}">{{ latest.brain_power|number_format(0) }} Brain Power</a></span>
                <br />
              {% endif %}

              {% if latest.awards.speedrun_points %}
                <span class="chartname_speedrun"><a href="/record/{{ latest.record_id }}">{{ latest.medal_points|number_format(0) }} Speedrun Points</a></span>
                <br />
              {% endif %}

              {% if latest.awards.style_points %}
                <span class="chartname_challenge"><a href="/record/{{ latest.record_id }}">{{ latest.style_points|number_format(1) }} Style Points</a></span>
                <br />
              {% endif %}

              {% if latest.awards.cyberstars %}
                <span class="chartname_collectible"><a href="/record/{{ latest.record_id }}">{{ latest.cyberstars|number_format(0) }} Cyberstars</a></span>
                <br />
              {% endif %}

              {% if latest.awards.cxp %}
                <span class="chartname_incremental"><a href="/record/{{ latest.record_id }}">{{ latest.cxp|number_format(0) }} CXP [<b>{{ latest.vs_cxp|number_format(0) }} VXP</b>]</a></span>
                <br />
              {% endif %}
            </td>
          </tr>
          <tr class="{{ classnames({
            'highlight': widget_user and latest.user_id == widget_user.user_id,
            'wide': true,
          }) }}">
            <td></td>
            <td colspan="5">
              {% if latest.group_id > 0 %}
                {{ link_to_game_group(latest) }} &rarr;
              {% endif %}

              <span class="chartname_{{ latest.colour }}">
                {{ link_to_chart(latest) }}
              </span>
            </td>
          </tr>

          <tr class="{{ classnames({
            'highlight': widget_user and latest.user_id == widget_user.user_id,
            'mobile': true,
          }) }}">
            <td class="scoreboard-widget-latest-submissions-user">
             {{ country_flag_image_tag(latest, {'class': 'flag'}) }}
             {{ link_to_user(latest) }}
            </td>

            <td class="scoreboard-widget-latest-submissions-record">
              <span class="chartname_{{ latest.colour }}">
                {{ link_to_record(latest) }}
              </span>
            </td>

            <td class="scoreboard-widget-latest-submissions-position">
              {{ latest.chart_pos }}/{{ latest.chart_subs }}
            </td>

            <td colspan="2"></td>
            <td class="scoreboard-widget-latest-submissions-awards">
              <!-- CSR -->
              {% if latest.csp != 0 %}
                <strong>{{ latest.csr|number_format(2) }} {{ t('general_csr') }}</strong>
              {% endif %}
            </td>
          </tr>

          <tr class="{{ classnames({
            'highlight': widget_user and latest.user_id == widget_user.user_id,
            'mobile': true,
          }) }}">
            <td colspan="7">
              <strong>{{ link_to_game(latest) }}</strong>
            </td>
          </tr>

          <tr class="{{ classnames({
            'highlight': widget_user and latest.user_id == widget_user.user_id,
            'mobile': true,
          }) }}">
            <td colspan="7">
              {% if latest.group_id > 0 %}
                {{ link_to_game_group(latest) }} &rarr;
              {% endif %}

              <span class="chartname_{{ latest.colour }}">
                {{ link_to_chart(latest) }}
              </span>
          </tr>
        </tbody>
      {% endfor %}
    </tbody>
  </table>

  <div class='scoreboard-widget-more' style="text-align: right; font-weight: bold;">
    <a href="/latest_subs_stats.php">{{ t('index_view_statistics') }}</a>
  </div>
</div>
