<div class="scoreboard-widget scoreboard-widget-{{ id }}">
  <div class="scoreboard-widget-header">
    <a href="/scoreboards/{{ scoreboard }}">{{ title }}</a>
  </div>

  <table>
    <thead>
      <tr>
        <th>Game</th>
        <th>Group</th>
        <th>Chart</th>
        <th>UCSP</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in entries %}
        <tr>
          <td><a href="/game/{{ entry.game_id }}">{{ entry.game_name }}</a></td>
          <td><a href="/group/{{ entry.game_id }}/{{ entry.group_id }}">{{ entry.group_name }}</a></td>
          <td><a href="/chart/{{ entry.level_id }}">{{ entry.level_name }}</a></td>
          <td>{{ entry.ucsp|number_format(2) }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

