<style>
.user-settings-form-personal {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  gap: 10px;
  margin: 10px;
  align-items: center;
}

.user-settings-form-personal p {
  grid-column-start: 1;
  grid-column-end: 3;
}

.user-settings-form-personal .form-actions {
  grid-column: 2;
}

.user-settings-form-personal .prefixed {
  display: flex;
  align-items: baseline;
}

.user-settings-form-personal .prefixed input[type='text'] {
  display: block;
  width: 100%;
}

</style>
<form
  class='user-settings-form-personal'
  action='/settings'
  method='POST'
  enctype='multipart/form-data'
>
  <p>
    (Please note that these are only a visual preference. For actual game
    rankings and global scoreboards, the defaults will all be used regardless of
    your preference)
  </p>

  <label>Display forum tags on index page</label>
  {{ slider_field('index_forum_tags', current_user, 1) }}

  <p>Scoreboard displays and filters:</p>

  <label>Display entity icons</label>
  {{ slider_field('show_entity_icons', current_user, 'yes') }}

  <label for="medal_display">Medal table sort order:</label>
  <div>
    {{ select_field('medal_display', current_user, {
      'plats': 'Most Platinum medals',
      'golds': 'Most Gold medals',
    }) }}
    <div><small>(Default is "Most Platinum medals")</small></div>
  </div>

  <label for="speedrun_display">Speedrun table sort order:</label>
  <div>
    {{ select_field('speedrun_display', current_user, {
      'speedrunpoints': 'Speedrun Points',
      'plats': 'Most Platinum awards',
      'golds': 'Most Golden awards',
    }) }}
    <div><small>(Default is "Most Platinum awards")</small></div>
  </div>

  <label for="trophy_display">Trophy table sort order:</label>
  <div>
    {{ select_field('trophy_display', current_user, {
      'trophypoints': 'Trophy Points',
      'plats': 'Most Platinum trophies',
      'golds': 'Most Golden trophies',
    }) }}
    <div><small>(Default is "Trophy Points")</small></div>
  </div>

  <label>{{ t('profile_highlight_intro') }}</label>
  <div>
    {{ select_field('highlight_me', current_user, {
      'yes': t('profile_highlight_me_yes'),
      'non_medals': t('profile_highlight_me_non_medals'),
      'no': t('profile_highlight_me_no'),
    }) }}

    {{ select_field('highlight_friends', current_user, {
      'yes': t('profile_highlight_friends_yes'),
      'non_medals': t('profile_highlight_friends_non_medals'),
      'no': t('profile_highlight_friends_no'),
    }) }}

    {{ select_field('show_full_names', current_user, {
      'yes': t('profile_name_display_full_names'),
      'no': t('profile_name_display_usernames'),
    }) }}
  </div>

  <label>{{ t('profile_chart_limit') }}</label>
  <div>
    {{ select_field('chart_limit', current_user, {
      '10': 10,
      '25': 25,
      '50': 50,
      '100': 100,
      '999': 'All',
    }) }}
  </div>

  <p>
    Here you can enter a format for how the dates are displayed on the site.
    If left empty, the default date format will be shown.
    <br />
    For example, <code>d/m/Y</code> will display <code>25/10/2013</code>.
    See <a href="https://www.php.net/manual/en/datetime.format.php" target="_blank">PHP's datetime format documentation page</a> for more info.
  </p>

  <label for="date_format">{{ t('profile_date_format') }}</label>
  <div>
    {{ text_field('date_format', current_user, {
      'id': 'date_format',
      'oninput': 'UpdateDateFormatPreview(this.value);',
    }) }}
    <i>Preview:</i>
    <span id="date_format_preview">{{ date_format_preview }}</span>
  </div>

  <label for="timezone">{{ t('profile_timezone') }}</label>
  <div>
    {{ timezone_select_field('timezone', current_user) }}
  </div>

  <div class="form-actions">
    <input
      type="submit"
      id="submit"
      value="{{ t('general_save_changes') }}"
    />
  </div>
</form>
<script type='text/javascript'>
  async function UpdateDateFormatPreview(format) {
    const response = await fetch(`/user-settings-date-preview?format=${format}`).then(x => x.json());
    const preview = response.preview;

    document.getElementById('date_format_preview').innerHTML = preview;
  }
</script>
