<style>
.user-settings-form-personal {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  gap: 10px;
  margin: 10px;
  align-items: center;
}

.user-settings-form-personal p {
  grid-column-start: 1;
  grid-column-end: 3;
  font-weight: bold;
}

.user-settings-form-personal .form-actions {
  grid-column: 2;
}
</style>
<form
  class='user-settings-form-personal'
  action='/settings'
  method='POST'
  enctype='multipart/form-data'
>
  <p>
    Here you can turn different types of notifications on or off. Please note
    that you cannot turn off notifications for when your records are put under
    investigation or deleted.
  </p>

  <p>Competition notifications</p>

  <label>You Got Beat!</label>
  {{ slider_field('ygb', preferences, "yes") }}

  <p>Proof notifications</p>

  <label>Record Approved</label>
  {{ slider_field('rec_approved', preferences, "yes") }}

  <label>Proof Refused</label>
  {{ slider_field('proof_refused', preferences, "yes") }}

  <p>Community notifications</p>

  <label>New Article Comments</label>
  {{ slider_field('article_comment', preferences, "yes") }}

  <label>Replies</label>
  {{ slider_field('reply', preferences, "yes") }}

  <label>Confirmed Referrals</label>
  {{ slider_field('referral_confirmed', preferences, "yes") }}

  <label>Rejected Referrals</label>
  {{ slider_field('referral_rejected', preferences, "yes") }}

  <label>New Game Request Comment</label>
  {{ slider_field('greq_comment', preferences, "yes") }}

  <label>New Profile Page Comment</label>
  {{ slider_field('userpage_comments', preferences, "yes") }}

  <label>Blog follows</label>
  {{ slider_field('blog_follow', preferences, "yes") }}

  <label>Blog unfollows</label>
  {{ slider_field('blog_unfollow', preferences, "yes") }}

  <label>A blog you followed has made a post</label>
  {{ slider_field('followed_posted', preferences, "yes") }}

  {% if has_access(['GameMod', 'Designer', 'GlobalMod', 'Admin', 'Translator']) %}
    <p>Role notifications</p>
  {% endif %}

  {% if has_access('GameMod') %}
    <label>New Game Request</label>
    {{ slider_field('new_grequest', preferences, "yes") }}
  {% endif %}

  {% if has_access(['GameMod', 'Designer']) %}
    <label>New Game added to workshop</label>
    {{ slider_field('new_game', preferences, "yes") }}
  {% endif %}

  {% if has_access('GlobalMod') %}
    <label>New Support Request</label>
    {{ slider_field('supp', preferences, "yes") }}

    <label>New Pending Investigation</label>
    {{ slider_field('reported_rec', preferences, "yes") }}
  {% endif %}

  {% if has_access('Translator') %}
    <label>Page String Edited</label>
    {{ slider_field('pstring_edited', preferences, "yes") }}

    <label>Page String Added</label>
    {{ slider_field('pstring_added', preferences, "yes") }}
  {% endif %}

  <div class="form-actions">
    <input
      type="submit"
      id="submit"
      value="{{ t('general_save_changes') }}"
    />
  </div>
</form>
