<style>
.user-settings-form-personal {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  gap: 10px;
  margin: 10px;
  align-items: center;
}

.user-settings-form-personal p {
  grid-column: 2;
}

.user-settings-form-personal .form-actions {
  grid-column: 2;
}
</style>
<form
  class='user-settings-form-personal'
  action='/settings'
  method='POST'
  enctype='multipart/form-data'
>
  <label for="forename">{{ t('profile_first_name') }}</label>
  {{ text_field('forename', current_user, {'size': 30, 'maxlength': 50}) }}

  <label for="surname">{{ t('profile_last_name') }}</label>
  {{ text_field('surname', current_user, {'size': 30, 'maxlength': 50}) }}

  <label for="gender">{{ t('profile_gender') }}</label>
  <div>
    <select id="gender" name="gender">
      {% for gender, label in {'-': t('profile_gender_none'), 'm': t('profile_gender_male'), 'f': t('profile_gender_female')} %}
        <option {% if gender == current_user.gender %}selected{% endif %} value="{{ gender }}">
          {{ label }}
        </option>
      {% endfor %}
    </select>
  </div>

  <label for="dob">{{ t('profile_birthday') }}</label>
  <div>
    <input type="date" name="dob" id="dob" value="{{ current_user.dob }}" />
  </div>

  <label for="profile">{{ t('profile_desc') }}</label>
  <textarea
    name="profile"
    rows="4"
    cols="60"
    >{{ current_user.profile }}</textarea>

  <p>{{ t('profile_country_select', {'link_scoreboards': "<a target='_blank' href='/scoreboards'>", '/link': '</a>'})|raw }}</p>

  <label for="country_id">{{ t('general_country') }}{{ t('general_colon') }}</label>
<div>
  <select id="country_id" name="country_id">
    <option value="1" id="blankcountry" >{{ blank_country }}</option>
    <option value="1">------------------------------</option>
    {% for id, country in countries %}
      <option {% if id == current_user.country_id %}selected{% endif %} value="{{ id }}">
        {{ country }}
      </option>
    {% endfor %}
  </select>
</div>

  <label>{{ t('profile_avatar_current') }}</label>
  <div>
    {% if has_avatar %}
      {{ user_avatar_image_tag(current_user, {'alt': 'Your profile picture'}) }}
    {% else %}
      {{ t('profile_avatar_none') }}
    {% endif %}
    <div>
      Upload a new avatar:
      <input type="file" name="avatar" />
      or
      <input type="checkbox" name="delete-avatar" />
      <label for="delete-avatar">delete the current avatar</label>
    </div>
  </div>

  <label>{{ t('profile_banner_current') }}</label>
  <div>
    {% if has_banner %}
      {{ user_banner_image_tag(current_user, {'alt': 'Your profile banner'}) }}
    {% else %}
      {{ t('profile_banner_none') }}
    {% endif %}
    <div>
      Upload a new banner:
      <input type="file" name="banner" />
      or
      <input type="checkbox" name="delete-banner" />
      <label for="delete-banner">delete the current banner</label>
    </div>
  </div>

  <div class="form-actions">
    <input
      type="submit"
      id="submit"
      value="{{ t('general_save_changes') }}"
    />
  </div>
</form>
