<div class="layout--content-primary">
  <nav id="breadcrumb">
    <a href="/">{{ t('general_home') }}</a> &rarr;
    {{ t('general_community') }}
  </nav>

  <h1>Community</h1>
  <ul>
    <li><a href="/news">{{ t('general_news') }}</a></li>
    <li><a href="/support">{{ t('general_support') }}</a></li>
    <li><a href="/scoreboards/ambassador">{{ t('general_ambassador_table') }}</a></li>
    <li><a href="/users">{{ t('general_userlist') }}</a></li>
    <li><a href="/site_stats">{{ t('general_statistics') }}</a></li>
    <li><a href="https://discord.gg/0ltq5mHzEqHnRc6N">{{ t('general_discord_server') }}</a></li>
    <li><a href="/team">{{ t('general_footer_team') }}</a></li>
  </ul>
</div>
