<div class="layout--content-primary">
  <div id="breadcrumb" class="clearfix">
    <a href="/">Home</a>
    &rarr;
    <a href="/translations">Translation Home</a>
    &rarr;
    Translate rules
  </div>

  <h1>Translate rules into {{ language_name }}</h1>

  <p>Make your changes below then click 'Save Changes' to store them in the database.</p>

  Page:
  {% for i in range(0, total_pages) %}
    {% if i != current_page %}
      <a href="/translations/rules?p={{ i }}">{{ i + 1 }}</a>
    {% else %}
      <b>{{ i + 1 }}</b>
    {% endif %}
  {% endfor %}
  <br />
  <br />

  <form action="/translations/rules/suggestions" method="POST" accept-charset="utf8">
    <input type="hidden" name="language_id" value="{{ translate_lang_id }}" />
    <table class='zebra'>
      <tr>
        <td><b>Rule ID</b></td>
        <td style="width: 30%;"><b>English text</b></td>
        <td style="width: 30%;"><b>Translated text</b></td>
        <td style="width: 30%;"><b>Suggestion</b></td>
      </tr>
      {% for rule in rules %}
        <tr>
          <td>{{ rule['rule_id'] }}</td>
          <td>{{ prettify(rule['rule_text']) }}</td>
          <td>{{ prettify(rule['translation']) }}</td>
          <td>
            <textarea
              style="width: 90%; min-height: 80px;"
              name="text[{{ rule['rule_id'] }}]"
              >{{ rule['suggested_translation'] }}</textarea>
          </td>
        </tr>
      {% endfor %}
    </table>
    <br />
    <input type="submit" value="Save Changes" name="submit" />
  </form>
  <br />
</div>

<div class="layout--sidebar-primary">
  {{ render_component_with("translations/menu", []) }}
</div>
