<div class='chart-properties'>
  <label for="players">Players:</label>
  <div>
    <select name="players" id="players">
      {% for i in range(1, 9) %}
        <option value="{{ i }}" {{ option_selected(i, selection.players) }}>{{ i }}</option>
      {% endfor %}
    </select>
  </div>

  <span>Chart Flags</span>
  <div class='chart-flags'>
    {% for chart_flag in chart_flags %}
      <label class='chart-flag -{{ chart_flag.identifier }}'>
        <span>{{ chart_flag.label }}</span>

        <div class='chart-flag-banner'></div>
        <input
          value="1"
          type="checkbox"
          data-type='flag'
          {% if chart_flag.identifier in ['arcade', 'standard'] %}readonly{% endif %}
          data-modifier='{{ chart_flag.identifier }}'
          name="flag_{{ chart_flag.identifier }}"
          onclick="chartFlagSelected(event)"
          {% if selection[chart_flag.identifier] %}checked{% endif %}
        >
      </label>
    {% endfor %}
  </div>

  <span>CSP modifiers</span>
  <div class='csp-modifiers'>
    {% for category, modifiers in csp_modifier_categories %}
      <div class='modifier-category -{{ category }}'>
        <div class='sidebar-title'>{{ modifiers[0].category_label }}</div>
        <div class='modifiers'>
          {% for modifier in modifiers %}
            <label class='modifier'>
              <span>{{ modifier.subcategory }}</span>
              <img
                src="/skins4/default/images/modifiers/{{ modifier.identifier }}.png"
                height="50"
                style="display:block;margin-left:auto;margin-right:auto;"
              />
              <input
                value="1"
                type="checkbox"
                data-type='modifier'
                data-arcade-modifier="{{ modifier.arcade ? 1 : 0 }}"
                name="csp_modifier_{{ modifier.identifier }}"
                onclick="chartModifierSelected(event)"
                {% if selection[modifier.identifier] %}checked{% endif %}
              >
              <span>{{ modifier.formatted_modifier }}</span>
            </label>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>

  <span>Chart information</span>
  <div>
    <p>If you specify no label, "Score" or "Time" will be used. Make sure to specify labels when adding 2 submissions to 1 chart. The automatic <strong>conversion factor</strong> is the value needed to multiply from unit 1 to unit 2. Leave empty for none.</p>

    <table style="width:750px;">
      <tr>
        <th></th>
        <th>Type</th>
        <th style="padding-right: 20px;">Decimals</th>
        <th>Prefix</th>
        <th>Label <small>(0-15 characters)</small></th>
        <th>Suffix</th>
        <th>Conversion factor</th>
      </tr>
      <tr>
        <td>Submission 1</td>
        <td>
          <select name="chart_type">
            {% for ct in chart_types %}
              <option value="{{ ct.value }}" {{ option_selected(ct.value, selection.chart_type) }}>{{ ct.label }}</option>
            {% endfor %}
          </select>
        </td>
        <td>
          <select name="num_decimals">
            {% for i in range(-1, 3) %}
              <option value="{{ i }}" {{ option_selected(i, selection.num_decimals) }}>{{ i }}</option>
            {% endfor %}
          </select>
        </td>
        <td><input type="text" name="score_prefix" size="5"  value="{{ selection.score_prefix }}" /></td>
        <td><input type="text" name="name_pri"     size="15" value="{{ selection.name_pri }}" /></td>
        <td><input type="text" name="score_suffix" size="5"  value="{{ selection.score_suffix }}" /></td>
      </tr>
      <tr>
        <td>Submission 2</td>
        <td>
          <select name="chart_type2">
            <option value="0">None</option>
            {% for ct in chart_types %}
              <option value="{{ ct.value }}" {{ option_selected(ct.value, selection.chart_type2) }}>{{ ct.label }}</option>
            {% endfor %}
          </select>
        </td>
        <td>
          <select name="num_decimals2">
            {% for i in range(-1, 3) %}
              <option value="{{ i }}" {{ option_selected(i, selection.num_decimals2) }}>{{ i }}</option>
            {% endfor %}
          </select>
        </td>
        <td><input type="text" name="score_prefix2"     size="5"  value="{{ selection.score_prefix2 }}" /></td>
        <td><input type="text" name="name_sec"          size="15" value="{{ selection.name_sec }}" /></td>
        <td><input type="text" name="score_suffix2"     size="5"  value="{{ selection.score_suffix2 }}" /></td>
        <td><input type="text" name="conversion_factor" size="15" value="{{ selection.conversion_factor }}" /></td>
      </tr>
    </table>
  </div>

  <span>Additional rules</span>
  <div>
    <p>Specify the rule id(s), you can view and add rules <a href="/rules">here</a>.</p>
    <p><strong>If you wish to add multiple rules at once to these charts, separate each rule ID in the text field by a comma. Do not use spaces. An example of the proper input format: 35,419,2400</strong></p>
    <input type="text" name="level_rules" size="30" value="{{ selection.level_rules|map(p => p.rule_id)|join(',')}}" />
  </div>

  <span>Extra boxes</span>
  <div>
    <p>Up to 3 additional unranked scores for the charts, enter a name for them to be used, or leave blank to omit them.</p>

    <table style='width: auto;'>
      <tr>
        <td><label for="name1">Extra Box 1:</label></td>
        <td><label for="name2">Extra Box 2:</label></td>
        <td><label for="name3">Extra Box 3:</label></td>
      </tr>
      <tr>
        <td><input type="text" value="{{ selection.name1 }}" id='name1' name="name1" size="10" /></td>
        <td><input type="text" value="{{ selection.name2 }}" id='name2' name="name2" size="10" /></td>
        <td><input type="text" value="{{ selection.name3 }}" id='name3' name="name3" size="10" /></td>
      </tr>
    </table>
  </div>
</div>
