<style>
table.recordtable th, table.recordtable td {
  padding: 5px;
  text-align: center;
}
</style>
<div class="layout--content-primary">
  <div id="breadcrumb">
    <a href="/">Home</a>
  </div>

  <h1>Reported records</h1>
  <h2>This page contains all records that have been reported or investigated.</h2>

  <p>
    Use the action dropdown on each record to specify what you wish to
    do &mdash; you can reset a record, put it under investigation, or
    preemptively approve it from this page. Only once you have clicked "Save
    Changes" will the change be actioned.
  </p>

  <p>
    Current number of records pending investigation:
    <strong>{{ record_stats.pending_records|number_format }}</strong>
  </p>

  <p>
    Current number of records under investigation:
    <strong>{{ record_stats.investigated_records|number_format }}</strong>
  </p>

  <form action="/record-moderation-actions" method="post">
    <table class="recordtable zebra" border="1">
      <tr>
        <th>User</th>
        <th>Game</th>
        <th>Chart</th>
        <th>Record</th>
        <th>Reported by</th>
        <th>Status</th>
        <th>Report date (PI) / Deadline (UI)</th>
        <th>Investigated by</th>
        <th>Reason</th>
        <th>Action</th>
      </tr>
      {% for record in reported_records %}
        <tr>
          <td><strong>{{ link_to_user(record) }}</strong></td>
          <td>{{ link_to_game(record) }}</td>
          <td>{{ link_to_chart(record) }}</td>
          <td>{{ link_to_record(record) }}</td>
          <td>
            {% if record.reporter %}
              {{ link_to_user(record.reporter) }}
            {% else %}
              This record was directly investigated and not reported.
            {% endif %}
          </td>
          <td>
            {% if record.rec_status == 1 %}
              PI
            {% elseif record.rec_status == 5 %}
              PI with pending proof
            {% elseif record.rec_status == 2 %}
              UI
            {% else %}
              UI with pending proof
            {% endif %}
          </td>
          <td>{{ record.proof_deadline }}</td>
          <td>
            {% if record.rec_status != 1 and record.rec_status != 5 %}
              {{ link_to_user(record.moderator) }}
            {% endif %}
          </td>
          <td>{{ record.report_reason }}</td>
          <td>
            <select name="actions[{{ record.record_id }}]">
              <option value="null">Do nothing yet</option>
              {% if record.rec_status == 1 %}
                <optgroup label="Investigate">
                  <option value="ip">Require picture proof</option>
                  <option value="iv">Require video proof</option>
                </optgroup>
              {% endif %}
              <optgroup label="Approve">
                <option value="ap">Approve (picture proof)</option>
                <option value="av">Approve (video proof)</option>
                <option value="as">Approve (livestream proof)</option>
                <option value="ae">Approve (eyewitness)</option>
              </optgroup>
              <optgroup label="Other">
                <option value="or">Reset record status</option>
                <option value="od">Delete</option>
              </optgroup>
            </select>
          </td>
        </tr>
      {% endfor %}
    </table>
    <br />
    <input type="submit" name="submit" value="Save Changes" />
  </form>
</div>
