{% for game in games|slice(0, 5) %}
  <a href="/games/{{ game.game_id }}"
     class='autocomplete-suggestion'
     onclick="return dispatch(this, 'autocomplete-result', { type: 'game', id: '{{ game.game_id }}' })"

     tabindex="-1"
     data-rove
     onkeydown="rove(event, '.game-search')"
     >
    <img src='{{ game.boxart.url }}' alt="" />
    {{ game.game_name }}
  </a>
{% endfor %}
