<style>
.group .result-win1 { color: #347C17; }
.group .result-win2 { color: #FF0000; }
.group .result-tie  { color: #0000FF; }
.group .result-no-one { color: #000000; }
</style>
<div class="layout--content-primary">
  <div id="breadcrumb" class="clearfix">
    <a href="/">{{ t('general_home') }}</a> &rarr;
    {{ t('compare_title') }}
  </div>

  <h1>
    {{ t('compare_matchup', {
      'user1': link_to_user(user1, false, {'style': 'color: #347C17'}),
      'user2': link_to_user(user2, false, {'style': 'color: #FF0000'}),
    })|raw }}
  </h1>

  {% for game in games %}
    <h1 class="caption">
      {{ t('compare_header', {'game': link_to_game(game)})|raw }}
    </h1>

    <table class="zebra">
      <tr>
        <td class="group"><strong></strong></td>
        <td class="position"><strong><font color="#347C17">{{ t('general_position') }}</font></strong></td>
        <td class="score"><strong><font color="#347C17">{{ t('general_record') }}</font></strong></td>
        <td class="score2"><strong><font color="#FF0000">{{ t('general_record') }}</font></strong></td>
        <td class="position2"><strong><font color="#FF0000">{{ t('general_position') }}</font></strong></td>
      </tr>

      {% for chart in game.charts %}
        <tr>
          <td class="group">
            <strong>
              {% if chart.group_id %}
                {{ link_to_game_group(chart) }} &rarr;
              {% endif %}
              {{ link_to_chart(chart, {'class': "result-" ~ chart.result}) }}
            </strong>
          </td>

          <td class="position">{{ chart.p1.chart_pos }}</a></td>
          <td class="score">{% if chart.p1 %}{{ format_submission(chart.p1) }}{% endif %}</a></td>
          <td class="score2">{% if chart.p2 %}{{ format_submission(chart.p2) }}{% endif %}</a></td>
          <td class="position2">{{ chart.p2.chart_pos }}</a></td>
        </tr>
      {% endfor %}
    </table>
  <br />
{% endfor %}

  <h1>{{ t('compare_overall_score') }}</h1>
  <h1>
    <font color="#347C17">
      {% if totals.win1 == 1 %}
        {{ t('compare_win_singular', {'user': user1.username}) }}
      {% else %}
        {{ t('compare_win_plural', {'user': user1.username, 'wins': totals.win1}) }}
      {% endif %}
    </font>
  </h1>
  <h1>
    <font color="#FF0000">
      {% if totals.win2 == 1 %}
        {{ t('compare_win_singular', {'user': user2.username}) }}
      {% else %}
        {{ t('compare_win_plural', {'user': user2.username, 'wins': totals.win2}) }}
      {% endif %}
    </font>
  </h1>
  <h1>
    <font color="#0000FF">
      {% if totals.tie == 1 %}
        {{ t('compare_draw_singular') }}
      {% else %}
        {{ t('compare_draw_plural', {'draws': totals.tie}) }}
      {% endif %}
    </font>
  </h1>
</div>

<div class="layout--sidebar-primary">
  <h3 class="sidebar-title">{{ user1.username }} vs {{ user2.username }}</h3>
  <div class='sidebar-section-body'>
    <form method="get">
      <form method="get">
        <input type="hidden" name="user_id1" value="{{ user1.user_id }}">
        <input type="hidden" name="user_id2" value="{{ user2.user_id }}">
        <select name="game_ids[]" multiple="multiple" size="10" style="width: 100%; box-sizing: border-box">
        {% for game in games_in_common %}
          <option value="{{ game.game_id }}" {% if game.game_id in game_ids %}selected{% endif %}>
            {{ game.game_name|truncate(40) }}
          </option>
        {% endfor %}
      </select>
      <br />

      Only count charts both players submitted to:
      <input type="checkbox" name="both" value="y" {% if require_both %}checked{% endif %} />
      <br />

      <input type="submit" value="{{ t('general_choose_game') }}" />
      <br />
    </form>

    Type the names of 2 players you would like to compare, separated by a space:
    <br />
    <form method="get">
      <input type="text" name="usernames" /><br />
      <input type="submit" value="Compare users" /><br />
    </form>
  </div>
</div>
