<div class="layout--content-primary">
  <div id="breadcrumb">
    <a href="/">Home</a>
  </div>

  <h1>Comments</h1>

  <form method="get">
    <label for="comment_filter">Comment filter:</label>
    <input type="text" name="comment_filter" value="" size="30" />
    <input type="submit" />
  </form>
  <br />

  <p>{{ comments|length }} out of {{ comment_count }} comments</p>

  <table cellpadding="5" border="1">
    <tr>
      <td><h3>User</h3></td>
      <td><h3>Game</h3></td>
      <td><h3>Group and chart</h3></td>
      <td><h3>Record</h3></td>
      <td><h3>Position</h3></td>
      <td><h3>Comment</h3></td>
    </tr>

    {% for record in comments %}
      <tr>
        <td>{{ link_to_user(record) }}</td>
        <td>{{ link_to_game(record) }}</td>
        <td>
          {% if record.group_id > 0 %}
            {{ link_to_game_group(record) }} &rarr;
          {% endif %}
          {{ link_to_chart(record) }}
        </td>
        <td>{{ link_to_record(record) }}</td>
        <td>{{ record.chart_pos }} / {{ record.chart_subs }}</td>
        <td>{{ record.comment }}</a></td>
      </tr>
    {% endfor %}
  </table>
  <br />

  <p>{{ comments|length }} out of {{ comment_count }} comments</p>
</div>
