<div class="layout--content-primary">
  <div id="breadcrumb" class="clearfix">
    <a href="/">{{ t('general_home') }}</a>
    &rarr;
    Edit related games
  </div>

  <h1>Edit related games for {{ link_to_game({'game_id': game_id}) }}</h1>

  <h3><a href="/mod_scripts/edit_game_groups.php?game_id={{ game_id }}">Back to main edit menu</a></h3>

  <form method="post">
    <table class="games-edit-modifiers zebra">
      <thead>
        <tr>
          <th class="modifier-type modifier-type--modifier">Game</th>
          <th class="modifier-type modifier-type--flag">Related Games</th>
          <th class="modifier-type modifier-type--flag">Other Versions of this game</th>
        </tr>
      </thead>
      <tbody>
        {% for game in related_games %}
          <tr class="chart" data-gameid="{{ game.game_id }}">
            <td>{{ game.game_name }}</td>
            <td>
              <input
                type="checkbox"
                class="select-for-game type--related"
                title="{{ game.game_name }}"
                name="related[{{ game.game_id }}]"
                value="on"
                {% if game.check_relation >= 0 %}checked='checked'{% endif %}
              />
            </td>
            <td>
              {% if game.check_relation >= 0 %}
                <input
                  type="checkbox"
                  class="select-for-game type--superrelated"
                  title="{{ game.game_name }}"
                  name="related[{{ game.game_id }}]"
                  value="on"
                  {% if game.check_relation == 1 %}checked='checked'{% endif %}
                />
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <input type="submit" value="Apply changes" />
  </form>
</div>
