<div class="layout--content-primary">
  <div id="breadcrumb" class="clearfix">
    <a href="/">{{ t('general_home') }}</a>
    &rarr; <a href="/translations">Translation Home</a>
    &rarr; Page strings
  </div>

  <h1>Translation</h1>

  <form method="get">
    Group:&nbsp;
    <select name="group">
      <option value="all">All</option>
      {% for group in page_groups %}
        <option {{ option_selected(group, selected_group) }}>{{ group }}</option>
      {% endfor %}
    </select>
    &nbsp;&nbsp;&nbsp;&nbsp;Filter:&nbsp;
    <select name="filter_t">
      <option value="all" {{ option_selected('all', filter_t) }}>All</option>
      <option value="yes" {{ option_selected('yes', filter_t) }}>Translated</option>
      <option value="no"  {{ option_selected('no',  filter_t) }}>Untranslated</option>
    </select>
    <select name="filter_s">
      <option value="all"   {{ option_selected('all'  , filter_s) }}>All</option>
      <option value="yes"   {{ option_selected('yes'  , filter_s) }}>With suggestions</option>
      <option value="yes_f" {{ option_selected('yes_f', filter_s) }}>With suggestions, not from you</option>
      <option value="no"    {{ option_selected('no'   , filter_s) }}>Without suggestions</option>
    </select>
    <br />
    Search:&nbsp;<input type="text" name="search" value="{{ search }}" />
    <input type="submit" value="Select" />
  </form>
  <br />
  <br />

  <table border="1">
    <tr>
      <td><b>Key</b></td>
      <td><b>Text</b></td>
      <td><b>Translation</b></td>
    </tr>
    {% for entry in entries %}
      <tr>
        <td width="20%">
          <a href="/translations/page-strings/{{ entry['key'] }}">{{ entry['key'] }}</a>
          {% if entry['num_suggestions'] > 0 %}
            <br />
            <strong style="color:#C11B17;">{{ entry['num_suggestions'] }} Suggestion(s)</strong>
            <br />
            {{ entry['suggester'] }}
          {% endif %}
        </td>
        <td width="40%"><p>{{ highlight_text(entry['english_text'], search) }}</p></td>
        <td width="40%"><p>{{ highlight_text(entry['translated_text'], search) }}</p></td>

      </tr>
    {% endfor %}
  </table>
  <br />
  <br />

  {{ entries|length }} results
</div>

<div class="layout--sidebar-primary">
  {{ render_component_with("translations/menu", []) }}
</div>
