<div class="layout--content-primary">
  <div id="breadcrumb" class="clearfix">
    <a href="/">Home</a> &rarr; <a href="info.php">Translation Home</a> &rarr; Add page string
  </div>

  <h1>Add page string</h1>

  <form action="/translations/page-strings" method="post">
    <table>
      <tr>
        <td>Group:</td>
        <td><input type="text" name="group" value="{{ group }}" /></td>
      </tr>
      <tr>
        <td>Key:</td>
        <td><input type="text" name="key" value="{{ key }}" /></td>
      </tr>
      <tr>
        <td>Text:</td>
        <td><textarea name="text" rows="5" cols="100"></textarea></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="submit" value="Add string" /></td>
      </tr>
    </table>
  </form>
</div>

<div class="layout--sidebar-primary">
  {{ render_component_with("translations/menu", []) }}
</div>
