<div class="notification-index">
  <div class="notification-index-sidebar">
    {% for filter in filters %}
      <div class="notification-filter">
        <h3 class="notification-filter-title">{{ filter.title }}</h3>

        {% for option in filter.options %}
          {% if option.visible %}
            <a
              class="{{ classnames({
                'notification-filter-item': true,
                'notification-filter-item--selected': option.selected,
              }) }}"
              href="{{ option.url }}"
            >
              {{ option.title }}
            </a>
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>

  <div class="notification-index-contents">
    {% if notifications|length == 0 %}
      <h3 class="notification-empty">{{ t('notifications_empty') }}</h3>
    {% else %}
      <form method="post">
        <div class="notification-actions">
          <input type='checkbox' id='select-all-notifications' />
          <input type="submit" formaction="/notifications/read-all" class="button" style="bg-color: green" value="{{ t('notifications_mark_as_read') }}" />
          <input type="submit" formaction="/notifications/unread-all" class="button" value="{{ t('notifications_mark_as_unread') }}" />
          <input type="submit" formaction="/notifications/delete-all" class="button" style="bg-color: red" value="{{ t('notifications_delete') }}" onclick="return confirm('{{ t('notifications_delete_confirm') }}')" />
          <input type="submit" formaction="/notifications/delete-obsolete" class="button" style="bg-color: red" value="{{ t('notifications_delete_obsolete') }}"  onclick="return confirm('{{ t('notifications_delete_confirm') }}')" />
          <a href="/settings/notifications">{{ t('notifications_preferences_link') }}</a>
        </div>

        {% for notification in notifications %}
          <div class="
            notification-item
            notification-item--type_{{ notification.type }}
            notification-item--state_{% if notification.note_seen == 'y' %}read{% else %}unread{% endif %}
          ">
            <input class="notification-item__selected" type='checkbox' name='notification_id[]' value="{{ notification.notification_id }}" />
            <a
              href="/notifications/{{ notification.notification_id }}"
              class="notification-target"
            >
              {{ render_component_with('notifications/' ~ notification.type, {notification: notification}) }}

              <div class="notification-item__time">
                {{ distance_of_time_in_words(notification.note_time_seconds, now) }} ago
              </div>
            </a>
          </div>
        {% endfor %}
      </form>
    {% endif %}
  </div>
</div>
<script type="text/javascript">
document.querySelector('#select-all-notifications').addEventListener('change', (e) => {
  document.querySelectorAll('.notification-item__selected').forEach((ni) => {
    ni.checked = e.target.checked;
  });
});
</script>
