<div class="layout--content-primary layout--content-primary-readable">
  <div id="breadcrumb">
    <a href="/">Home</a>
    &raquo;
    {% if article.article_type == 2 %}
      <a href="/articles">{{ t('index_user_articles') }}</a>
      &rarr;
      {{ article.blog_name }}
      &rarr;
    {% else %}
      <a href="/news">{{ t('news_archive') }}</a>
      &rarr;
    {% endif %}
    {{ article.headline }}
  </div>

  <h1>Edit article &nbsp;&nbsp;<img src="/skins4/default/images/qu.png" width="24" height="24" onclick="popup('popUpBB');"></h1>
  <h3>
    Editing Article #{{ article.news_id }},
    <small>posted by {{ article.username }} on {{ article.news_date }}</small>
    {% if article.edit_user_id != 0 %}
      <small>Last edited by {{ article.edit_username }} on {{ article.edit_date }}</small>
    {% endif %}
  </h3>

  <form class='labelled-form' action="/articles/{{ article.news_id }}" method="post">
    {% if has_access("GlobalMod") %}
      <div class='labelled-form-label'>
        <label for="poster_id">By (User ID):</label>
      </div>
      <div class='labelled-form-value'>
        <input type="text" name="poster" id="poster" value="{{ article.user_id }}" />
        (this is a mod only field, in case you need to post on behalf of somebody else)
      </div>
    {% endif %}

    <div class='labelled-form-label'>
      <label for="headline">Headline:</label>
    </div>
    <div class='labelled-form-value'>
      <input type="text" name="headline" id="headline" value="{{ article.headline }}" size="35" maxlength="255" />
    </div>

    <div class='labelled-form-label'>
        <label for="news_text">Message:</label>
    </div>
    <div class='labelled-form-value'>
        <textarea name="news_text" id="news_text" rows="20">{{ article.news_text }}</textarea>
    </div>

    <div class='labelled-form-label'>
    </div>
    <div class='labelled-form-value'>
      <input type="submit" value="Save changes" name="submit" />
      <button id="preview">Preview</button>
    </div>
  </form>

  <div>
    <h2>Post preview:</h2>
    <div id="rendered-preview">
    </div>
  </div>
</div>

{{ render_component_with('bbcode_popup', []) }}

<script type="text/javascript">
document.getElementById("preview").addEventListener("click", (ev) => {
  ev.preventDefault();
  let renderedPreview = document.getElementById("rendered-preview");

  renderedPreview.classList.add('loading');

  fetch("/article/preview", {
    method: 'POST',
    body: JSON.stringify({ text: document.getElementById("news_text").value }),
  }).then(response => response.json()).then(data => {
    renderedPreview.innerHTML = data.html;
    renderedPreview.classList.remove('loading');
  });
});
</script>
