<div class="layout--content-primary">
  <div id="breadcrumb">
    <a href="/">{{ t('general_home') }}</a> &rarr;
    {{ t('index_user_articles') }}
  </div>

  <h1>
    {{ t('index_user_articles') }}
    <a title="New User Article" href="/articles/new">
      <img src="{{ skin_image_url('plus_icon.gif') }}" width="11" height="11" alt="add" />
    </a>
  </h1>
  <table class="zebra">
    <tr>
      <th>Headline</th>
      <th>Posted by</th>
      <th>Blog</th>
      <th style="text-align:right">Date</th>
    </tr>

    {% for article in news %}
      <tr>
        <td>
          {% if has_access('Newswriter', article.user_id) %}
            <a title="Edit article" href="/articles/{{ article.news_id }}/edit">
              <img src="{{ skin_image_url('edit.png') }}" width="12" height="12" alt="edit" />
            </a>
          {% endif %}

          {% if has_access('GlobalMod', article.user_id) %}
            <form style="display: inline-block" action="/articles/{{ article.news_id }}/delete" method="post">
              <input
                  type="image"
                  title="Delete article"
                  name="delete_article"
                  src="/images/delete.png"
                  width="12"
                  height="12"
                  alt="delete"
                  onclick="return confirm('Are you sure you want to delete this user article?')" />
            </form>
          {% endif %}

          <a href="/articles/{{ article.news_id }}">{{ article.headline }}</a>
          ({{ article.num_comments }})
        </td>

        <td><a href="/user/{{ article.user_id }}">{{ article.username }}</a></td>
        <td><a href="/user/{{ article.user_id }}">{{ article.blog_name }}</a></td>
        <td style="text-align:right">{{ format_date(article.news_date) }}</td>
      </tr>
    {% endfor %}
  </table>
</div>
