<div class="layout--content-primary layout--content-primary-readable">
  <div id="breadcrumb">
    <a href="/">{{ t('general_home') }}</a>
    &rarr;
    {% if news.article_type == 2 %}
      <a href="/articles">{{ t('index_user_articles') }}</a>
      &rarr;
      {{ blog_name }}
      &rarr;
    {% else %}
      <a href="/news">{{ t('news_archive') }}</a>
      &rarr;
    {% endif %}
    {{ headline }}
  </div>

  <h1>
    {{ headline }}
    {% if has_access('GameMod', news.user_id) %}
      <a href="/articles/{{ news.news_id }}/edit"><img src="{{ skin_image_url('edit.png') }}" alt="Edit news" /></a>
    {% endif %}
  </h1>

  <div class="article">
    <div class="article--byline">
      {{ t('news_article_info', {'date': format_datetime(news.news_date), 'username': news.username}) }}.
      {% if news.article_type == 2 and news.user_id != current_user.user_id %}
        {% if followed_check %}
          <form action="/followings/{{ news.user_id }}/delete" method="post" class='article-follow-author'>
            <input type="image" src="/images/unfollow_star.png" width="16" height="16" alt="Unfollow Blog" title="Unfollow Blog" />
          </form>
        {% else %}
          <form action="/followings" method="post" class='article-follow-author'>
            <input type="hidden" name="user_id" value="{{ news.user_id }}"/>
            <input type="image" src="/images/follow_star.png" width="16" height="16" alt="Follow Blog" title="Follow Blog" />
          </form>
        {% endif %}
      {% endif %}

      {% if news.edit_user_id != 0 %}
        {{ t('news_article_info_edit', {'date': format_datetime(news.edit_date), 'username': editor.username}) }}
      {% endif %}
    </div>
    <p>{{ prettify(news.news_text) }}</p>
  </div>

  <hr />

  {% if comments|length > 0 %}
    <h3>{{ comments|length }} {{ t('news_article_comments') }}</h3>

    <div class="comments">
      {% for comment in comments %}
        {{ render_component_with('articles/comment', {'comment': comment}) }}
      {% endfor %}
    </div>
  {% endif %}

  {% if has_access('User') %}
    <h3>{{ t('news_article_leave_comment') }}</h3>

    <form action="/comments/create" method="post" onsubmit="this.elements['submit'].disabled=true;">
      {{ hidden_field('commentable_type', {'commentable_type': 'news'}) }}
      {{ hidden_field('commentable_id', {'commentable_id': news.news_id}) }}

      <textarea name="comment" rows="10" cols="75"></textarea>
      <br />
      <input type="submit" name="submit" value="{{ t('general_post_comment') }}" />
    </form>
  {% endif %}
</div>
<script type="text/javascript">
function toggle_comment_mode(element, mode) {
  let comment = element.closest('.comments-comment')
  comment.classList.remove('display');
  comment.classList.remove('edit');
  comment.classList.remove('reply');
  comment.classList.add(mode);
}
</script>
