<div class="layout--content-primary">
  <div id="breadcrumb" class="clearfix">
    <a href="/">{{ t('general_home') }}</a> &rarr;
    {{ link_to_game(game) }} &rarr;
    <a href="/mod_scripts/edit_game_groups.php?game_id={{ game.game_id }}">Edit game charts and groups</a> &rarr;
    <a href="/game-entity-locks/{{ game.game_id }}/edit">Edit entity locks</a>
  </div>
  <h2>Existing entity locks</h2>
  <small>(Min and Max different selectable entities) [Amount of entities in the lock, locking is only available for slot 1] &ndash; Entity names</small>

  {% for lock in entity_locks %}
    <h3 class="caption">
      ({% if lock.min_entities == lock.max_entities %}{{ lock.max_entities }}{% else %}{{ lock.min_entities }}-{{ lock.max_entities }}{% endif %})
      [{{ lock.num_entities }}] &ndash;
      {% if lock.entity_lock == '' %}
        <i>All entities</i>
      {% else %}
        {{ lock.entities|join(', ') }}
      {% endif %}
      <a href="{{ current_url_with_query({edit: lock.level_id}) }}">
        <img src="/skins4/default/images/edit.png">
      </a>
    </h3>

    {% for group in lock.groups %}
      <b>{{ group.group_name }} ({{ group.num_charts }}/{{ group.total_charts }})</b>
      <br />
    {% endfor %}
  {% endfor %}
</div>

<div class="layout--sidebar-primary">
  <form action="/game-entity-locks/{{ game.game_id }}" method="post">
    <h3 class="caption">Charts:</h3>
    <select multiple="multiple" size="20" name="gc_ids[]" style='width: 100%; box-sizing: border-box;'>
      {% for group in game_groups %}
        <option style="font-weight:bold;" value="g{{ group.group_id }}">{{ group.group_name }}</option>
        {% for level in group.levels %}
          <option value="c{{ level.level_id }}" {% if level.level_id in chart_ids %}selected="selected"{% endif %}>&nbsp;&nbsp;&nbsp;&nbsp;{{ level.level_name }}</option>
        {% endfor %}
      {% endfor %}

      {% for level in other_levels %}
        <option value="c{{ level.level_id }}" {% if level.level_id in chart_ids %}selected="selected"{% endif %}>{{ level.level_name }}</option>
      {% endfor %}
    </select>
    <br />

    <h3 class="caption">Lock the selected chart(s) to:</h3>
    <select multiple="multiple" size="20" name="entity_ids[]" style='width: 100%; box-sizing: border-box;'>
      {% for entity in all_entities %}
        <option value="{{ entity.game_entity_id }}" {% if entity.game_entity_id in entity_ids %}selected="selected"{% endif %}>{{ entity.entity_name }}</option>
      {% endfor %}
    </select>
    <br />
    <br />
    Min:
    <select name="min_entities">
      {% for i in range(0, 6) %}
        <option value="{{ i }}" {{ option_selected(i, min_entities) }}>{{ i }}</option>
      {% endfor %}
    </select>
    <br />
    Max:
    <select name="max_entities">
      {% for i in range(0, 6) %}
        <option value="{{ i }}" {{ option_selected(i, max_entities) }}>{{ i }}</option>
      {% endfor %}
    </select>
    <br />
    <br />
    <input type="submit" value="Save changes" />
  </form>
</div>
