<div class="layout--content-primary layout--content-primary-readable">
  <div id="breadcrumb">
    <a href="/">{{ t('general_home') }}</a> &rarr;
    <a href="/games">{{ t('general_games') }}</a> &rarr;
    {{ link_to_game(game) }} &rarr;
    <a href="/game-boards/{{ game.game_id }}">{{ t('gameboard_discussion_board') }}</a> &rarr;
    {{ topic.topic_title }}
  </div>

  <h2><a href="/game-boards/{{ game.game_id }}">Discussion board for {{ game_name }}</a></h2>

  <h3>{{ topic.topic_title }}</h3>

  <table id="game_board_messages" class="zebra_x" border="1">
    {% for message in messages %}
      <tr>
        <td class="userinfo">
          {{ user_avatar_image_tag(message, {}) }}
          <br />
          {{ link_to_user(message) }}
          {{ user_star_image_tags(message) }}
          <br />
          {{ format_datetime(message.message_date) }}
          {% if current_user.user_id == message.user_id %}
            <a href="/game-board-messages/{{ message.message_id }}/edit" title="Edit message">
              <img src="{{ skin_image_url('edit.png') }}" alt="Edit message" />
            </a>
          {% endif %}
        </td>
        <td class="message">
          {{ prettify(message.message_text) }}
          {% if message.edit_date %}
            <br />
            <br />
            <small><i>Last edit: {{ format_datetime(message.edit_date) }}</i></small>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
  <br />

  {% if current_user %}
    <h3>Reply to this topic</h3>
    <form action="/game-board-messages" method="post">
      <input type="hidden" name="topic_id" value="{{ topic.topic_id }}" />
      <textarea name="message_text" rows="12" cols="60" required></textarea>
      <br /><br />
      <input type="submit" value="{{ t('gameboard_post_reply') }}" />
    </form>
    <br />
    {{ t('general_bbcode_explanation')|raw }}
  {% endif %}
  <br />
  <br />
</div>
