<div class="layout--content-primary">
  <div id="breadcrumb" class="clearfix">
    <a href="/">{{ t('general_home') }}</a> &rarr;
    {{ t('latestsubstats_title') }}
  </div>

  <h1>
    {{ title }}
    {% if days_span == 'newweek' or days_span == 'newmonth' %}
      <br />
      <br />
      <font style="color:red;">The selected period is not finished yet.</font>
    {% endif %}
  </h1>
  <h2>({{ debug }})</h2>
  <form action="" method="get" id="customdropdown">
    <select name="days" onchange="this.form.action=this.form.submit();" style="width: 300px;">
      <option value="14"       {{ option_selected(14, days_span) }}        >2 Weeks</option>
      <option value="7"        {{ option_selected(7, days_span) }}         >1 Week</option>
      <option value="6"        {{ option_selected(6, days_span) }}         >6 Days</option>
      <option value="5"        {{ option_selected(5, days_span) }}         >5 Days</option>
      <option value="4"        {{ option_selected(4, days_span) }}         >4 Days</option>
      <option value="3"        {{ option_selected(3, days_span) }}         >3 Days</option>
      <option value="2"        {{ option_selected(2, days_span) }}         >2 Days</option>
      <option value="1"        {{ option_selected(1, days_span) }}         >1 Day</option>
      <option value="week"     {{ option_selected('week', days_span) }}    >Weekly snapshot (Last week)</option>
      <option value="newweek"  {{ option_selected('newweek', days_span) }} >Weekly snapshot (This week)</option>
      <option value="month"    {{ option_selected('month', days_span) }}   >Monthly snapshot (Last month)</option>
      <option value="newmonth" {{ option_selected('newmonth', days_span) }}>Monthly snapshot (This month)</option>
    </select>

    <select name="updates" onchange="this.form.action=this.form.submit();">
      <option value="no" {{ option_selected("no", show_updates) }}>Hide updates</option>
      <option value="yes" {{ option_selected("yes", show_updates) }}>Show updates (This takes a long time)</option>
    </select>
  </form>

  <h2 class="caption">{{ t('latestsubstats_popular_games') }}</h2>
  <table class="zebra">
    <thead>
      <tr>
        <th width="60%" style="text-align:left" >{{ t('general_game') }}</th>
        <th width="10%" style="text-align:right">{{ t('general_charts') }}</th>
        <th width="15%" style="text-align:right"><a href="/latest_subs_stats.php?sort=subs&days={{ days_span }}">{{ t('latestsubstats_new_subs') }}</a></th>
        <th width="15%" style="text-align:right"><a href="/latest_subs_stats.php?sort=rpc&days={{ days_span }}">{{ t('latestsubstats_rpc_increase') }}</a></th>
      </tr>
    </thead>
    <tbody>
    {% for g in game_list %}
      <tr>
        <td style="text-align:left">{{ link_to_game(g) }}</td>
        <td style="text-align:right">{{ g.num_charts|number_format(0) }}</td>
        <td style="text-align:right">
          {{ g.recent_subs|number_format(0) }}
          {% if show_updates == 'yes' %}
            <small>({{ updates_by_game_id[g.game_id].count }} updates)</small>
          {% endif %}
        </td>
        <td style="text-align:right">{{ g.rpc|number_format(2) }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

<div class="layout--sidebar-primary">
  <div class='sidebar-section'>
  <h2 class='sidebar-title'>{{ t('latestsubstats_top_players') }}</h2>
  <div class='sidebar-section-body'>
    <table class="zebra">
      {% for this_user in top_users %}
        <tr>
          <td style="text-align:left">
            {{ link_to_user(this_user) }}
          </td>
          <td style="text-align:right">
            {{ this_user.recent_subs|number_format(0) }}
            {% if show_updates == 'yes' %}
              <small>({{ updates_by_user_id[this_user.user_id].count }} updates)</small>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>

<script language="javascript">
$(document).ready(function(e) {
try { $("#customdropdown select").msDropDown();}
catch(e) {}});
</script>
