{% if show_comments %}
  {% if comments %}
    <h3>{{ comments|length }} {{ t('news_article_comments') }}</h3>

    <div class="comments">
      {% for comment in comments %}
        {{ render_component_with('articles/comment', {'comment': comment}) }}
      {% endfor %}
    </div>
  {% endif %}

  {% if has_access('User') %}
    <h3>{{ t('news_article_leave_comment') }}</h3>

    <form action="/comments/create" method="post" onsubmit="this.elements['submit'].disabled=true;">
      {{ hidden_field('commentable_type', {'commentable_type': 'userpage'}) }}
      {{ hidden_field('commentable_id', {'commentable_id': user.user_id}) }}

      <textarea name="comment" rows="10" cols="50"></textarea>
      <br />
      <input type="submit" name="submit" value="{{ t('general_post_comment') }}" />
    </form>
  {% endif %}
{% endif %}
<script type="text/javascript">
function toggle_comment_mode(element, mode) {
  let comment = element.closest('.comments-comment')
  comment.classList.remove('display');
  comment.classList.remove('edit');
  comment.classList.remove('reply');
  comment.classList.add(mode);
}
</script>
