{% if friends or friended %}
<div style="display: inline-block; width: 40%">
  <h1>{{ t('profilemodules_friend_list_title') }}</h1>
  {% if friends|length == 0 and iamme %}
    <h2>{{ t('profilemodules_friend_list', {'user': user.username}) }}</h2>
    {{ t('profilemodules_your_friend_list_empty') }}
  {% elseif friends %}
    <h2>{{ t('profilemodules_friend_list', {'user': user.username}) }}</h2>
    <ul>
      {% for friend in friends %}
        <li>{{ link_to_user(friend, true) }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if friended|length == 0 and iamme %}
    <h2>{{ t('profilemodules_their_friend_list', {'user': user.username}) }}</h2>
    {{ t('profilemodules_friend_list_empty') }}
  {% elseif friended %}
    <h2>{{ t('profilemodules_their_friend_list', {'user': user.username}) }}</h2>
    <ul>
      {% for friend in friended %}
        <li>{{ link_to_user(friend, true) }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
{% endif %}

<!-- FOLLOWERS LIST -->
{% if follows or followers %}
  <div style="display: inline-block; vertical-align: top; width: 40%">
    <h1>{{ t('profilemodules_follower_list_title') }}</h1>

    {% if follows|length == 0 and iamme %}
      <h2>{{ t('profilemodules_follower_list', {'user': user.username }) }}</h2>
      {{ t('profilemodules_your_follower_list_empty') }}
    {% elseif follows %}
      <h2>{{ t('profilemodules_follower_list', {'user': user.username }) }}</h2>
      <ul>
        {% for relationship in follows %}
          <li>{{ link_to_user(relationship, true) }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if followers|length == 0 and iamme %}
      <h2>{{ t('profilemodules_their_follower_list', {'user': user.username}) }}</h2>
      {{ t('profilemodules_follower_list_empty') }}
    {% elseif followers %}
      <h2>{{ t('profilemodules_their_follower_list', {'user': user.username}) }}</h2>
      <ul>
        {% for relationship in followers %}
          <li>{{ link_to_user(relationship, true) }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endif %}
