<h1>Your rankbuttons</h1>
<h2>This is the list of all of your rankbuttons</h2>
<p>You will find a rankbutton's BBcode next to each graphic, which can be used on our forum or on another forum.</p>
<br />

{% if csr_rank %}
  <img style="vertical-align:middle; padding:5px;" src="/external/rankbutton/{{ user.user_id }}" />
  [url=https://www.cyberscore.me.uk/scoreboards/starboard][img]https://www.cyberscore.me.uk/external/rankbutton/{{ user.user_id }}[/img][/url]
  <br />
{% endif %}

{% if medal_rank %}
  <img style="vertical-align:middle; padding:5px;" src="/external/medaltablebutton/{{ user.user_id }}" />
  [url=https://www.cyberscore.me.uk/scoreboards/medal][img]https://www.cyberscore.me.uk/external/medaltablebutton/{{ user.user_id }}[/img][/url]
  <br />
{% endif %}

{% if trophy_rank %}
  <img style="vertical-align:middle; padding:5px;" src="/external/trophytablebutton/{{ user.user_id }}"/>
  [url=https://www.cyberscore.me.uk/scoreboards/trophy][img]https://www.cyberscore.me.uk/external/trophytablebutton/{{ user.user_id }}[/img][/url]
  <br />
{% endif %}

{% if rainbow_rank %}
  <img style="vertical-align:middle; padding:5px;" src="/external/rainbowbutton/{{ user.user_id }}"/>
  [url=https://www.cyberscore.me.uk/scoreboards/rainbow][img]https://www.cyberscore.me.uk/external/rainbowbutton/{{ user.user_id }}[/img][/url]
  <br />
{% endif %}

{% if challenge_rank %}
  <img style="vertical-align:middle; padding:5px;" src="/external/challengetablebutton/{{ user.user_id }}"/>
  [url=https://www.cyberscore.me.uk/scoreboards/challenge][img]https://www.cyberscore.me.uk/external/challengetablebutton/{{ user.user_id }}[/img][/url]
  <br />
{% endif %}

{% if speedrun_rank %}
  <img style="vertical-align:middle; padding:5px;" src="/external/speedruntablebutton/{{ user.user_id }}"/>
  [url=https://www.cyberscore.me.uk/scoreboards/speedrun][img]https://www.cyberscore.me.uk/external/speedruntablebutton/{{ user.user_id }}[/img][/url]
  <br />
{% endif %}

{% if arcade_rank %}
  <img style="vertical-align:middle; padding:5px;" src="/external/arcadetablebutton/{{ user.user_id }}"/>
  [url=https://www.cyberscore.me.uk/scoreboards/arcade][img]https://www.cyberscore.me.uk/external/arcadetablebutton/{{ user.user_id }}[/img][/url]
  <br />
{% endif %}

{% if solution_rank %}
  <img style="vertical-align:middle; padding:5px;" src="/external/solutiontablebutton/{{ user.user_id }}"/>
  [url=https://www.cyberscore.me.uk/scoreboards/solution][img]https://www.cyberscore.me.uk/external/solutiontablebutton/{{ user.user_id }}[/img][/url]
  <br />
{% endif %}

{% if collectible_rank %}
  <img style="vertical-align:middle; padding:5px;" src="/external/collectibletablebutton/{{ user.user_id }}"/>
  [url=https://www.cyberscore.me.uk/scoreboards/collectible][img]https://www.cyberscore.me.uk/external/collectibletablebutton/{{ user.user_id }}[/img][/url]
  <br />
{% endif %}

{% if incremental_rank %}
  <img style="vertical-align:middle; padding:5px;" src="/external/incrementaltablebutton/{{ user.user_id }}"/>
  [url=https://www.cyberscore.me.uk/scoreboards/incremental][img]https://www.cyberscore.me.uk/external/incrementaltablebutton/{{ user.user_id }}[/img][/url]
  <br />
{% endif %}

{% if proof_rank %}
  <img style="vertical-align:middle; padding:5px;" src="/external/proofbutton/{{ user.user_id }}" />
  [url=https://www.cyberscore.me.uk/scoreboards/proof][img]https://www.cyberscore.me.uk/external/proofbutton/{{ user.user_id }}[/img][/url]
  <br />
{% endif %}

{% if vproof_rank %}
  <img style="vertical-align:middle; padding:5px;" src="/external/videoproofbutton/{{ user.user_id }}" />
  [url=https://www.cyberscore.me.uk/scoreboards/vproof][img]https://www.cyberscore.me.uk/external/videoproofbutton/{{ user.user_id }}[/img][/url]
  <br />
{% endif %}

{% if subs_rank %}
  <img style="vertical-align:middle; padding:5px;" src="/external/subsbutton/{{ user.user_id }}" />
  [url=https://www.cyberscore.me.uk/scoreboards/subs][img]https://www.cyberscore.me.uk/external/subsbutton/{{ user.user_id }}[/img][/url]
  <br />
{% endif %}

{% for game in user_games %}
  <img style="vertical-align:middle; padding:5px;" title="{{ game.game_name }}" src="/external/game_rankbutton/{{ game.game_id }}/0/{{ user.user_id }}" />
  [url=https://www.cyberscore.me.uk/game/{{ game.game_id }}][img]https://www.cyberscore.me.uk/external/game_rankbutton/{{ game.game_id }}/0/{{ user.user_id }}[/img][/url]
  <br />
{% endfor %}
