<div class="submissions-table default-color-{{ default_color }} submissions-table--columns-{{ columns|length }}">
    <div>
      <a href="{{ current_url_with_query({'sort': 'position'}) }}">{{ t('general_rankbutton') }}</a>
    </div>
    <div style="text-align:center;">
      <a href="{{ current_url_with_query({'sort': 'num_subs'}) }}" title="{{ t('general_submissions') }}">
        <img src="/skins4/default/images/record_status/submitted.png" alt="{{ t('general_submissions') }}">
      </a>
    </div>
    <div style="text-align:center;">
      <a href="{{ current_url_with_query({'sort': 'num_approved'}) }}" title="{{ t('game_proven') }}">
        <img src="/skins4/default/images/record_status/approved.png" alt="{{ t('game_proven') }}">
      </a>
    </div>
    <div style="text-align:center;">
      <a href="{{ current_url_with_query({'sort': 'num_approved_v'}) }}" title="{{ t('game_video_proven') }}">
        <img src="/skins4/default/images/record_status/video_approval.png" alt="{{ t('game_video_proven') }}">
      </a>
    </div>
    {% for column in columns %}
      <div style="text-align:center;">
        <a href="{{ current_url_with_query({'sort': column.sort}) }}">
          <img src="{{ column.icon }}" style="max-height: 32px;" alt="{{ column.alt }}" title="{{ column.alt }}"/>
          {% if column.label %}
            <br>
            {{ column.label }}
          {% endif %}
        </a>
          {% if column.label2 %}
            <small>(<a href="{{ current_url_with_query({'sort': column.sort2}) }}">
              {{ column.label2 }}
            </a>)</small>
          {% endif %}
      </div>
    {% endfor %}
    <div style="text-align:right;">
      <div><a href="{{ current_url_with_query({'sort': 'percentage'}) }}">{{ t('profile_points_percent') }}</a></div>
      <div>{{ t('profile_sub_percent') }}</div>
    </div>

  <div class='submissions-table-entry'>
    <div class='submissions-table-entry-rankbutton'>
      {{ global_rankbutton(cache.scoreboard_pos, scoreboard) }}
    </div>
    <div class='submissions-table-entry-body'>
      <div class='submissions-table-entry-name'>
        <a href="/scoreboards/{{ scoreboard }}">{{ scoreboard_label }}</a>
      </div>

      <div class="submissions-table-entry-value">{{ cache.num_subs|number_format(0) }}</div>
      <div class="submissions-table-entry-value">{{ cache.num_approved|number_format(0) }}</div>
      <div class="submissions-table-entry-value">{{ cache.num_approved_v|number_format(0) }}</div>
      {% for column in columns %}
        <div class="submissions-table-entry-value">
          {{ totals[loop.index0]|raw }}
        </div>
      {% endfor %}

      <div class="submissions-table-row-bar" style="width:100%;"></div>
      {% for bar in total_bars %}
        <div class="submissions-table-row-bar submissions-table-row-bar--secondary {{ bar.class }}" style="width:{{ bar.value }}%;"></div>
      {% endfor %}
      <div class="submissions-table-row-bar submissions-table-row-bar--secondary" style="width:100%;"></div>
    </div>
  </div>

  {% for this_game in user_games %}
    <div class='submissions-table-entry'>
      <div class='submissions-table-entry-rankbutton'>
        {{ game_rankbutton(this_game.game_id, this_game.scoreboard_pos, scoreboard) }}
      </div>
      <div class='submissions-table-entry-body'>
        <div class='submissions-table-entry-name'>
          <a href="/game/{{ this_game.game_id }}">{{ this_game.game_name|truncate(80) }}</a>
        </div>
        <div class='submissions-table-entry-percentage'>
          {{ (this_game.percentage * 100)|number_format(1) }}%
        </div>

        <div class="submissions-table-entry-value">
          <a href="/records?user_id={{ user.user_id }}&games={{ this_game.game_id }}&chartstatus={{ chart_status }}" title="Only including eligible charts: {{ this_game.num_subs }}/{{ this_game.eligible_charts }}">
            {{ this_game.num_subs|number_format(0) }}/{{ this_game.eligible_charts|number_format(0) }}
          </a>
        </div>

        <div class="submissions-table-entry-value">
          <a href="/records?user_id={{ user.user_id }}&games={{ this_game.game_id }}&selectstatus=3&chartstatus={{ chart_status }}" title="Only including eligible charts: {{ this_game.num_approved }}/{{ this_game.eligible_charts }}">
            {{ this_game.num_approved|number_format(0) }}/{{ this_game.eligible_charts|number_format(0) }}
          </a>
        </div>
        <div class="submissions-table-entry-value">
          <a href="/records?user_id={{ user.user_id }}&games={{ this_game.game_id }}&selectstatus=3&proof_type=videos&chartstatus={{ chart_status }}" title="Only including eligible charts: {{ this_game.num_approved_v }}/{{ this_game.eligible_charts }}">
            {{ this_game.num_approved_v|number_format(0) }}/{{ this_game.eligible_charts|number_format(0) }}
          </a>
        </div>
        {% set idx = loop.index0 %}
        {% for value in values[idx] %}
          <div class="submissions-table-entry-value">
            {{ value.value|raw }}
          </div>
        {% endfor %}
        <div class="submissions-table-entry-percentage2">
          {{ (this_game.num_subs / this_game.eligible_charts * 100)|number_format(1) }}%
        </div>

        <div class="submissions-table-row-bar" style="width: {{ 100 * this_game.percentage }}%;"></div>
        {% set idx = loop.index0 %}
        {% for bar in bars[idx] %}
          <div class="submissions-table-row-bar submissions-table-row-bar--secondary {{ bar.class }}" style="width: {{ bar.value }}%;"></div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</table>
