<div class="layout--content-primary">
  <div id="breadcrumb" class="clearfix">
    <a href="/">Home</a> &rarr;
    <a href="/translations">Translation Home</a> &rarr;
    Pending suggestions
  </div>

  <h1>Translation</h1>
  <h2>View pending suggestions</h2>

  <p>Make your changes below then click &lsquo;Save Changes&rsquo; to store them in the database.</p>

  <form action="/translations/country-suggestions" method="post" accept-charset="utf8">
    <table class='zebra'>
      <tr>
        <th>Language</th>
        <th>English country name</th>
        <th>Translated country name</th>
        <th>Action</th>
      </tr>
      {% for country in countries %}
        <tr>
          <td>{{ country['language_name'] }}</td>
          <td>{{ country['english_name'] }}</td>
          <td>{{ country['translation'] }}</td>
          <td>
            <select name="action[{{ country['suggestion_id'] }}]">
              <option value="">Do nothing yet</option>
              <option value="activate">Activate</option>
              <option value="delete">Delete</option>
            </select>
          </td>
        </tr>
      {% endfor %}
    </table>
    <br />
    <input type="submit" value="Save Changes" name="submit" />
  </form>
</div>

<div class="layout--sidebar-primary">
  {{ render_component_with("translations/menu", []) }}
</div>
