<div class="layout--content-primary">
  <div id="breadcrumb">
    <a href="/">{{ t('general_home') }}</a> &rarr;
    {{ link_to_game(game_id) }} &rarr;
    <a href="/mod_scripts/edit_game_groups.php?game_id={{ game_id }}">Edit game charts and groups</a> &rarr;
    <a href="/game-rules/{{ game_id }}">Edit game rules</a>
  </div>
  <p>
    Check the <a href="/rules">list of existing rules</a> to get the rule ids.
  </p>

  {% for rule in used_rules %}
  <div class="additional-rules">
    <p style="display: flex;">
      <strong style="min-width: 70px">Rule 
        <a href="/rules/{{ rule.rule_id }}/edit">{{ rule.rule_id }}</a>:</strong>
      <span style="padding-left: 5px;"> {{ prettify(rule.text|trim) }}</span>
    </p>
  </div>
  {% endfor %}

  <form method="post">
    <table class="games-edit-rules zebra">
      <thead>
        <tr>
          <th>Chart</th>
          {% for rule in used_rules %}
            <th>{{ rule.rule_id }}</th>
          {% endfor %}
          <th><button id="games-edit-rules-add">Add rule</button></th>
        </tr>
      </thead>
      {% for group_id, charts in game_charts %}
        <tbody>
          <tr class="group {{ charts[0]['group_ranked'] }}">
            <td onclick="toggle(this)">
              + {{ charts[0]['group_name'] }}
            </td>
            {% for rule in used_rules %}
              <td>
                <input type='checkbox' class='select-rule-for-group'>
                <span class='count'></span>
              </td>
            {% endfor %}
            <td></td>
          </tr>
          {% for chart in charts %}
            <tr class="chart" data-levelid="{{ chart['level_id'] }}">
              <td>{{ chart['level_name'] }}</td>
              {% for rule in used_rules %}
                <td>
                  <input
                    type="checkbox"
                    class="select-rule-for-chart"
                    title="{{ rule.text|trim|e('html_attr') }}"
                    name="rules[{{ chart.level_id }}][{{ rule.rule_id }}]"
                    value="on"
                    {% if rule.rule_id in chart.rules %}checked='checked'{% endif %}
                  />
                </td>
              {% endfor %}
              <td></td>
            </tr>
          {% endfor %}
        </tbody>
      {% endfor %}
    </table>

    <input type="submit" value="Apply changes" />
  </form>
</div>

<script type="text/javascript">
function toggle(e) {
  e.parentNode.classList.toggle('collapsed');
}

function updateGroupCounts() {
  let rules = document.querySelectorAll(".games-edit-rules thead th").length - 2;

  document.querySelectorAll(".games-edit-rules tbody").forEach(function (tbody) {
    let ncharts = tbody.querySelectorAll("tr.chart").length;
    tbody.querySelectorAll("tr.group td").forEach(function (td, index) {
      if (0 < index && index <= rules) {
        let nselected = 0;
        tbody.querySelectorAll(`tr.chart`).forEach(function (tr) {
          if (tr.querySelector(`td:nth-child(${index + 1}) input`).checked) {
            nselected++;
          }
        });
        td.querySelector('.count').innerHTML = `${nselected}/${ncharts}`;
        td.querySelector('input').checked = nselected == ncharts;
      }
    });
  });
}

function toggleRuleInGroup(ev) {
  let tr = ev.target.parentNode.parentNode;
  let index = Array.from(tr.querySelectorAll('td')).indexOf(ev.target.parentNode);

  tr.parentNode.querySelectorAll(`td:nth-child(${index + 1}) input.select-rule-for-chart[type=checkbox]`).forEach(function (e) {
    e.checked = ev.target.checked;
  });

  updateGroupCounts();
}

let rulesAdded = 0;
function addRuleColumn() {
  let tr = document.querySelector(".games-edit-rules thead tr");

  rulesAdded++;
  const newRuleID = rulesAdded;

  let newth = document.createElement("th");
  let input = document.createElement("input");
  input.setAttribute('type', 'text');
  input.setAttribute('name', `rule_ids[${newRuleID}]`);
  newth.appendChild(input);

  tr.insertBefore(newth, tr.querySelector("th:last-child"));

  document.querySelectorAll(".games-edit-rules tbody tr.group").forEach(function (tr) {
    let newtd = document.createElement("td");
    let newcheckbox = document.createElement("input");
    let newspan = document.createElement("span");

    newcheckbox.setAttribute('type', 'checkbox');
    newcheckbox.setAttribute('class', 'select-rule-for-group');

    newspan.setAttribute('class', 'count');

    newtd.appendChild(newcheckbox);
    newtd.appendChild(document.createTextNode(' '));
    newtd.appendChild(newspan);

    tr.insertBefore(newtd, tr.querySelector("td:last-child"));

    newcheckbox.addEventListener('click', toggleRuleInGroup);
  });

  document.querySelectorAll(".games-edit-rules tbody tr.chart").forEach(function (tr) {
    const levelID = tr.dataset.levelid;

    let newth = document.createElement("td");
    let input = document.createElement("input")
    input.setAttribute('type', 'checkbox');
    input.setAttribute('name', `new_rules[${levelID}][${newRuleID}]`);
    input.setAttribute('class', `select-rule-for-chart`);
    input.addEventListener('click', updateGroupCounts);
    newth.appendChild(input);

    tr.insertBefore(newth, tr.querySelector("td:last-child"));
  });
}

document.getElementById("games-edit-rules-add").addEventListener('click', function(ev) {
  ev.preventDefault();

  addRuleColumn();
  updateGroupCounts();
});

document.querySelectorAll(".games-edit-rules input.select-rule-for-chart[type=checkbox]").forEach(function(checkbox) {
  checkbox.addEventListener('click', updateGroupCounts);
});

document.querySelectorAll(".games-edit-rules input.select-rule-for-group[type=checkbox]").forEach(function(checkbox) {
  checkbox.addEventListener('click', toggleRuleInGroup);
});


updateGroupCounts();
</script>
