<div class="layout--content-primary">
  <div>
    <h1>Prediction games currently disabled</h1>

    <p>
      This feature wasn't working properly so it's been disabled. It didn't see
      a lot of use, so it may not return. Let us know if we should bring it
      back.
    </p>
  </div>

{% if false %}
  <div id="breadcrumb" class="clearfix">
    <!-- require_once("predictions/nav.php") -->
  </div>

  {% if enrolled_games|length > 0 %}
    <h2>{{ t('predictions_enrolled') }}</h2>
    <table class="zebra">
      <tr>
        <th>{{ t('games_game_name') }}</th>
        <th>{{ t('predictions_unenrol') }}</th>
      </tr>
      {% for game in enrolled_games %}
        <tr>
          <td><a href="/predictions/{{ game.game_id }}">{{ game.game_name }}</a></td>
          <td>
            <form method='post' action='predictionscript.php'>
              <input type='hidden' name='function' value='unenrol' />
              <input type='hidden' name='game_id' value='{{ game.game_id }}' />
              <input type='submit' value="{{ t('predictions_unenrol') }}" />
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}

  {% if not_enrolled_games|length > 0 %}
    <h2>{{ t('predictions_other') }}</h2>
    <table class="zebra">
      <tr>
        <th>{{ t('games_game_name') }}</th>
        <th>{{ t('predictions_enrol') }}</th>
      </tr>
      {% for game in not_enrolled_games %}
        <tr>
          <td><a href="/predictions/{{ game.game_id }}">{{ game.game_name }}</a></td>
          <td>
            {% if not game.barred %}
              <form method='post' action='predictionscript.php'>
                <input type='hidden' name='function' value='enrol' />
                <input type='hidden' name='game_id' value='{{ game.game_id }}' />
                <input type='submit' value="{{ t('predictions_enrol') }}" />
              </form>
            {% else %}
              {{ t('predictions_barred') }}
            {% endif %}
        </tr>
      {% endfor %}
    </table>
  {% endif %}

  <form action="predictionscript.php" method="post">
    <h3>{{ t('predictions_create_game') }}</h3>
    <input type="hidden" name="function" value="creategame">
    {{ t('games_game_name') }} <input type="text" name="game_name">
    <input type="submit" name="submit" value="{{ t('general_create') }}">
  </form>
{% endif %}
</div>
