<div class="layout--content-primary">
  <div id="breadcrumb">
    <a href="/">{{ t('general_home') }}</a> &rarr;
    <a href="/scoreboards">{{ t('general_scoreboards') }}</a> &rarr;
    {{ text }}
  </div>

  <h1>{{ text }}</h1>
  <p>Submit records to Cyberscore to increase your country's rankings on our overall scoreboards.</p>

  <form action="" method="get">
    View by country:<br/>
    <label><input type="radio" value="country_csr" {{ board == 'country_csr' ? "checked" : "" }}       name="board"> Mainboard (CSR)</label><br/>
    <label><input type="radio" value="country_medals" {{ board == 'country_medals' ? "checked" : "" }} name="board"> Medal Table</label><br/>
    <label><input type="radio" value="country_csp" {{ board == 'country_csp' ? "checked" : "" }}       name="board"> CSP Board</label>
    <br/><br/>
    View by continent:<br/>
    <label><input type="radio" value="continent_csr" {{ board == 'continent_csr' ? "checked" : "" }}       name="board"> Mainboard (CSR)</label><br/>
    <label><input type="radio" value="continent_medals" {{ board == 'continent_medals' ? "checked" : "" }} name="board"> Medal Table</label><br/>
    <label><input type="radio" value="continent_csp" {{ board == 'continent_csp' ? "checked" : "" }}       name="board"> CSP Board</label>

    <script>
      Array.from(document.querySelectorAll('input[type=radio]')).forEach((input) => {
        input.addEventListener('change', (e) => {
          e.target.form.submit();
        });
      });
    </script>
  </form>
  <br /><br />

  <table class="scoreboard">
    {% if board == 'country_medals' or board == 'continent_medals' %}
      <tr>
        <th colspan="3"></th>
        <th class="medals"><img src="{{ skin_image_url('platinummedal.png') }}" width="40" height="40" alt="platinum" /></th>
        <th class="medals"><img src="{{ skin_image_url('goldmedal.png') }}" width="40" height="40" alt="gold medal" /></th>
        <th class="medals"><img src="{{ skin_image_url('silvermedal.png') }}" width="40" height="40" alt="silver medal" /></th>
        <th class="medals"><img src="{{ skin_image_url('bronzemedal.png') }}" width="40" height="40" alt="bronze medal" /></th>
      </tr>
    {% else %}
      <tr>
        <th colspan="3"></th>
        <th>Submissions</th>
        {% if board == 'continent_csr' or board == 'country_csr' %}
          <th>CSR</th>
        {% else %}
          <th>CSP</th>
        {% endif %}
      </tr>
    {% endif %}

    {% for entry in scoreboard %}
      <tbody {{ entry.tr_class }}>
        <tr>
          <td class="pos">{{ entry.pos_content|raw }}</td>
          <td class="user">
            {% if board == 'country_medals' or board == 'country_csr' or board == 'country_csp' %}
              {{ country_flag_image_tag(entry) }}
            {% endif %}
          </td>
          <td class="user">
            {% if entry.country_id %}
              <a href="/scoreboards/starboard?country={{ entry.country_id }}">{{ entry.label }}</a>
            {% else %}
              <a href="/scoreboards/starboard?continent={{ entry.continent }}">{{ entry.label }}</a>
            {% endif %}
            <br />
          </td>
          {% if entry.num_subs %}
            <td>
              {{ entry.num_subs|number_format(0) }}
            </td>
          {% endif %}
          {% if board == 'country_medals' or board == 'continent_medals' %}
            <td class="medals">{{ entry.platinum }}</td>
            <td class="medals">{{ entry.gold }}</td>
            <td class="medals">{{ entry.silver }}</td>
            <td class="medals">{{ entry.bronze }}</td>
          {% else %}
            <td class="data">{{ entry.score|number_format(2) }}</td>
          {% endif %}
        </tr>
      </tbody>
    {% endfor %}
  </table>
</div>
