<h3 class="middle">Submission History</h3>
<table class="usergames">
  {% for entry in subs_history %}
    <tr>
      <td class="name">{{ format_month(entry.original_date, false) }}</td>
      <td class="number">{{ entry.num_subs }} <small>({{ subs_history_updates[entry.year][entry.month] }} updates)</small></td>
    </tr>
  {% endfor %}
</table>
