<h3 class="middle">{{ t('general_submissions') }}</h3>

<table class="usergames">
  <tr class="altrow">
    <td class="name">{{ t('sitestats_subs_total') }}</td>
    <td class="number">{{ record_stats.all_records|number_format }}</td>
  </tr>
  <tr>
    <td class="name">{{ t('sitestats_subs_approved') }}</td>
    <td class="number">{{ record_stats.approved_records|number_format }}</td>
  </tr>
  <tr class="altrow">
    <td class="name">{{ t('sitestats_subs_photo_proof') }}</td>
    <td class="number">{{ record_stats.photo_proofs|number_format }}</td>
  </tr>
  <tr>
    <td class="name">{{ t('sitestats_subs_video_proof') }}</td>
    <td class="number">{{ record_stats.video_proofs|number_format }}</td>
  </tr>
  <tr class="altrow">
    <td class="name">{{ t('sitestats_subs_livestream_proof') }}</td>
    <td class="number">{{ record_stats.livestream_proofs|number_format }}</td>
  </tr>
  <tr class="altrow">
    <td class="name">{{ "Replay proofs" }}</td>
    <td class="number">{{ record_stats.replay_proofs|number_format }}</td>
  </tr>
  <tr>
    <td class="name">{{ t('sitestats_subs_linked_proofs') }}</td>
    <td class="number">{{ num_proof_linked|number_format }}</td>
  </tr>
  <tr class="altrow">
    <td class="name">{{ t('sitestats_subs_pi') }}</td>
    <td class="number">{{ record_stats.pending_records|number_format }}</td>
  </tr>
  <tr>
    <td class="name">{{ t('sitestats_subs_ui') }}</td>
    <td class="number">{{ record_stats.investigated_records|number_format }}</td>
  </tr>
</table>
