<h3 class="middle">Games with the highest number of proven submissions</h3>
<table class="usergames zebra">
  {% for game in mostprovensubmissions %}
    <tr>
      <td class="rank">{{ nth(loop.index) }}</td>
      <td class="name"><a href="/game/{{ game.game_id }}">{{ game.game_name }}</a></td>
      <td class="number">{{ game.count|number_format }} proven submissions</td>
    </tr>
  {% endfor %}
</table>
