<h3 class="middle">Charts with the most submissions tied for first place</h3>
<table class="usergames zebra">
  {% for level in mosttiedcharts %}
    <tr>
      <td class="rank">{{ nth(loop.index) }}</td>
      <td class="name"><a href="/game/{{ level.chartinfo.game_id }}">{{ level.gamename }}</a></td>
      <td class="name"><a href="/group/{{ level.chartinfo.game_id }}/{{ level.chartinfo.group_id }}">{{ level.groupname }}</a></td>
      <td class="name"><a href="/chart/{{ level.level_id }}">{{ level.chartinfo.level_name }}</a></td>
      <td class="number">{{ level.count|number_format }} first place submissions</td>
    </tr>
  {% endfor %}
</table>
