<h3 class="middle">Games with the highest number of platinum medal holders</h3>
<table class="usergames zebra">
  {% for game in most_unique_plats %}
    <tr>
      <td class="rank">{{ nth(loop.index) }}</td>
      <td class="name"><a href="/game/{{ game.game_id }}">{{ game.game_name }}</a></td>
      <td class="number">{{ game.player_count|number_format }} different platinum medal earners</td>
    </tr>
  {% endfor %}
</table>
