<h3 class="middle">Oldest remaining platinums</h3>
<table class="usergames zebra">
  {% for game in remainingplats %}
    <tr>
      <td class="rank">{{ nth(loop.index) }}</td>
      <td class="name" style="max-width: 200px;"><a href="/user/{{ game.user_id }}">{{ game.username }}</a></td>
      <td class="name" style="max-width: 200px;"><a href="/game/{{ game.game_id }}">{{ game.game_name }}</a></td>
      <td class="name" style="max-width: 200px;"><a href="/group/{{ game.game_id }}/{{ game.group_id }}">{{ game.group_name }}</a></td>
      <td class="name" style="max-width: 200px;"><a href="/chart/{{ game.level_id }}">{{ game.chartname }}</a></td>
      <td class="number">{{ game.last_update }} <small>({{ game.days }} days)</small></td>
    </tr>
  {% endfor %}
</table>
