<div class="layout--content-primary layout--content-primary-readable">
  <nav id="breadcrumb">
    <a href="/">{{ t('general_home') }}</a> &rarr;
    <a href="/documentation">{{ t('general_documentation') }}</a> &rarr;
    {{ t('general_faq') }}
  </nav>

  <h1>{{ t('general_faq') }}</h1>

  <h2>{{ t('faq_15_header') }}</h2>
  <p>{{ t('faq_15_content', {'link_rules':"<a href='/site_rules'>",'/link':'</a>'})|raw }}</p>

  <h2>{{ t('faq_1_header') }}</h2>
  <p>{{ prettify(t('faq_1_content')) }}</p>

  <h2>{{ t('faq_2_header') }}</h2>
  <p>{{ prettify(t('faq_2_content')) }}</p>

  <h2>{{ t('faq_3_header') }}</h2>
  <p>{{ prettify(t('faq_3_content')) }}</p>

  <h2>{{ t('faq_14_header') }}</h2>
  <p>{{ t('faq_14_content') }}</p>

  <h2>{{ t('faq_4_header') }}</h2>
  <p>{{ t('faq_4_content') }}</p>

  <h2>{{ t('faq_5_header') }}</h2>
  <ul>
    <li><strong>{{ t('general_csp') }}</strong> = {{ t('faq_5_content_csp') }}</li>
    <li><strong>{{ t('general_csr') }}</strong> = {{ t('faq_5_content_csr') }}</li>
    <li><strong>{{ t('general_rpc') }}</strong> = {{ t('faq_5_content_rpc') }}</li>
  </ul>

  <h2>{{ t('faq_19_header') }}</h2>
  {{ prettify(t('faq_19_content')) }}

  <h2>{{ t('faq_7_header') }}</h2>
  <p>{{ t('faq_7_content', {'link_game_requests':'<a href="/game_requests">','/link':'</a>'})|raw }}</p>

  <h2>{{ t('faq_8_header') }}</h2>
  <p>{{ t('faq_8_content', {'medal_table_link':'<a href="/scoreboards/medal">','/link':'</a>'})|raw }}</p>

  <h2>{{ t('faq_20_header') }}</h2>
  <p>{{ t('faq_20_content', {'trophy_table_link':'<a href="/scoreboards/trophy">','/link':'</a>'})|raw }}</p>

  <h2>{{ t('faq_22_header') }}</h2>
  <p>{{ prettify(t('faq_22_content')) }}</p>

  <h2>{{ t('faq_9_header') }}</h2>
  <p>{{ t('faq_9_content') }}</p>

  <h2>{{ t('faq_10_header') }}</h2>
  <p>{{ t('faq_10_content') }}</p>

  <h2>{{ t('faq_11_header') }}</h2>
  <p>{{ t('faq_11_content') }}</p>

  <h2>{{ t('faq_13_header') }}</h2>
  <p>{{ t('faq_13_content') }}</p>

  <h2>{{ t('faq_16_header') }}</h2>
  <p>{{ t('faq_16_content', {'link_team':'<a href="/team">','link_forum':'<a href="https://forum.cyberscore.me.uk/index?topic=3457.0">','link_Discord':'<a href="https://discord.gg/0ltq5mHzEqHnRc6N">','/link':'</a>'})|raw }}</p>

  <h2>{{ t('faq_21_header') }}</h2>
  <p>{{ t('faq_21_content') }}</p>
</div>
