<div class='layout--primary-content'>
  <div id="breadcrumb">
    <a href="/">{{ t('general_home') }}</a> &rarr;
    <a href="/documentation">{{ t('general_documentation') }}</a> &rarr;
    {{ t('documentation_mechanics_title') }}
  </div>
  <div class="tabbed-modules">
    <div class="tabbed-modules-sidebar">
      <div class="sidebar-navigation">
        {{ render_component_with('tabbed-sidebar', {'sidebar': sidebar, 'src': src, 'name': 'mechanics'}) }}
      </div>
    </div>
    <div class="tabbed-modules-contents">
      <h1>{{ GetLocalisedString('documentation_mechanics_title') }}</h1>
      <p>{{ GetLocalisedString('documentation_mechanics_intro')|raw }}</p>
      <div>
        {{ render_component_with('mechanics/' ~ src, []) }}
      </div>
    </div>
  </div>
</div>
