<div class="layout--content-primary">
  <div id="breadcrumb">
    <a href="/">{{ t('general_home') }}</a>
    &rarr;
    {{ t('search_header', {'string': query}) }}
  </div>

  {% if query_valid %}
    <h1>{{ t('search_header', {'string': query}) }}</h1>
    <br />

    <h2 class="caption">{{ t('general_games') }}</h2>
    {% if games|length == 0 %}
      {{ t('search_no_result') }}
      <br />
    {% else %}
      {% for game in games %}
          <img src="{{ game.boxart.url }}" style="width: 30px; height: 30px;" />
      {% if game.language_code != '' %}[{{ game.language_code|upper }}]{% endif %}
        <a href="game/{{ game.game_id }}">{{ game.game_name }}</a><br />
      {% endfor %}
    {% endif %}
    <br />

    <h2 class="caption">{{ t('general_users') }}</h2>
    {% if users|length == 0 %}
      {{ t('search_no_result') }}
      <br />
    {% else %}
      {% for user in users %}
        <a href="users/{{ user.user_id }}">
          <img src="{{ user.avatar }}" style="width: 30px; height: 30px;" />
          {{ user.username }}
        </a>
        <br />
      {% endfor %}
    {% endif %}
  {% else %}
    {{ t('search_error_short') }}
  {% endif %}
</div>
